/* Relevant SEED styles */
 #site-footer a:link {
	 color:#002a5c;
}
 #site-footer a:hover {
	 color: #f15a22;
}
 .site-top-Title {
	 font-weight: 700;
	 margin: .3em 0 .6em;
	 display: block;
	 font-family: inherit;
	 line-height: 1.1;
	 font-size: 2.75rem;
	 text-rendering: optimizelegibility;
	 background-color: #FFF;
	 box-sizing: border-box;
	 color: #0c2340;
	 cursor: auto;
}
 .site-top-Title a:hover {
	 color: #f15a22;
}
 .site-top-Title a {
	 color: #0c2340;
}
 #site-top, #site-content {
	 margin-top: 1.1em;
}
 .site-top-Title {
	 float: left;
	 width: 100%;
	 margin-bottom: 20px;
}
 .site-top-Title-img {
	 float: left;
	 width: 77;
	 padding-right: 0.75rem;
}
 .container hr {
	 border: 0.5px solid #0c2340;
	 margin: 0.5em 0;
}
 .breadcrumbs {
	 padding-top: .9em;
	 padding-bottom: 0.45em;
	 font-size: .85em
}
 .breadcrumbs span {
	 padding: 0 .2em
}
 .breadcrumbs a {
	 color: #0c2340;
}
 .breadcrumbs a:hover {
	 color: #f15a22;
}
 .breadcrumbs i{
	 color: #f15a22;
}
 body {
	 background-color: #fff;
	 color: #212529;
}
 .align-left {
	 text-align: left;
}
 .align-center {
	 text-align: center;
}
 .align-right {
	 text-align: right;
}
 input, select, textarea {
	 color: #25383B;
}
 a {
	 color: #1a21f9;
}
 strong, b {
	 color: #25383B;
}
 h1, h2, h3, h4, h5, h6 {
	 color: #25383B;
}
 blockquote {
	 border-left-color: rgba(144, 144, 144, 0.25);
}
 code {
	 background: rgba(144, 144, 144, 0.075);
	 border-color: rgba(144, 144, 144, 0.25);
}
 hr {
	 border-bottom-color: rgba(144, 144, 144, 0.25);
}
/* Section/Article */
 section.special, article.special, header.special {
	 text-align: center;
}
 header p {
	 margin: 0 0 1.5em 0;
	 position: relative;
	 font-size: 1.5em;
}
 header h2 + p {
	 font-size: 1.5em;
	 margin-top: -1em;
	 line-height: 1.85em;
}
 header h3 + p {
	 font-size: 1.1em;
	 margin-top: -0.8em;
	 line-height: 1.5em;
}
 header h4 + p, header h5 + p, header h6 + p {
	 font-size: 0.9em;
	 margin-top: -0.6em;
	 line-height: 1.5em;
}
 header.narrow {
	 max-width: 60%;
	 margin-left: auto;
	 margin-right: auto;
}
 @media screen and (max-width: 1280px) {
	 header.narrow {
		 max-width: 75%;
	}
}
 @media screen and (max-width: 980px) {
	 header.narrow {
		 max-width: 100%;
	}
	 header.major {
		 margin-bottom: 2em;
	}
	 header.major h2 {
		 font-size: 2em;
	}
}
 @media screen and (max-width: 736px) {
	 header.major h2 {
		 font-size: 1.5em;
	}
	 header.major p {
		 font-size: 1em;
	}
}
 header p {
	 color: #25383B;
}
/* Form */
 form {
	 margin: 0 0 2em 0;
}
 form ul.actions {
	 margin-top: 4em;
}
 @media screen and (max-width: 736px) {
	 form ul.actions {
		 margin-top: 2em;
	}
}

/* Box */
 .box {
	 border-radius: 2px;
	 border-style: solid;
	 border-width: 1px;
	 margin-bottom: 2em;
	 padding: 1.5em;
}
 .box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
	 margin-bottom: 0;
}
 .box.alt {
	 border: 0;
	 border-radius: 0;
	 padding: 0;
}
 .box {
	 border-color: rgba(144, 144, 144, 0.25);
}
/* Image */
 .image {
	 border-radius: 0;
	 border: 0;
	 display: inline-block;
	 position: relative;
}
 .image img {
	 border-radius: 0;
	 display: block;
}
 .image.left, .image.right {
	 max-width: 40%;
}
 .image.left img, .image.right img {
	 width: 100%;
}
 .image.left {
	 float: left;
	 padding: 0 1.5em 1em 0;
	 top: 0.25em;
}
 .image.right {
	 float: right;
	 padding: 0 0 1em 1.5em;
	 top: 0.25em;
}
 .image.fit {
	 display: block;
	 margin: 0 0 2em 0;
	 width: 100%;
}
 .image.fit img {
	 width: 100%;
}
 .image.main {
	 display: block;
	 margin: 0 0 3em 0;
	 width: 100%;
}
 .image.main img {
	 width: 100%;
}
/* List */
 ol {
	 list-style: decimal;
	 margin: 0 0 2em 0;
	 padding-left: 1.25em;
}
 ul {
	 list-style: disc;
	 margin: 0 0 2em 0;
}
 ul.alt {
	 list-style: none;
	 padding-left: 0;
}
 ul.alt > li {
	 border-top-style: solid;
	 border-top-width: 1px;
	 padding: 0.5em 0;
}
 ul.alt > li:first-child {
	 border-top: 0;
	 padding-top: 0;
}
 ul.icons {
	 cursor: default;
	 list-style: none;
	 padding-left: 0;
}
 ul.icons > li {
	 display: inline-block;
	 padding: 0 1em 0 0;
}
 ul.icons > li:last-child {
	 padding-right: 0;
}
 ul.icons > li .icon:before {
	 font-size: 2em;
}
 ul.actions {
	 cursor: default;
	 list-style: none;
	 padding-left: 0;
}
 ul.actions > li {
	 display: inline-block;
	 padding: 0 1em 0 0;
	 vertical-align: middle;
}
 ul.actions > li:last-child {
	 padding-right: 0;
}
 ul.actions.small > li {
	 padding: 0 0.5em 0 0;
}
 ul.actions.vertical > li {
	 display: block;
	 padding: 1em 0 0 0;
}
 ul.actions.vertical > li:first-child {
	 padding-top: 0;
}
 ul.actions.vertical > li > * {
	 margin-bottom: 0;
}
 ul.actions.vertical.small > li {
	 padding: 0.5em 0 0 0;
}
 ul.actions.vertical.small > li:first-child {
	 padding-top: 0;
}
 ul.actions.fit {
	 display: table;
	 margin-left: -1em;
	 padding: 0;
	 table-layout: fixed;
	 width: calc(100% + 1em);
}
 ul.actions.fit > li {
	 display: table-cell;
	 padding: 0 0 0 1em;
}
 ul.actions.fit > li > * {
	 margin-bottom: 0;
}
 ul.actions.fit.small {
	 margin-left: -0.5em;
	 width: calc(100% + 0.5em);
}
 ul.actions.fit.small > li {
	 padding: 0 0 0 0.5em;
}
 @media screen and (max-width: 480px) {
	 ul.actions {
		 margin: 0 0 2em 0;
	}
	 ul.actions > li {
		 padding: 1em 0 0 0;
		 display: block;
		 text-align: center;
		 width: 100%;
	}
	 ul.actions > li:first-child {
		 padding-top: 0;
	}
	 ul.actions > li > * {
		 width: 100%;
		 margin: 0 !important;
	}
	 ul.actions > li > *.icon:before {
		 margin-left: -2em;
	}
	 ul.actions.small > li {
		 padding: 0.5em 0 0 0;
	}
	 ul.actions.small > li:first-child {
		 padding-top: 0;
	}
}
 dl {
	 margin: 0 0 2em 0;
}
 dl > dt {
	 display: block;
	 font-weight: 700;
	 margin: 0 0 1em 0;
}
 dl > dd {
	 margin-left: 2em;
}
 ul.alt > li {
	 border-top-color: rgba(144, 144, 144, 0.25);
}

/* Feature */
 .feature {
	 display: -moz-flex;
	 display: -webkit-flex;
	 display: -ms-flex;
	 display: flex;
	 -moz-align-items: center;
	 -webkit-align-items: center;
	 -ms-align-items: center;
	 align-items: center;
}
 .feature.left {
	 -moz-flex-direction: row;
	 -webkit-flex-direction: row;
	 -ms-flex-direction: row;
	 flex-direction: row;
}
 .feature.right {
	 -moz-flex-direction: row-reverse;
	 -webkit-flex-direction: row-reverse;
	 -ms-flex-direction: row-reverse;
	 flex-direction: row-reverse;
}
 .feature .image {
	 width: 48%;
}
 .feature .image img {
	 max-width: 100%;
}
 .feature .content {
	 width: 52%;
}
 @media screen and (max-width: 980px) {
	 .feature.left, .feature.right {
		 -moz-flex-direction: column;
		 -webkit-flex-direction: column;
		 -ms-flex-direction: column;
		 flex-direction: column;
	}
	 .feature .image {
		 width: 100%;
	}
	 .feature .image img {
		 width: 100%;
	}
	 .feature .content {
		 width: 100%;
	}
}
 .feature {
	 background-color: #fff;
}
/* Image Grid */
 .image-grid {
	 display: -moz-flex;
	 display: -webkit-flex;
	 display: -ms-flex;
	 display: flex;
	 -moz-flex-wrap: wrap;
	 -webkit-flex-wrap: wrap;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 margin-bottom: 4em;
}
 .image-grid .image {
	 margin: 0;
	 width: 25%;
}
 .image-grid .image img {
	 width: 100%;
}
 @media screen and (max-width: 980px) {
	 .image-grid {
		 margin-bottom: 3em;
	}
	 .image-grid .image {
		 width: 50%;
	}
}
 @media screen and (max-width: 480px) {
	 .image-grid {
		 margin-bottom: 2em;
	}
	 .image-grid .image {
		 width: 100%;
	}
}
/* Wrapper */
 .wrapper.style1 {
	 background-color: #EEE;
	 color: #212529;
}
 .wrapper.style1 a {
	 color: #1a21f9;
}
 .wrapper.style1 strong, .wrapper.style1 b {
	 color: #0c2340;
}
 .wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
	 color: #0c2340;
}
 .wrapper.style1 blockquote {
	 border-left-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style1 hr {
	 border-bottom-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style1 header p {
	 color: #0c2340;
}
 .wrapper.style1 .feature {
	 background-color: #fff;
}
 .wrapper.style1 label {
	 color: #0c2340;
}

 .wrapper.style1 ul.alt > li {
	 border-top-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style2 {
	 background-color: #f1f1f1;
	 color: #212529;
}

 .wrapper.style2 a {
	 color: #1a21f9;
}
 .wrapper.style2 strong, .wrapper.style2 b {
	 color: #0c2340;
}
 .wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
	 color: #0c2340;
}
 .wrapper.style2 blockquote {
	 border-left-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style2 code {
	 background: #fff;
	 border-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style2 hr {
	 border-bottom-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style2 header p {
	 color: #0c2340;
}
 .wrapper.style2 .feature {
	 background-color: #fff;
}
 .wrapper.style2 label {
	 color: #0c2340;
}

 .wrapper.style2 .select-wrapper:before {
	 color: rgba(144, 144, 144, 0.25);
}

 .wrapper.style2 ::-webkit-input-placeholder {
	 color: #bbb !important;
}
 .wrapper.style2 :-moz-placeholder {
	 color: #bbb !important;
}
 .wrapper.style2 ::-moz-placeholder {
	 color: #bbb !important;
}
 .wrapper.style2 :-ms-input-placeholder {
	 color: #bbb !important;
}
 .wrapper.style2 .formerize-placeholder {
	 color: #bbb !important;
}

 .wrapper.style2 ul.alt > li {
	 border-top-color: rgba(144, 144, 144, 0.25);
}


 .wrapper.style3 {
	 background-color: #000;
	 color: #212529;
	 background-attachment: fixed;
	 background-size: cover;
}

 .wrapper.style3 a {
	 color: #1a21f9;
}
 .wrapper.style3 strong, .wrapper.style3 b {
	 color: #FFF;
}
 .wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
	 color: #FFF;
}
 .wrapper.style3 blockquote {
	 border-left-color: rgba(144, 144, 144, 0.25);
}

 .wrapper.style3 hr {
	 border-bottom-color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style3 header p {
	 color: #FFF;
}
 .wrapper.style3 .feature {
	 background-color: #000;
}
 .wrapper.style3 label {
	 color: #FFF;
}
 .wrapper.style3 .select-wrapper:before {
	 color: rgba(144, 144, 144, 0.25);
}
 .wrapper.style3 ::-webkit-input-placeholder {
	 color: #bbb !important;
}
 .wrapper.style3 :-moz-placeholder {
	 color: #bbb !important;
}
 .wrapper.style3 ::-moz-placeholder {
	 color: #bbb !important;
}
 .wrapper.style3 :-ms-input-placeholder {
	 color: #bbb !important;
}
 .wrapper.style3 .formerize-placeholder {
	 color: #bbb !important;
}

 .wrapper.style3 ul.alt > li {
	 border-top-color: rgba(144, 144, 144, 0.25);
}

 .wrapper .tint {
	 z-index: 1;
	 height: 100%;
	 width: 100%;
	 background: rgba(12, 35, 64, 0.7);
}
 .panel-tint {
	 position: relative;
	 cursor: pointer;
}
 .panel-tint:before {
	 content: "";
	 display: block;
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: rgba(12, 35, 64, 0.5);
	 -moz-transition: background 0.3s linear;
	 -webkit-transition: background 0.3s linear;
	 -o-transition: background 0.3s linear;
	 transition: background 0.3s linear;
}
 .container-tint {
	 width: 100%;
	 margin-right: auto;
	 margin-left: auto;
}
 .overlay {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 height: 100%;
	 width: 100%;
	 opacity: 0;
	 transition: 0.5s ease;
	 background-color: rgba(12, 35, 64, 0.65);
	 -webkit-backdrop-filter: blur(3px);
	 backdrop-filter: blur(3px);
}
 .containers:hover .overlay {
	 opacity: 1;
}
 div.containers a, div.today-containers a, div.today-news-containers a, div.apply-buttons a {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 text-decoration: none;
	/* No underlines on the link */
	 z-index: 10;
	/* Places the link above everything else in the div */
	 background-color: #FFF;
	/* Fix to make div clickable in IE */
	 opacity: 0;
	/* Fix to make div clickable in IE */
	 filter: alpha(opacity=1);
	/* Fix to make div clickable in IE */
}
 .blue-bg {
	 background-color: #0c2340;
}
 .position-relative {
	 position: relative !important;
}
 .position-absolute {
	 position: absolute !important;
}
 .valign-center {
	 top: 50%;
	 transform: translateY(-50%);
}
 h3.text-shadow, h4.text-shadow, p.text-shadow, span.text-shadow {
	 text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6) !important;
}
 span.box-text {
	 font-size: 1.75rem;
}
/* Banner */
 #site-banner {
	 padding: 8em 0 6em 0;
	 background-color: #000;
	 color: #212529;
	 background-attachment: fixed;
	 background-size: contain;
	 text-align: center;
}
 #site-banner input, #site-banner select, #site-banner textarea {
	 color: #FFF;
}
 #site-banner a {
	 color: #1a21f9;
}
 #site-banner strong, #site-banner b {
	 color: #FFF;
}
 #site-banner h1, #site-banner h2, #site-banner h3, #site-banner h4, #site-banner h5, #site-banner h6 {
	 color: #FFF;
}
 #site-banner blockquote {
	 border-left-color: rgba(144, 144, 144, 0.25);
}
 #site-banner code {
	 background: #000;
	 border-color: rgba(144, 144, 144, 0.25);
}
 #site-banner hr {
	 border-bottom-color: rgba(144, 144, 144, 0.25);
}

 #site-banner h2 {
	 font-size: 2.5em;
	 margin: 0 0 0.5em 0;
	 padding: 0;
}
 #site-banner p {
	 color: #FFF;
	 font-size: 1.5em;
	 margin-bottom: 1.75em;
	 text-transform: uppercase;
}
 #site-banner .icon {
	 border-radius: 100%;
	 border: solid 2px #FFF;
	 color: #FFF;
	 display: inline-block;
	 font-size: 3em;
	 height: 2.25em;
	 line-height: 1.25em;
	 margin-bottom: 0.5em;
	 padding: 0.5em;
	 width: 2.25em;
}
 .figure-caption {
	 font-size: 90%;
	 color: #000;
}
 .jumbotron .style3 blockquote p {
	 font-size: 0.75em;
	 color: #FFF;
}
 .jumbotron .border {
	 border: 9px solid rgba(255, 255, 255, 0.5) !important;
}
 .grayBoxContainer a {
	 color: #0c2340;
}
 #site-banner{
	 display:none;
}

div.row-container {
  position: relative;
  clear: both;
  border: 0;
  height: 35rem !important;
  min-height: 35rem;
  display: flex;
  flex-wrap: wrap;
}

div.row-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: inherit;
  background-clip: padding-box;
  -webkit-overflow-scrolling: touch;
}
div.background-wrapper {
  backface-visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  background-clip: padding-box;
}

div.background-inner {

}

#hero {
  height: 35rem !important;
  min-height: 35rem;
}

/* Banner */
 #hero-background-image {

   background-attachment: scroll;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat no-repeat;

	 background-color: #fff;
	 color: rgba(255, 255, 255, 1);

   background-blend-mode: multiply;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 border-top: 0;
	 position: relative;
	 text-align: center;
   overflow:hidden;
   width: 100%;
   height: 100%;
}
 #hero h1, #hero h2, #hero h3, #hero h4, #hero h5, #hero h6 {
	 color: #FFF;
}
 #hero p {
	 font-size: 2.6rem;
	 font-weight: bold;
	 color: #ffffff;
}
 #hero > .inner {
   position: relative;
   display: table;
   table-layout: fixed;
   height: 100%;
   min-width: 100%;
   width: auto;

	 -moz-transform: scale(1);
	 -webkit-transform: scale(1);
	 -ms-transform: scale(1);
	 transform: scale(1);
	 -moz-transition: opacity 1s ease, -moz-transform 1s ease;
	 -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	 -ms-transition: opacity 1s ease, -ms-transform 1s ease;
	 transition: opacity 1s ease, transform 1s ease;
	 opacity: 1;
	 position: relative;
	 z-index: 3;
	 margin-top: 2.5em;
}
 #inner {
	 position: relative;
	 opacity: 1;
	 z-index: 10;
}

 #hero > .inner > :last-child {
	 margin-top: 1.1em;
	 margin-bottom: 0;
}

 #hero a {
	 color: rgba(255, 255, 255, 1.0);
	 text-decoration: none;
}
 #hero a:hover {
	 color: #ffffff;
}

#hero {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    width: 100%;
    padding: 0.4rem 0rem;
  }
  a.btn.alt {
  	 background-color: transparent;
     font-size: 1.3rem;
  	 box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
  	 color: #FFFFFF !important;
     width:95%;
  }
}

 @media (min-width: 992px) {
	 div.inner p {
		 padding-left: 8rem;
		 padding-right: 8rem;
	}
}

 @media (max-width: 767.98px) {
   div.row-container {
     height: 45rem !important;
     min-height: 45rem;
   }

	 #hero {
     height: 45rem !important;
     min-height: 45rem;
     ul {
       list-style: none;
       padding-left: 0;
     }
     li {
       width: 100%;
     }
	}
	 #hero .inner {
		 width: 100%;
	}

	 #hero .button {
		 width: 100%;
	}
}



 .blockquote-decoration {
    padding: 13px 0;
    margin: 24px;
    border: 2px solid #f15a22;
    background-color: transparent;
    border-width: 2px 0;
    position: relative;
    float: left;
 }

 .blockquote-decoration:before {
    content: "“";
    top: -37px;
    left: 0px;
 }

 .blockquote-decoration:after {
    content: "”";
    bottom: -78px;
    right: 0;
 }

 .blockquote-decoration:before,
 .blockquote-decoration:after {
    display: block;
    color: #f15a22;
    background-color: white;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    clip: rect(0px, 60px, 54px, 0px);
    z-index: 100;
    font-family: Times;
 }

 blockquote.blockquote {
    padding: 10px 20px 10px 15px;
 }

 blockquote p.endow-quote {
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right: 10px !important;
    margin-left: 20px;
    font-size: 1.15rem;
 }



 /** ANIMATIONS **/

 .kenburns-right {
	-webkit-animation: kenburns-right 28s ease alternate forwards;
  animation: kenburns-right 28s ease alternate forwards;

}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-21 17:35:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-right
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.15) translateX(20px);
            transform: scale(1.15) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.15) translateX(20px);
            transform: scale(1.15) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
