

  
  


<div class="utsaToday-MoreNews">
  <div class="row">
    <div class="col-sm-4">
      <span class="utsaToday-SectionTitle">Spotlight</span>
    </div>
  </div>
  
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.utsa.edu/sombrilla/fall2016/story/feature-campaign.html">
          <img width="100%" src="http://www.utsa.edu/sombrilla/fall2016/img/feature04_lesson_4-3.png"  alt="Feeling Election Fatigue?"/>
        </a>
      </div>
      <div class="col-md-8">
        <span class="spotlightblue">
          <strong>
            <a href="http://www.utsa.edu/sombrilla/fall2016/story/feature-campaign.html">
            Feeling Election Fatigue?
            </a>
          </strong>
          <br/>
          Even though the campaigning is over, some nerves might still be raw among some family and friends. Just in time for the holiday season! A UTSA expert explains how to survive it.
          <p class="spotlightfrom">From Sombrilla Magazine</p>
        </span>
      </div>
    </div>
    <hr>
  
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.utsa.edu/sombrilla/fall2016/story/feature-virtual-reality.html">
          <img width="100%" src="/sombrilla/fall2016/img/feature01_virtuallead_4-3.png"  alt="Altered Realities"/>
        </a>
      </div>
      <div class="col-md-8">
        <span class="spotlightblue">
          <strong>
            <a href="http://www.utsa.edu/sombrilla/fall2016/story/feature-virtual-reality.html">
            Altered Realities
            </a>
          </strong>
          <br/>
          UTSA's use of virtual environments is creating real-world solutions for heart surgeons, autistic children, multiple sclerosis patients, and more.
          <p class="spotlightfrom">From Sombrilla Magazine</p>
        </span>
      </div>
    </div>
    <hr>
  
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.utsa.edu/sombrilla/fall2016/story/alumni-foodies.html">
          <img width="100%" src="http://www.utsa.edu/sombrilla/fall2016/img/alum01_foodies_lead_4-3.png"  alt="True Foodies"/>
        </a>
      </div>
      <div class="col-md-8">
        <span class="spotlightblue">
          <strong>
            <a href="http://www.utsa.edu/sombrilla/fall2016/story/alumni-foodies.html">
            True Foodies
            </a>
          </strong>
          <br/>
          Some of UTSA's alumni are active players in an epicurean renaissance that is helping to revitalize San Antonio's city center.
          <p class="spotlightfrom">From Sombrilla Magazine</p>
        </span>
      </div>
    </div>
    <hr>
  
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.utsa.edu/sombrilla/fall2016/story/plaza-teaching.html">
          <img width="100%" src="http://www.utsa.edu/sombrilla/fall2016/img/plazas01_curriculum_4-3.png"  alt="Inspired Teaching"/>
        </a>
      </div>
      <div class="col-md-8">
        <span class="spotlightblue">
          <strong>
            <a href="http://www.utsa.edu/sombrilla/fall2016/story/plaza-teaching.html">
            Inspired Teaching
            </a>
          </strong>
          <br/>
          Superheroes, Beyonc&#233;, and 18th century tomes are among the topics and tools opening up a world of creative learning for students.
          <p class="spotlightfrom">From Sombrilla Magazine</p>
        </span>
      </div>
    </div>
    <hr>
  
</div>


