

  
  




<div class="col-sm-6">
  <span class="utsaToday-SectionTitle">Meet a Roadrunner</span>

  
    
      
      
      
        <div class="section group img2">
          <a href="http://www.utsa.edu/today/2016/11/jocelyncarnicle.html">
            <img width="100%" src="http://www.utsa.edu/today/images/carnicle1.jpg" alt="Jocelyn Carnicle: Future doctor" max-height="95%"/>
            <h3 class="PODheadlineblue">
                Jocelyn Carnicle&#x3a; Future doctor
            </h3>
          </a>
        </div>
        <hr/>
      
    
   	
  
    
   	
  
    
   	
  
</div>

