

<section class="mt-5 mb-3" id="utsatoday-top">
  <div class="container">
      <div class="col-12">
         <div class="row justify-content-between">
        <div class="col-9 col-sm-6 col-md-4 mb-md-0 mb-sm-2">
          <div class="row">
            <a href="index.html">
              <img alt="UTSA Today Home" class="img-fluid w-100" src="//www.utsa.edu/today/img/utsaTodayLogoBlue.png">
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">

          <div class="row">
              <div class="input-group mb-3">
                  <form action="/today/searchresults.html" class="form-inline w-100" id="cse-search-box-utsa-today">
                  <input name="cx" type="hidden" value="000238266656426684962:z1bmoync9ei">
                  <input aria-describedby="button-addon2" aria-label="UTSA Today search query" class="form-control" id="utsa-today-query" name="q" placeholder="Search" type="text">
                  <div class="input-group-append">
                    <button aria-label="UTSA Today Search" class="btn btn-outline-secondary mb-0 rounded-left gray-bg" id="button-addon2" style="padding: .375rem .75rem;" title="UTSA Today Search" type="submit"><i aria-hidden="true" class="fa fa-search blue-text"></i></button>
                  </div>
                  </form>
                </div>

          </div>
          <div class="row align-items-center">
            <div class="col pl-0 pr-0">
                <span class="smallest font-weight-bold">Thursday, December 13, 2018</span>
            </div>
            <div class="col pl-0 pr-0 text-right">
                <nav>
                  <a arial-label="UTSA on facebook" class="blue-text" href="https://www.facebook.com/utsa" title="UTSA on facebook"><i aria-hidden="true" class="fa fa-facebook utsa-social-circle-top"></i></a>
                  <a arial-label="UTSA on twitter" class="blue-text" href="https://twitter.com/utsa" title="UTSA on twitter"><i aria-hidden="true" class="ml-1 fa fa-twitter utsa-social-circle-top"></i></a>
                  <a arial-label="UTSA on instagram" class="blue-text" href="https://instagram.com/utsa" title="UTSA on instagram"><i aria-hidden="true" class="ml-1 fa fa-instagram utsa-social-circle-top"></i></a>
                  <a arial-label="UTSA on linkedin" class="blue-text" href="http://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521" title="UTSA on linkedin"><i aria-hidden="true" class="ml-1 fa fa-linkedin-square utsa-social-circle-top"></i></a>
                  <a arial-label="UTSA on youtube" class="blue-text" href="https://www.youtube.com/user/utsa" title="UTSA on youtube"><i aria-hidden="true" class="ml-1 fa fa-youtube-play utsa-social-circle-top"></i></a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="site-navigation">
		<div class="container">
			<nav class="navbar-expand">
				<div class="navbar-nav-scroll">
					<ul class="pl-1 pl-md-2 pl-lg-4 navbar-nav d-block pt-0" id="departmentalPageNav">
						<li class="nav-item">
							<a href="categories/roadrunners.html">Meet a Roadrunner</a>
						</li>
						<span class="d-none d-lg-inline text-white"> | </span>
						<li class="nav-item">
							<a href="https://www.utsa.edu/experts">Experts</a>
						</li>
						<span class="d-none d-lg-inline text-white"> | </span>
						<li class="nav-item">
							<a href="/ucm">Communications &amp; Marketing</a>
						</li>
						<span class="d-none d-lg-inline text-white"> | </span>
						<li class="nav-item">
							<a href="/ucm/communications/media-relations/media-contacts.html">For the Media</a>
						</li>
						<span class="d-none d-lg-inline text-white"> | </span>
						<li class="nav-item">
							<a href="/sombrilla/">Sombrilla Magazine</a>
						</li>
						<span class="d-none d-lg-inline text-white"> | </span>
						<li class="nav-item">
							<a href="archives/index.html">News Archive</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
