
<!-- begin photo of the day -->

  
  


<div class="col-sm-6">
  <span class="utsaToday-SectionTitle">Photo of the Day</span>

  
    
    
    <div class="section group img2">
      <a href="/today/2016/12/pod-altar.html">
        <img width="100%" src="/today/images/pod-altar340.jpg" alt="Cultural traditions"  />
        <h3 class="PODheadlineblue">
          Cultural traditions
        </h3>
      </a>
    </div>
  
  <hr>
</div>
<!-- end photo of the day -->

