

<!-- begin more news -->
	<div class="col d-none d-lg-block">
	   <div class="row mb-4 align-items-center">
	       <div class="col-8 bg-orange p-2 text-center">
	           <h3 class="alt-overlay">News</h3>
	       </div>
	       <div class="col-4 text-right">
	           <a aria-label="UTSA Today RSS Feed" class="bluetext" href="/today/rss/" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
	       </div>
	   </div>
	</div>
	<div class="col d-block d-lg-none">
	   <div class="row mb-4 bg-orange align-items-center">
	       <div class="col-10 col-md-9 p-2 text-center">
	           <h3 class="pl-5 alt-overlay">News</h3>
	       </div>
	       <div class="col-2 col-md-3 text-right">
	           <a aria-label="UTSA Today RSS Feed" class="alt-overlay" href="/today/rss/" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
	       </div>
	   </div>
	</div>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-12 pt-md-2 pb-md-2">
			<h3>
				<a class="bluetext" ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
				   Students explore topics of race and identity during new UTSA course
				 </a>
			</h3>
		</div>
	</div>
  <hr>
  <div class="row">
		<div class="col-sm-12">
			<h5 class="m-0">
				<a ga-event-action="/today/morenews.html" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="more-news.html">
					<i aria-hidden="true" class="fa fa-angle-double-right"></i> More news
				</a>
			</h5>
		</div>
	</div>










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































<!-- begin more news -->
  <div class="row">
    <div class="col-sm-12">
      <span class="utsaToday-SectionTitle">News</span>
      <a class="os" href="/today/rss/"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
    </div>
  </div>







      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/whitedeaths.html" data-id="12918">
              UTSA study finds white deaths exceeded births in one-third of states</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/libraryvideo.html" data-id="12920">
              Video: UTSA library archives: History irreplaceable</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/utsabowlgame.html" data-id="12922">
              UTSA to make history at inaugural bowl game in New Mexico</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/cancerdiffuser.html" data-id="12915">
              UTSA study describes new device to treat cancer and other illnesses</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/memorialgarden.html" data-id="12917">
              Student-led project raises thousands to build memorial on UTSA Main Campus</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/wilsongrant.html" data-id="12913">
              UTSA receives $5.29 million grant for brain health research</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/12/agrawalfellow.html" data-id="12914">
              World renowned scientific society honors UTSA's Mauli Agrawal</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/11/fallcommencement.html" data-id="12906">
              More than 3,800 UTSA graduates will cross the commencement stage this semester</a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/11/UEAwards.html" data-id="12907">
              Faculty and Staff: Submit nominations for University Excellence Awards </a>
          </h3>
        </div>
      </div>
      <hr>








      <div class="row">
        <div class="col-sm-12">
          <h3 class="rightnew">
            <a href="/today/2016/11/wallstreetalumnus.html" data-id="12903">
              UTSA finance alumnus finds success on Wall Street</a>
          </h3>
        </div>
      </div>
      <hr>




  <div class="row">
    <div class="col-sm-12">
      <p class="morenews">
        <a href="/today/morenews.html">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i> More news
        </a>
      </p>
    </div>
  </div>
  <hr />

<!-- end more news -->
