
<!-- begin announcements -->
<!--build:css /_files/css/branding-092018.min.css-->
<link rel="stylesheet" href="../../css/app.css">
<link rel="stylesheet" href="../../css/branding.css">
<!--endbuild-->
<link rel="stylesheet" type="text/css" href="/today/css/today.css">
<!-- localy imported bower components (CSS) -->
<link href="/today/components/featherlight/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<link href="/today/components/featherlight/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lte IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="/_files/js/selectivizr-min.js"></script>
  <link rel="stylesheet" type="text/css" href="/_files/css/ie8-fixes.css" />
<![endif]-->
