.border-dark {
    border-color: #223247!important;
}
.dropdown-divider {
    margin: .25rem 0;
}
@media screen and (max-width: 767px) {
  #startupNavbar ul li a {
    font-size: 1.25rem;
  }
  .dropdown-divider {
      margin: .5rem 0;
  }
}
@media screen and (min-width:340px) and (max-width: 767px) {
  .logo {
    width:80px!important;
  }
}
@media screen and (max-width: 340px) {
  .logo {
    width:63px!important;
  }
}

	@media screen and (min-width:991px){
		 .moz-fix{
			 min-height:25px!important;
		 }
	}
