html,
body {
  height: 100%;
  font-family: "ff-meta-web-pro",sans-serif;
}

body {
    -webkit-font-smoothing: anialiased;
    text-rendering: optimizeLegibility;
}

a {
    /*15px;*/ transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}
/*i {
    transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}*/


a:hover {
  text-decoration: none;
}

.orangetext {
  color: $orange;
}

a:hover,
h1 a,
h2 a,
h3 a {
    color: $orange;
}

h1,
h2,
h3,
h4,
h5, {
    font-weight: 700;
    margin: .3em 0 .6em;
}

.bg-inverse {
  color: $white;
  background-color: $blue-dark;
}

#banner {
  background-color: $blue-dark;
  border-bottom: 3px solid $orange;
}

.logo-only div nav a {
  padding-top:1.1rem;
}

.linkmobile {
  font-size: .68rem;
  color: $white;
  transition: all 0.3s ease 0s;
}

.linkmobile:hover {
    color: $orange;
}

.top-link {
  font-size: 1.1rem;
}

.navbar-nav .nav-link {
    font-size: .95rem;
}

.toggle {
  font-size: 32px;
}

div.aboutBanner {
    height:600px;
}

div.admissionsBanner {
}

div.parallaxBanner{
  height: 400px;
}

.jumbotron-heading {
  text-align: left;
  color: #fff;
  margin-top: 1.9em;
  margin-bottom: 0;
  font-size: 7em;
  text-shadow: 2px 2px 8px #101010;
  font-weight: 600;
  letter-spacing: -4px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  height: 450px;
  background-color: white;
  background-size: 100%;
  border-radius: 0;
}

.toptext h2 {
  color: $blue-dark;
  line-height: 2.3rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-weight: normal !important;
}

/*Search DropDown*/
.headerSearchContainer{display: none; background: $blue-dark;}
.headerSearchContainer input {
  left:5%;
  padding: 0.8em 0;
  margin: 0.8em 0 0.8em 0;
  text-indent: 15px;
  width: 90%;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  background: $white;

  .wrapper:after {
    float:right;
    font-family: 'FontAwesome';
    color:$orange;
    font-size:1.25em;
    top:22px;
    right:7%;
    position: relative;
    content: "\f002";
  }

  .wrapper input[type="text"] {
      position: relative;
  }

}

#headerSearchCTA{color: $orange;}
.showSearch{display:block;}
.hideSearch{display:none;}


#logoFull {
  width: 320px;
  max-width: 320px;
}

.logo {
  width:110px!important;
  max-width:110px!important;
}

.wrapper label:before{
   border-left: 0px solid transparent;
}
.wrapper label i.fa{
  color:#f15a22;
}
