html,
body {
  height: 100%;
  font-family: "ff-meta-web-pro",sans-serif;
  -webkit-font-smoothing: anialiased;
  text-rendering: optimizeLegibility;
}

a:hover {
  text-decoration: none;
}

.orangetext {
  color: $orange;
}

a:hover,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
    color: $orange;
}

h1,
h2,
h3,
h4,
h5, {
    font-weight: 700;
    margin: .3em 0 .6em;
}

.bg-inverse {
  color: $white;
  background-color: $blue-dark;
}

#global-header {
  border-bottom: 3px solid #f15a22;
}

.logo-only div nav a {
  padding-top:1.1rem;
}

.navbar-nav {
  //padding-top:10px !important;
}

.navbar-brand {
  margin:0;
  padding:0;
}

.navbar {
   padding: 0px;
}


#startupNavbar ul li {
  /*
  margin-left: 1rem;
  */
}


.bottom-nav-item{
  border-bottom:none !important;
 }

.toggle {
  font-size: 32px;
}

div.aboutBanner {
    height:600px;
}

div.admissionsBanner {
}

div.parallaxBanner{
  height: 400px;
}

.jumbotron-heading {
    text-align: left;
    color: #fff;
    margin-top: 1.9em;
    margin-bottom: 0;
    font-size: 7em;
    text-shadow: 2px 2px 8px #101010;
    font-weight: 600;
    letter-spacing: -4px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  height: 450px;
  background-color: white;
  background-size: 100%;
  border-radius: 0;
}

.toptext h2 {
  color: $blue-dark;
  line-height: 2.3rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-weight: normal !important;
}

/*Search DropDown*/
.headerSearchContainer{display: none; background: $blue-dark;}
.headerSearchContainer input {
  left:5%;
  padding: 0.8em 0;
  margin: 0.8em 0 1.2em 0;
  text-indent: 15px;
  width: 90%;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  background: $white;
}

#headerSearchCTA{color: $orange;}
.showSearch{display:block;}
.hideSearch{display:none;}

.navbar-toggler i {
  color: #FFF;
  font-size: 1.35rem;
}

.navbar-toggler {
  padding-top: 3px;
  padding-left: 0.75em;
  padding-right:0;
}

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
}

.wrapper:after {
  float:right;
  font-family: 'FontAwesome';
  color:$orange;
  font-size:1.25em;
  top:22px;
  right:7%;
  position: relative;
  content: "\f002";
}

.wrapper input[type="text"] {
    position: relative;
}

#global-header section {
  padding: 0 5% 0 5%;
}

#icon-bar nav {
  padding-top: 0.4rem;
  min-width:225px;
}

#icon-bar {
  color: #f15a22;
  background-color: #0c2340;
  padding-top:7px;
}

#icon-bar a {
  font-weight:500;
  color: #f15a22;
}
#icon-bar .top-link span {
  color:#FFF;
}

#icon-bar .nav-link {
    padding-bottom:4px;
    font-size: .95rem;
}

#icon-bar .nav {
  //padding-top: 3px;
  //padding-right:20px;
}

#icon-bar .top-link {
  margin-left: 0.6rem;
  //default size for icons
  font-size: 1.1rem;
}

#icon-bar  span {
  //color: $white;
  //default size for icon text
  font-size: .68rem;
  margin: 0 3px 0 -4px;
  transition: all 0.3s ease 0s;
}

#icon-bar .top-link span:hover {
  color: $orange;
}

#brand-bar {
  background-color: #0c2340;
}

#logoSmall {
  padding: 10px 0 10px 0;
  margin: 7px 0 7px 0;
}

#logoFull {
  padding: 10px 0 10px 0;
  margin: 7px 0 7px 0;
  width: 320px;
  max-width: 320px;
}

.logo {
  width:110px!important;
  max-width:110px!important;
  padding: 10px 0 10px 0;
  margin: 7px 0 7px 0;
}

.hf-text {
  color: #FFF;
  font-family: "ff-dagny-web-pro",sans-serif;
  padding-top:0.4em;
  font-size: 1.50rem;
  font-weight:800;
}

span.hf-verb {
  font-weight:250;
}

#top-level-bar {
  padding: 0 5% 0 5%;
  color: #0c2340;
  background-color: #97a2ae;
}

#top-level-bar a {
  font-size: 1.1rem;
  font-weight:500;
  color: #0c2340;
}

#top-level-bar a:hover {
  color: #f15a22;
}

.wrapper label:before{
   border-left: 0px solid transparent;
}
.wrapper label i.fa{
  color:#f15a22;
}
