
#backToTop{
  background: $orange;
  a{
    color: #fff;
    font-size:18.25pt;
  }
}
#global-footer {
  background: $blue-dark;
  color: #fff;
  border-top: 3px solid $orange;
  font-size: 0.75rem;

  .global-footer-nav, .global-footer-info, .global-footer-copy, .global-footer-social {
    a{color:#fff}
    a:hover{color: $orange;}
  }
  .gray, .gray a {
    color: #8B8B8B;
    background-color: #0c2340;
  }
  .utsa-social-circle {
    font-size: .9rem;
    width: 1.6rem;
    height: 1.6rem;
    line-height:1.6;
    float: none;
    border-radius: 50%;
    border: 2px solid $white;
  }
}
