img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

ul {
    /*padding: 0;*/
    /*line-height: 1.6em;*/
    font-size:.95em;
    /*margin: 0 0 1.2em 1.1em*/
}



hr {
    border: 1px dashed $blue-dark;
    margin: 2em 0;
}

/*==================================*/
/*                                  */
/*                                  */
/*               BUTTONS            */
/*                                  */
/*                                  */
/*==================================*/

      /*Colors for the Buttons*/
      .white{background: white; color: $orange;}
      .white b{color: $orange;}
      /*Hover Effect*/
      .white:hover{background: $orange; color: white;}
      .white:hover span{color: white;}

      .blue{background: $blue-dark; color: white;}
      .blue b, .blue span, .blue i {color: $orange;}
      /*Hover Effect*/
      .blue:hover{background: $orange; color: white !important;}
      .blue:hover span, .blue:hover i {color: white;}

      .orange{background: $orange; color: #ffffff;}
      .orange span, .orange b {color: #ffffff;}
      /*Hover Effect*/
      .orange:hover{background: #ffffff; color: $orange;}
      .orange:hover span{color: $orange;}

      .darkGray {background: #888888; color: #ffffff;}
      .darkGray span, .darkGray b {color:#ffffff;}
      .darkGray:hover{background: $orange;}

.text-left {
  text-align: left !important;
}

.btn {
    margin-bottom: 1rem;
    padding: .7rem;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;
    /*15px;*/ transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}
