
$slick-font-path: "/wp-content/themes/utsa-default/assets/fonts";
$slick-loader-path: "/wp-content/themes/utsa-default/assets/images/";
$slick-dot-color: $blue-dark;
$slick-dot-color-active: $orange;
$slick-dot-size: 12px;
$slick-opacity-not-active: 0.55;
$slick-opacity-default: 1;

$fa-font-path:        "/wp-content/themes/utsa-default/assets/fonts";
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.7.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;
