/* SASS file for bundle.min.css only used for index slides for faster loading */
// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
   @import "../../node_modules/bootstrap/scss/mixins";

/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
   @import "../../node_modules/bootstrap/scss/root";
   @import "../../node_modules/bootstrap/scss/reboot";

/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

   @import "../../node_modules/bootstrap/scss/type";
   @import "../../node_modules/bootstrap/scss/images";
   @import "../../node_modules/bootstrap/scss/code";
   @import "../../node_modules/bootstrap/scss/grid";

   @import "../../node_modules/bootstrap/scss/tables";
   @import "../../node_modules/bootstrap/scss/forms";
   @import "../../node_modules/bootstrap/scss/buttons";
   @import "../../node_modules/bootstrap/scss/transitions";
   @import "../../node_modules/bootstrap/scss/dropdown";
   @import "../../node_modules/bootstrap/scss/button-group";
   @import "../../node_modules/bootstrap/scss/input-group";
   @import "../../node_modules/bootstrap/scss/custom-forms";
   @import "../../node_modules/bootstrap/scss/nav";
   @import "../../node_modules/bootstrap/scss/navbar";
   @import "../../node_modules/bootstrap/scss/card";
   @import "../../node_modules/bootstrap/scss/breadcrumb";
   @import "../../node_modules/bootstrap/scss/pagination";
   @import "../../node_modules/bootstrap/scss/badge";
   @import "../../node_modules/bootstrap/scss/jumbotron";
   @import "../../node_modules/bootstrap/scss/alert";
   @import "../../node_modules/bootstrap/scss/progress";
   @import "../../node_modules/bootstrap/scss/media";
   @import "../../node_modules/bootstrap/scss/list-group";
   @import "../../node_modules/bootstrap/scss/close";
   @import "../../node_modules/bootstrap/scss/modal";
   @import "../../node_modules/bootstrap/scss/tooltip";
   @import "../../node_modules/bootstrap/scss/popover";
   @import "../../node_modules/bootstrap/scss/carousel";
   @import "../../node_modules/bootstrap/scss/utilities";
   @import "../../node_modules/bootstrap/scss/print";


/* --------------------------------------------------------
   Font Awesome
   -------------------------------------------------------- */
@import "../../node_modules/font-awesome/scss/font-awesome";

/* --------------------------------------------------------
   Slick Carousel
   -------------------------------------------------------- */
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";


/* --------------------------------------------------------
   Select 2
   -------------------------------------------------------- */
@import "../_files/components/select2/dist/css/select2.css";

/* --------------------------------------------------------
   UTSA GLOBAL header, footer, responsive breakpoint and top level content styles
   -------------------------------------------------------- */
@import "global-header";
@import "global-footer";
//@import "global-content";
//@import "global-responsive";
//@import 'index/slick';
//@import 'index/select2';
@import 'index/select2-utsa';
@import 'index/index.scss';
