$color-button:       #f15a22;
$color-button-hover: #fff;

#hfContent {
  background-image: url('/mockup/images/mission-fade.png');
  background-size: auto 115%;
  background-position: -138px 0;
  background-repeat: no-repeat;
  transition: opacity 1s ease-out;
}

button.videoPoster {
  opacity:1.0;
  /*
  background-image: url('/mockup/images/mission-fade.png');
  background-size: 100% cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  */
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transition: opacity 1s ease-out;
}

.videoWrapper {
  position: relative;
  height:0;
  width: 100%;
  background-color: #FFF;
  &43 {
    padding-top: 75%;
  }
  &169 {
    padding-top: 56%;
  }
  /*
  -webkit-animation: slide 2.5s forwards;
  -moz-transition: slide 2.5s forwards;
  -o-transition: slide 2.5s forwards;
  transition: slide 2.5s forwards;
  */
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.play-icon {
  font-family: 'FontAwesome';
  color:#FFF;
  position: absolute;
  opacity: 1.0;

  &:before {
    opacity: 1.0;
    font-size: 5.0em;
    font-weight:200;
    content: "\f01d";
    z-index:25;
  }
  /*
  &:hover,
  &:focus {
    &:before {
      color: $color-button-hover;
    }
    &:after {
      color: $color-button-hover;
    }
  }
  */
}

.videoPoster {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  //text-indent: -999em;
  overflow: hidden;
  opacity: 1.0;
  /*
  &:hover,
  &:focus {
    &:before {
      border-color: $color-button-hover;
    }
    &:after {
      border-left-color: $color-button-hover;
    }
  }

  .videoWrapperActive & {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0.5s, 800ms;
    -moz-transition-delay: 0.5s, 800ms;
    transition-delay: 0.5s, 800ms;
  }
  */
}

img.hfLogo {
  height:65px;
}

#hfContent {
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hfContentBox {
  width:100%;
  opacity: 1.0;
}

#hfContentBox hr {
  padding:0;
  margin:0;
  width: 85%;
  border: 2px solid #f15a22;
}

#hfContentBox h2 {
  color: #0c2340;
  font-family: "ff-dagny-web-pro",sans-serif;
  font-size: 1.50rem;
  font-weight:800;
}

span.hf-verb {
  font-weight:250;
}

div.video-pager {
  height:0;
  opacity:0;
}

div.animateHidden {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
}

div.displayed {
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-out;
}

button.vid-active {

}

button.vid {

}
