// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
   @import "../../node_modules/bootstrap/scss/mixins";

/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";

/* --------------------------------------------------------
   Font Awesome
   -------------------------------------------------------- */
@import "../../node_modules/font-awesome/scss/font-awesome";

/* --------------------------------------------------------
   UTSA GLOBAL header, footer, responsive breakpoint and top level content styles
   -------------------------------------------------------- */
@import url("https://use.typekit.net/nww4gxx.css");

@import "global-header";
@import "global-footer";
@import "global-responsive";
