// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";

@media (max-width: 1080px) {
  .mainheadlineblue{
    font-size: 28 !important;
    padding-left: 15px !important;
  }

  .secondaryheadlineblue {
    padding-left: 10px !important;
    font-size: 18 !important;
  }
  .rightnew{
    font-size: 98% !important;
  }
  .utsaToday-MoreNews hr {
        margin: .5em 0 !important;
  }
  .utsaToday-Logo img {
   width:60% !important;
  }
}
@media (max-width: 900px) {
  .rightnew{
    font-size: 92% !important;
    line-height: 1.4rem !important;
  }
}
@media (max-width: 767px) {
  #cse-search-box {
    display: none !important;
  }
  .rightnew{
    font-size: 110% !important;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
  }
  .rightblock {
    padding-left: 15px !important;
    margin-bottom: 2rem;
  }
  .leftblock {
    padding-right: 15px !important;
  }
}
@media (max-width: 480px) {
  .mainheadlineblue {
    background-color: $blue-dark !important;
  font-size: 20 !important;
   line-height: 1.2 !important;
  }
  .mainHighlightMobile img, .mainHighlightMobile2 img, .img2 img {
    min-width: 100% !important;
  }
  .utsaToday-Logo img {
   width:55% !important;
  }
}

.rightblock {
  padding-left: 5px;
}
.leftblock {
  padding-right: 5px;
}

.spotlightblue a {
 color: $blue-dark;
 font-size: 1.3em;
 line-height: 1.2;
}

.utsaToday-MainMenu ul li:hover{
  background: $blue-med;
  height:24px;
}

.fa-1half {
  font-size: 1.4rem;
}

.utsaToday-SectionTitle{
  color: $white !important;
  background-color: $orange;
  padding-left: 15%;
  padding-right: 15%;
}
.event-date {
  font-size: 12px;
}
.event-loc {
  float:left;
  width:100%;
  margin: 0;
  color: $blue-dark;
  font-weight: lighter;
  font-size: 12px;
}

.os{
  float: right;
  color: $blue-med;
  -webkit-transition: all 0.2s ease;
}

.os:hover{
  color: $blue-light;
}

.event-date {
    float: left;
    width: 100%;
    margin: 0 0 0.3em 0;
    color: $orange;
    font-weight: bold;
    font-size: 14px;
}

.event-name a {
  color:$blue-dark;
  border-bottom:0px;
  line-height: 1.2;
  font-weight: bolder;
}

.event-name a:hover {color:$orange-med;}
.event-name h3{margin-bottom: 0.1em;}
.event-name p {
  margin-bottom:10px;
  font-size: 13px;
  font-weight: bold;
  color: $orange;
}

.event-desc {display: none;}

.utsaToday-date {
  float: left;
  font-style: normal !important;
  font-weight: 700;
  font-size: 80%;
}

.rounded {
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
  border:0;
  border:1px solid #e5e7ec;
  float: left;
}

#todaySearch{
  width: 85%;
  padding: 0px 0px 0 10px;
  margin: 0px 0px 15px 0;
}

.colmain {
  margin: 0% 0 0% 1% !important;
}

#utsatoday-nav .nav li {
  border-left: 1px solid $white;
  line-height: 1.75rem;
  padding-bottom: 5px;
  padding-left: 10px;
}
#utsatoday-nav .nav li:first-child { border-left: none; }

#utsatoday-nav .navbar-nav {
    padding-top: 0px !important;
}
.headlineblue {
  background-color: $blue-dark;
  color: $white;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: -1px;
}
.big {
  padding-left: 25px;
  font-size: 2rem;
  line-height: 2.2rem;
  padding-bottom: 25px;

}
.sml {
  font-size: 1.3rem;
  line-height: 1.65rem;

}
.headlineblue:hover {
  color: $blue-light;
}
.rightnew {
  padding-top: 5px;
  padding-bottom: 8px;
  line-height: 1.65rem;
  font-size: 1.05rem;
}
.rightnew a{
  color: $blue-dark;
}
.rightnew a:hover{
  color: $blue-light;
}

  .ads {
    padding: 15px 10px 25px 10px;
    text-align: center;
  }

  .bgblue{
    background-color:$blue-dark-alt;
  }
  .bglblue{
    background-color:#4cbfce;
  }

  .bluetext {
    color: $blue-dark;
  }

  .ads>img {
    width: 95%;
    margin-bottom: 25px;
  }

  a.adsbuttons {
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px 22% 5px 22%;
    color:$blue-dark;
    font-weight: bold;
  }

  a.adsbuttons:hover {
    color: $white;
    background-color: $blue-dark;
  }

  .morenews {
    margin-top: 0px;
    margin-bottom: 2.5em;
    font-size: 115%;
    font-weight: bold;
  }

  .utsaToday-MoreNews {
    margin-bottom: 1em;
    margin-right: 10px;
  }

    hr {
      border-top: 0;
      border-bottom: 1px dotted $gray;
      margin: 1em 0 !important;
    }

    .mainStoryHighlight{
      margin-top: 0px !important;
    }

.whiteContainer {
  padding-top: 20px !important;
}

.utsaToday-Logo img {
 width:55%;
}

.inline { display: none }
.featherlight .legend {
    position: absolute;
    bottom: 0;
    font-size: larger;
    color: white;
}
.spotlightfrom {
  color:#969fb1 !important;
  font-weight: bold;
  font-size: 12px;
}

.spotleftpic {
  min-height:80px;
}

.spotright {
  min-height:52px;
}

.announcements {
  color:#0c2340;
  font-size: 1.2em;

}

.photobottom, .photobottom a{

  padding-top:10px;
  padding-bottom:10px;
  color:$blue-dark;
}

.orangesquare {
  color:$orange;
}

.orangeBackground {
  color: $white;
  background-color: $orange;
  a {
    color: $white;
    &:hover{
      color: $blue-dark;
    }
  }
  i {
    color: $blue-dark;
  }
}

.blueBackground {
  color: $white;
  background-color: $blue-dark;
  &:hover {
    color: $orange;
  }
  a {
    color: $white;
    &:hover{
      color: $orange;
    }
  }
  i {
    color: $orange;
  }
}

#languagesMenu ul {
    list-style-type: none;
    text-align: right;
    li {
    display: inline;
    margin-left: .8em;
}
}

hr {
  border: 1px dashed #0c2340;
  margin: 2em 0;
}

.borderedContent {
  border: 5px solid #dfdfdf;
  padding: 1em;
}
.btn-primary:hover{
  color: $orange;
}

.grayBoxContainer {
    padding: 1.2em;
    background: #f1f1f1;
}

ul.custLinkGroup {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    color: $blue-dark;
    font-weight: 600;
    font-size: .95em;
    border-bottom: none;
    &:hover{
      color: $orange;
    }
  }
  li {
    margin-bottom: .25em;
    &:before {
      content: '\00bb';
      padding-right: .4rem;
      color: $orange;
    }
  }
}

.newswireheader a{
  color:$blue-dark;
  font-size: 1.1rem;
}

.newswireoffice {
  font-size: .75em;
  padding-bottom: 5px;
}

div.acco { position: relative; }
input[type=checkbox] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}
h2.accor {
  font-size: 18px;
  font-weight: 700;
  color: $blue-dark;
  margin: 40px 0 0 0;
}
label {
   cursor: pointer;
}
label {
  position: relative;
  display: block;
  padding-left: 15px;
  line-height: 1.3;
}
label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 0px;
  border-left: 5px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-top: 10px;
}
input[type=checkbox]:checked ~ h2.accor label:before {
  border-left: 5px solid transparent;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  margin-left: -3px;
  margin-top: 13px
}

p.acc {
  max-height: 0;
  overflow: hidden;
  padding-left: 0px;
  transition: max-height 0.4s ease;
  font-size: 80%;
  margin-bottom: 5px;
  color:#777;
}
input[type=checkbox]:checked ~ h2 ~ p.acc {
  max-height: 120px;
}

.hov a:hover {
  color: $blue-dark;
}

.searchbutton {
  margin-left: 5px;
  float:right;
  padding:5 5 5 5;
  background-color:#e5e7ec;
}
.searchtop .btn {
  padding: 0px 5px 2px 5px;
  margin-bottom: 0;
  border-radius: 0;
}
.searchtop .form-control {
  padding: .1rem !important;
  padding-right: 14rem !important;
  border-radius: 0;
}
#departmentalSocialNav {
}

#departmentalSocialNav img {
    width: 26px;
}

.whiteRight {
  border-right:1px solid white;
}

.grayRight {
   border-right: 1px solid #eeeeee;
   padding-right: 1.2em;
}

.fiveTB {
  padding-top:3px;
  padding-bottom:3px;
}

.boxed {
  background: #F4F4F4;
  padding: 1em 1em;
}

.month {
  font-size: 12px;
}

.event-item {
    margin-bottom: 5px;
}

.img-caption {
    font-size: .8rem;
    color: #333;
    font-style: italic;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.img-thumbnail {
  background-color: #cdcdcd;
  margin: 0 20px 10px 20px;
}

.wrapper label:before{
   border-left: 0px solid transparent;
}
.wrapper label i.fa{
  color: $orange;
}
