// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";

.row-head{
  -webkit-box-shadow:0px 2px 2px #cecece;
  -moz-box-shadow:0px 2px 2px #cecece;
  box-shadow:0px 2px 2px #cecece;
  margin-top: .75rem;
  margin-bottom: 2rem;
}
.row-header{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.75rem;
  color:#0c2340;
}
.row-header-orange{
  font-size: 2.75rem;
  color:#f15a22;
}
.row-contents{
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.be-header{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.75rem;
  color:#f15a22;
}
.be-tagline{
  font-size: 1.1rem;
  margin-top: -1rem;
}
.degree-header{
  font-weight: 400;
  font-size: 3.5rem;
  color:#f15a22;
}
.degree-tagline{
  font-size: 2rem;
  margin-top: -1rem;
  line-height: 1.1;
  color:#fff;
}
.carnegie-header, .hispanic-header{
  font-weight: 400;
  font-size: 2.75rem;
  color:#f15a22;
}
.vision-header{
  font-weight: 600;
  font-size: 1.65rem;
  color:#0c2340;
  line-height: 1.1;
}
.vision-tagline{
  font-size: 1.25rem;
  line-height: 1.1;
}
.fa-graduation-cap{
  color:#f15a22;
}
.fa-3 {
  font-size: 4em;
}
.spot-header{
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  color:#f15a22;
}
.spot-img{
  border: 1px solid #f15a22;
}
.col-vision img{
  margin-bottom: .5rem;
}

.carousel-inner{
  max-height:800px;
}

.carousel-caption h5{
  color:#fff;
  font-size: 4rem;
}
.carousel-caption p{
  color:#fff;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: -2rem;
}

.gradient {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 35%;
  background-color: rgba(12,35,64,0.82);
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
position: relative;
opacity: 1;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.bgimg-1 {
background-image: url("//www.utsa.edu/_files/images/parallaxImg/admissions.jpg");
min-height: 100%;
}

.bgimg-2 {
background-image: url("//www.utsa.edu/_files/images/parallaxImg/academics.jpg");
min-height:  100%;
}

.bgimg-3 {
background-image: url("//www.utsa.edu/spotlights/cybersecurity/datacenter-5-1400-600-40.jpg");
min-height: 100%;
}

.bgimg-4 {
background-image: url("//www.utsa.edu/_files/images/parallaxImg/about.jpg");
min-height: 100%;
}

/* UTSA Today Strip Classes */
.mainheadlineblue {
  background-color: rgba(12,35,64,0.95);
  padding: 0.25em 0.4em 0.25em 0.4em;
  line-height: 1;
}

.mainheadlineblue {
  h5 {
    color: $utsa-orange;
    font-size: 1.15em;
    font-weight:normal;
    text-align: left;
  }
  p {
    color: $white;
    font-size: 0.95em;
    font-weight:normal;
    text-align: left;
  }
}

.mainheadlineblue:hover {
  color: #f15a22; }

.mainheadlineblue:hover {
  color: #f15a22; }

/* Event Strip Classes */
.event {
  .day {
    font-size:0.75em;
    text-transform: uppercase;
    text-align:center;
    font-weight:200;
    padding: 0;
    margin:0;
  }

  .month {
    font-size:1.75em;
    text-transform: uppercase;
    text-align:center;
    font-weight:100;
    padding: 0;
    margin:0;
    line-height:0.75em;
  }

  .date {
    font-size:2.75em;
    text-transform:uppercase;
    text-align:center;
    font-style:bold;
    color: $utsa-orange;
    padding: 0;
    margin:0;
    line-height:0.5em;
  }

  h6 {
    padding-top:0.25em;
    font-size: 0.95em;
  }
  p {
    font-size: 0.75em;
    margin:0;
  }
}

#home-05 .details {
  border-right: 2px solid $utsa-orange;
  padding-right:0.25em;
}

#home-05 .info {
  padding-left:0.25em;
}

#home-05 div.row div.event {
  .last {
    border-right: none;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}

.row.row-contents.row-blue{
background: rgba(12,35,64,0.82);
}
.btn-learnmore{
text-transform:uppercase;
padding:10px 30px 10px 30px;
font-size: 1.5rem;
border: 3px solid #f15a22;
background-color:#0c2340;
margin-top: 1rem;
}
#home-slide{
max-height:800px;
}
#carouselExampleIndicators{
min-width:100%;
}

@media only screen and (max-width: 2199px) and (min-width: 2000px) {
  .gradient {
    height: 55%;
  }
  .carousel-caption {
    height: 55%;
  }
  .carousel-caption p{
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 1999px) and (min-width: 1800px) {
  .gradient {
    height: 50%;
  }
  .carousel-caption {
    height: 50%;
  }
  .carousel-caption p{
    font-size: 1.65rem;
  }
}
@media only screen and (max-width: 1799px) and (min-width: 1600px) {
  .gradient {
    height: 42.5%;
  }
  .carousel-caption {
    height: 42.5%;
  }
  .carousel-caption p{
    font-size: 1.55rem;
  }
}

@media screen and (max-width: 1600) {
  .gradient {
    height: 35%;
  }
  .carousel-caption {
    height: 35%;
  }
  .carousel-caption p{
    font-size: 1.75rem;
  }
}


@media only screen and (max-width: 1599px) and (min-width: 1400px) {
  .gradient {
    height: 32.5%;
  }
  .carousel-caption {
    height: 32.5%;
  }
  .carousel-caption h5{
    font-size: 3.5rem;
  }
  .carousel-caption p{
    margin-top: -1.5rem;
    font-size: 1.45rem;
  }
}
@media only screen and (max-width: 1400px) and (min-width: $utsa-max-xl) {
  .gradient {
    height: 32.5%;
  }
  .carousel-caption {
    height: 32.5%;
  }
  .carousel-caption h5{
    font-size: 3.25rem;
  }
  .carousel-caption p{
    margin-top: -1.5rem;
    font-size: 1.35rem;
  }
}

//xl: 1000px
@media screen and (max-width: $utsa-max-xl) {
  .gradient {
    height: 35%;
  }
  .carousel-caption {
    height: 35%;
  }
  .carousel-caption h5{
    font-size:2.25em;
  }
  .carousel-caption p{
    margin-top: -0.75rem;
    font-size: 1.25rem;
  }
}

//lg: 900px,
@media screen and (max-width: $utsa-max-lg) {
  .gradient {
    height: 32%;
  }
  .carousel-caption {
    height: 32%;
  }
  .carousel-caption h5{
    font-size:1.5em;
  }
  .carousel-caption p{
    margin-top: -0.75rem;
    font-size: 1.15rem;
  }
}

//md: 876px,
@media screen and (max-width: $utsa-max-md) {
  .gradient {
    height: 32%;
  }
  .carousel-caption {
    height: 32%;
  }
  .carousel-caption h5{
    font-size:1.4em;
  }
  .carousel-caption p{
    margin-top: -0.75rem;
    font-size: 1.05rem;
  }
}

//sm: 700px,
@media screen and (max-width: $utsa-max-sm) {
  .gradient {
    height: 35%;
  }
  .carousel-caption {
    height: 35%;
  }
  .carousel-caption h5{
    font-size:1.15em;
  }
  .carousel-caption p{
    margin-top: -0.75rem;
    font-size: 1.0rem;
  }
  #home-05 .details {
    border-right: none;
    padding-right:0.25em;
  }
}
//xs: 575px
@media screen and (max-width: $utsa-max-xs) {
  .gradient {
    height: 45%;
  }
  .carousel-caption {
    height: 45%;
  }
  .carousel-caption h5{
    font-size:1.0em;
  }
  .carousel-caption p{
    margin-top: -0.65rem;
    font-size: 0.70rem;
  }
  #home-05 .details {
    border-right: none;
    padding-right:0.25em;
  }
}
