
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
** Military Overrides Styles Start
**/

.bg-center{
  background-color: #a5b3c9;
}
@media screen and (min-width:992px){
  .bg-center{
    background-image:url('/spotlights/military/img/american-flag.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
}

.static-bg{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.static-bg-stars{
  background-attachment: fixed;
  background-image:url('/spotlights/military/img/white-stars-background.gif');
}

.blue-chevron-stars-bg{
  background-image: url('/spotlights/military/img/blue-backg-stars.jpg');
}

.btn{
  white-space: normal;
  border-radius: 0;
}
.light-gray-bg{
  border-radius:5px;
  min-height:900px;
}
span.just-announced{
  font-size: 2.25rem;
  line-height: 1.25;
}
ul.arrowlist {
    font-size: 1.1rem;
}
