
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
** Commencement Overrides Styles Start
**/

.bg-center{
  background-color: #a5b3c9;
  min-height: 275px;
}

.bg-grad{
  background-repeat: no-repeat;
  background-size: auto;
  background-image:url('/spotlights/commencement/img/grad-cap-background.gif');
}
@media screen and (min-width:1650px){
  .bg-grad{
    background-size: cover;
  }
}

.smaller,
.smaller > p {
  font-size: 1.1rem;
}


.btn{
  white-space: normal;
  border-radius: 0;
}

.tint{
   cursor: default;
}
.tint:before {
    background: rgba(12, 35, 64, 0.7);
  }

.bg-white{
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
@media (max-width: 767px){
.pt-sm-5 {
    padding-top: 5rem!important;
  }
.w-75{
  width: 65% !important;
  }
}
