#global-header, #global-footer {
  font-family: "ff-meta-web-pro", sans-serif;
}
/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */
html, body {
  height: 100%;
  -webkit-font-smoothing: anialiased;
  text-rendering: optimizeLegibility;
  font-family: "ff-meta-web-pro", sans-serif;
 }
#mainStory .maintext p{
    font-size:1.35rem;
    line-height: 1.85;
    font-family: "freight-text-pro", serif;
}

p.alttext{
  font-size:1.1rem;
  line-height: 1.85;
  font-family: "freight-text-pro", sans-serif;
  color:black;
}

    #gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 25%;
      z-index: 1;
      background-image: linear-gradient( 0deg, rgba(20, 20, 20, 0.9), 75%, rgba(0, 0, 0, 0));
      background-repeat: repeat-x;
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F2727', endColorstr='#1a82f7', gradientType='0');
    }


.sans-serif {
  font-family: "ff-meta-web-pro", sans-serif;
  color: #636467; }
  .sans-serif .by {
    font-size: 1rem;
    color: black;
    letter-spacing: 1.75px;
    font-weight: bold; }
  .sans-serif .padLR {
    margin-left: 15px;
    margin-right: 15px;
    display: inline; }
  .sans-serif .smlr {
    font-size: .9rem; }
  .modal .sans-serif{
    color: black !important;
    font-size: 1.5 rem !important;
  }
  .moda p {
    font-size: 1rem !important;
    line-height: 1.25 !important;
    margin-top: 5px;
}

a#fdbk_tab {
  background-image: url('http://haldev.utsa.edu/sombrilla/fall2016/img/feedback_trans_tab_black.png');
  background-size: 100%;
  cursor: pointer;
  height: 102px;
  width: 42px;
  left: 0;
  margin-left: -7px;
  overflow: hidden;
  position: fixed;
  text-indent: -100000px;
  top: 30%;
  z-index: 100000; }

a.fdbk_tab_right {
  left: auto !important;
  margin-left: auto !important;
  margin-right: -7px !important;
  right: 0 !important; }

i {
  color: #636467; }

a {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in; }

i {
  transition: all .3s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto\9; }

ul {
  padding: 0;
  line-height: 1.6em;
  margin: 0 0 1.2em 1.1em; }

.botpad {
  margin-bottom: 2.5em; }

hr {
  border-bottom: 2px solid #636467 !important;
  margin: 1.25rem 0 !important;
  border-top: 0; }

a:hover {
  text-decoration: none; }

.orangetext {
  color: #f15a22; }

a:hover,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
  color: #0c2340; }

h1,
h2,
h3,
h4,
h5 {
  margin: .3em 0 .3em; }

  #mainstory .maintext p{
    font-family: "freight-text-pro", serif;
  }

#mainStory .headline {
  color: black;
  font-size: 1.35rem;
  line-height: 1.2;
  margin-top: 15px;
  padding-bottom: 25px; }
  @media screen and (max-width: 768px) {
    #mainStory .headline {
      font-size: 95%;
      padding-bottom: 15px; } }
#mainStory .serif {
  font-family: "ff-meta-web-pro", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 4rem;
  line-height: 1.1; }
  @media screen and (max-width: 1000px) {
    #mainStory .serif {
      font-size: 3.5rem; } }
  @media screen and (max-width: 900px) {
    #mainStory .serif {
      font-size: 3.2rem; } }
  @media screen and (max-width: 768px) {
    #mainStory .serif {
      font-size: 2.4rem; } }
  @media screen and (max-width: 600px) {
    #mainStory .serif {
      font-size: 2.2rem; } }
  #mainStory .serif p {
    color: #636467;
    font-size: 3.5rem; }
    @media screen and (max-width: 900px) {
      #mainStory .serif p {
        font-size: 75%; } }
    @media screen and (max-width: 768px) {
      #mainStory .serif p {
        font-size: 75%; } }
    @media screen and (max-width: 600px) {
      #mainStory .serif p {
        font-size: 75%; } }
    @media screen and (max-width: 500px) {
      #mainStory .serif p {
        font-size: 75%; } }
#mainStory #share .sans-serif {
  margin-left: 10px;
  line-height: 1.4; }
  @media screen and (max-width: 768px) {
    #mainStory #share .sans-serif {
      margin-bottom: 0;
      padding-bottom: 0; } }
#mainStory #share .sharethis {
  color: #636467;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: .8rem; }

#mainStory #share .botpadd {
  margin-bottom: 25px; }
  @media screen and (max-width: 768px) {
    #mainStory #share .botpadd {
      margin-bottom: 15px; } }
#mainStory #share i {
  padding-right: 10px; }
#mainStory #share .rightborder {
  border-right: 2px solid #636467; }
  @media screen and (max-width: 768px) {
    #mainStory #share .rightborder {
      border-right: none; } }
#mainStory #share .leftborder {
  border-left: 2px solid #636467; }
  @media screen and (max-width: 768px) {
    #mainStory #share .leftborder {
      border-left: none; } }
#mainStory .maintext .modal p, #mainStory .maintext .modal h4 {
  margin-left: 0%;
  margin-right: 0%; }
#mainStory .maintext .related p, #mainStory .maintext .related h4 {
  margin-left: 0%;
  margin-right: 0%; }
#mainStory .maintext .small {
  font-size: .75rem; }


#mainStory .maintext p {
  font-size: 1.2rem; }
#mainStory .maintext hr {
  border-bottom: 1px solid #636467 !important; }
#mainStory .maintext .quotebox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: serif;
  font-style: italic;
  font-size: 1.75rem;
  margin-bottom: 35px;
  margin-top: 35px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
  border-left: 50px solid black; }
  #mainStory .maintext .quotebox p {
    font-size: 1.75rem; }
  @media screen and (max-width: 900px) {
    #mainStory .maintext .quotebox {
      margin-bottom: 20px;
      margin-top: 20px;
      padding-top: 25px;
      padding-bottom: 15px; }
      #mainStory .maintext .quotebox p {
        font-size: 1.45rem; } }
  @media screen and (max-width: 768px) {
    #mainStory .maintext .quotebox {
      margin-bottom: 20px;
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 10px; }
      #mainStory .maintext .quotebox p {
        font-size: 1.25rem; } }
  #mainStory .maintext .quotebox p, #mainStory .maintext .quotebox h4 {
    margin-left: 0%;
    margin-right: 0%; }
#mainStory .maintext .caption {
  font-size: .9rem;
  margin-top: 10px; }
#mainStory .thumbnail {
  position: relative;
  max-height:900px;
  overflow:hidden;
   }
  #mainStory .thumbnail .post-content {
    background-color: black;
    opacity: .01;
    bottom: 0;
    min-width: 100%;
    min-height: 200px;
    position: absolute;
    color: #fff; }
    @media screen and (max-width: 1000px) {
      #mainStory .thumbnail .post-content {
        min-height: 185px; } }
    @media screen and (max-width: 900px) {
      #mainStory .thumbnail .post-content {
        min-height: 150px; } }
    @media screen and (max-width: 700px) {
      #mainStory .thumbnail .post-content {
        min-height: 120px; } }
    @media screen and (max-width: 600px) {
      #mainStory .thumbnail .post-content {
        min-height: 100px; } }
  #mainStory .thumbnail .details {
    position: absolute;
    z-index:2;
    left: 0%;
    bottom: 0;
    color: #fff;
    margin-bottom: 10px; }

    @media screen and (min-width: 1800px) {
      #mainStory .thumbnail .details {
        margin-bottom: 40px; } }
    @media screen and (min-width: 1900px) {
      #mainStory .thumbnail .details {
        margin-bottom: 90px; } }
    @media screen and (min-width: 2000px) {
      #mainStory .thumbnail .details {
        margin-bottom: 140px; } }
    @media screen and (min-width: 2100px) {
      #mainStory .thumbnail .details {
        margin-bottom: 190px; } }
    @media screen and (min-width: 2200px) {
      #mainStory .thumbnail .details {
        margin-bottom: 240px; } }
    @media screen and (min-width: 2300px) {
      #mainStory .thumbnail .details {
        margin-bottom: 290px; } }
    @media screen and (min-width: 2400px) {
      #mainStory .thumbnail .details {
        margin-bottom: 340px; } }
    @media screen and (min-width: 2500px) {
      #mainStory .thumbnail .details {
        margin-bottom: 390px; } }
    @media screen and (max-width: 1100px) {
      #mainStory .thumbnail .details {
        left: 2%; } }
    #mainStory .thumbnail .details .whitebox {
      border-bottom: 1px solid #fff;

      text-align: center;
      text-transform: capitalize;
      padding-top: 5px;
      font-size: 1.2rem;
      font-family: sans-serif; }
      @media screen and (max-width: 700px) {
        #mainStory .thumbnail .details .whitebox {
          font-size: .9rem; } }
    #mainStory .thumbnail .details .whitebox2 {
      padding: 10px;

      }

#sombrilla-top {
  margin-top: 2em !important; }
  #sombrilla-top .navbar-toggler .icon-bar {
    background: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  #sombrilla-top .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px; }
  #sombrilla-top .navbar-toggler {
    font-size: 1.25rem;
    line-height: 1; }
  #sombrilla-top .bg-inverse {
    color: #fff;
    background-color: #8b93a4;
    border-radius: 2px;}
  #sombrilla-top .navbar-nav .nav-link {
    padding-bottom: 15px;
    font-size: 1rem; }
    @media screen and (max-width: 1000px) {
      #sombrilla-top .navbar-nav .nav-link {
        font-size: .90rem; } }
  @media screen and (max-width: 1000px) {
    #sombrilla-top .navbar-nav .nav-item + .nav-item {
      margin-left: .85rem; } }
  #sombrilla-top .navbar-nav {
    padding-top: 5px; }
  #sombrilla-top .navbar-brand {
    margin: 0;
    padding: 0; }
  #sombrilla-top .navbar {
    padding: 0px; }
  #sombrilla-top .toggle {
    font-size: 32px; }

#foot {
  font-family: sans-serif;
  color: #f15a22;
  background-color: #55595c;
  padding: 1em 0; }
  #foot h2 {
  font-weight: 200 !important;
  }
  #foot .current {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem; }
  #foot h4 {
    padding-bottom: 5px;
    font-weight: 200 !important; }
  #foot .top {
    color: #f15a22;
    padding-bottom: 1rem; }
    @media screen and (max-width: 600px) {
      #foot .top {
        font-size: 1.25rem; } }
    #foot .top a {
      font-size: 1.25rem; }
      @media screen and (max-width: 600px) {
        #foot .top a {
          font-size: 1.15rem; } }
    #foot .top .table {
      vertical-align: text-top; }
  #foot ul {
    list-style: none;
    margin-left: 0; }
    #foot ul li {
      font-size: .8rem;
      line-height: 1.1rem;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    #foot ul li:last-child {
      border-bottom: none; }
  #foot a {
    color: #fff; }
  #foot a:hover {
    color: #f15a22; }


/* --------------------------------------------------------
   Custom UTSA TODAY specific styles
   -------------------------------------------------------- */
@media (max-width: 1080px) {
  .mainheadlineblue {
    font-size: 28 !important;
    padding-left: 15px !important; }

  .secondaryheadlineblue {
    padding-left: 10px !important;
    font-size: 18 !important; }

  .rightnew {
    font-size: 98% !important; }

  .utsaToday-MoreNews hr {
    margin: .5em 0 !important; }

  .utsaToday-Logo img {
    width: 60% !important; } }
@media (max-width: 900px) {
  .rightnew {
    font-size: 92% !important;
    line-height: 1.4rem !important; } }
@media (max-width: 767px) {
  #cse-search-box {
    display: none !important; }

  .rightnew {
    font-size: 110% !important;
    padding-top: 15px !important;
    padding-bottom: 20px !important; }

  .rightblock {
    padding-left: 15px !important;
    margin-bottom: 2rem; }

  .leftblock {
    padding-right: 15px !important; } }
@media (max-width: 480px) {
  .mainheadlineblue {
    background-color: #0c2340 !important;
    font-size: 20 !important;
    line-height: 1.2 !important; }

  .mainHighlightMobile img, .mainHighlightMobile2 img, .img2 img {
    min-width: 100% !important; }

  .utsaToday-Logo img {
    width: 55% !important; } }
.rightblock {
  padding-left: 5px; }

.leftblock {
  padding-right: 5px; }

.spotlightblue a {
  color: #0c2340;
  font-size: 1.3em;
  line-height: 1.2; }

.utsaToday-MainMenu ul li:hover {
  background: #002a5c;
  height: 24px; }

.fa-1half {
  font-size: 1.4rem; }

.utsaToday-SectionTitle {
  color: #fff !important;
  background-color: #f15a22;
  padding-left: 10%;
  padding-right: 10%; }

.event-date {
  font-size: 12px; }

.event-loc {
  float: left;
  width: 100%;
  margin: 0;
  color: #0c2340;
  font-weight: lighter;
  font-size: 12px; }

.os {
  float: right;
  color: #002a5c;
  -webkit-transition: all 0.2s ease; }

.os:hover {
  color: #0088dd; }

.event-date {
  float: left;
  width: 100%;
  margin: 0 0 0.3em 0;
  color: #f15a22;
  font-weight: bold;
  font-size: 14px; }

.event-name a {
  color: #0c2340;
  border-bottom: 0px;
  line-height: 1.2;
  font-weight: bolder; }

.event-name a:hover {
  color: #f47321; }

.event-name h3 {
  margin-bottom: 0.1em; }

.event-name p {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #f15a22; }

.event-desc {
  display: none; }

.utsaToday-date {
  float: left;
  font-style: normal !important;
  font-weight: 700;
  font-size: 80%; }

.rounded {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border: 0;
  border: 1px solid #e5e7ec;
  float: left; }

#todaySearch {
  width: 85%;
  padding: 0px 0px 0 10px;
  margin: 0px 0px 15px 0; }

.colmain {
  margin: 0% 0 0% 1% !important; }

#utsatoday-nav .nav li {
  border-left: 1px solid #fff;
  line-height: 1.75rem;
  padding-bottom: 5px;
  padding-left: 10px; }

#utsatoday-nav .nav li:first-child {
  border-left: none; }

#utsatoday-nav .navbar-nav {
  padding-top: 0px !important; }

.headlineblue {
  background-color: #0c2340;
  color: #fff;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: -1px; }

.big {
  padding-left: 25px;
  font-size: 2rem;
  line-height: 2.2rem;
  padding-bottom: 25px; }

.sml {
  font-size: 1.3rem;
  line-height: 1.65rem; }

.headlineblue:hover {
  color: #0088dd; }

.rightnew {
  padding-top: 5px;
  padding-bottom: 8px;
  line-height: 1.65rem;
  font-size: 1.05rem; }

.rightnew a {
  color: #0c2340; }

.rightnew a:hover {
  color: #0088dd; }

.ads {
  padding: 15px 10px 25px 10px;
  text-align: center; }

.bgblue {
  background-color: #001641; }

.bglblue {
  background-color: #4cbfce; }

.bluetext {
  color: #0c2340; }

.ads > img {
  width: 95%;
  margin-bottom: 25px; }

a.adsbuttons {
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 22% 5px 22%;
  color: #0c2340;
  font-weight: bold; }

a.adsbuttons:hover {
  color: #fff;
  background-color: #0c2340; }

.morenews {
  margin-top: 0px;
  margin-bottom: 2.5em;
  font-size: 115%;
  font-weight: bold; }

.utsaToday-MoreNews {
  margin-bottom: 1em;
  margin-right: 10px; }

.mainStoryHighlight {
  margin-top: 0px !important; }

.whiteContainer {
  padding-top: 20px !important; }

.utsaToday-Logo img {
  width: 55%; }

.inline {
  display: none; }

.featherlight .legend {
  position: absolute;
  bottom: 0;
  font-size: larger;
  color: white; }

.spotlightfrom {
  color: #969fb1 !important;
  font-weight: bold;
  font-size: 12px; }

.spotleftpic {
  min-height: 80px; }

.spotright {
  min-height: 52px; }

.announcements {
  color: #0c2340;
  font-size: 1.2em; }

.photobottom, .photobottom a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0c2340; }

.orangesquare {
  color: #f15a22; }

.newswireheader a {
  color: #0c2340;
  font-size: 1.1rem; }

.newswireoffice {
  font-size: .75em;
  padding-bottom: 5px; }

div.acco {
  position: relative; }

input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

h2.accor {
  font-size: 18px;
  font-weight: 700;
  color: #0c2340;
  margin: 40px 0 0 0; }

label {
  cursor: pointer; }

label {
  position: relative;
  display: block;
  padding-left: 15px;
  line-height: 1.3; }

label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 0px;
  border-left: 5px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-top: 10px; }

input[type=checkbox]:checked ~ h2.accor label:before {
  border-left: 5px solid transparent;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  margin-left: -3px;
  margin-top: 13px; }

p.acc {
  max-height: 0;
  overflow: hidden;
  padding-left: 0px;
  transition: max-height 0.4s ease;
  font-size: 80%;
  margin-bottom: 5px;
  color: #777; }

input[type=checkbox]:checked ~ h2 ~ p.acc {
  max-height: 120px; }

.hov a:hover {
  color: #0c2340; }

.searchbutton {
  margin-left: 5px;
  float: right;
  padding: 5 5 5 5;
  background-color: #e5e7ec; }

.searchtop .btn {
  padding: 0px 5px 2px 5px;
  margin-bottom: 0;
  border-radius: 0; }

.searchtop .form-control {
  padding: .1rem !important;
  padding-right: 14rem !important;
  border-radius: 0; }

#departmentalSocialNav img {
  width: 26px; }

.whiteRight {
  border-right: 1px solid white; }

.grayRight {
  border-right: 1px solid #eeeeee;
  padding-right: 1.2em; }

.fiveTB {
  padding-top: 3px;
  padding-bottom: 3px; }

.boxed {
  background: #F4F4F4;
  padding: 1em 1em; }

.month {
  font-size: 12px; }

.event-item {
  margin-bottom: 5px; }

.img-caption {
  font-size: .8rem;
  color: #333;
  font-style: italic;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 5px; }

.img-thumbnail {
  background-color: #cdcdcd;
  margin: 0 20px 10px 20px; }

.shareThoughts {
  background-color: #eee;
  padding: 20px 20px 20px 20px;
}
.syt{
  color: #f15a22;
  font-weight: bold;
}
.please{
  font-size: .75rem;
}
#test{
  margin-bottom: 35px;
}

.card{
  border-radius:4px !important;
}
.card img {
  border:none;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.card-text{
  font-size: 80%;
  line-height: 1.25;
  font-family: sans-serif;
}

.rightborderquote{
  margin-left:10%;
}
@media screen and (max-width: 700px) {
  .rightborderquote{
    margin-left:0%;
  } }

.leftborderquote{
  margin-right:10%;
}
@media screen and (max-width: 700px) {
  .leftborderquote{
    margin-right:0%;
  }
}


#at-share-dock {
  z-index:-9999 !important;
  opacity:0 !important;
  display:none !important;
  position:absolute !important;
  left:9999 !important;
}
