<!--Ask Rowdy rowdy-->
<section class="grayBoxContainer" id="askRowdy" style="margin-top:30px">
	<div class="container text-xs-center">
		<h2 style="color:#f15a22;font-weight:700;">Still have a question&#63; Ask Rowdy</h2>
		<form action="http://askrowdy.utsa.edu/" id="Form" method="post" name="Form">
			<input name="__EVENTTARGET" type="hidden" value=""/>
			<input name="__EVENTARGUMENT" type="hidden" value=""/>
			<script>
				<!--
      function __doPostBack(eventTarget, eventArgument) {
        var theform;
        if(window.navigator.appName.toLowerCase().indexOf("microsoft") > -1) {
          theform = document.Form;
        }
        else {
          theform = document.forms["Form"];
        }
        theform.__EVENTTARGET.value = eventTarget.split("$").join(":");
        theform.__EVENTARGUMENT.value = eventArgument;
        theform.submit();
      }
      -->
			</script>
			<input name="interfaceID" type="hidden" value="1"/>
			<input name="id" type="hidden" value="-1"/>
			<input name="requestType" type="hidden"/>
			<input name="source" type="hidden" value="1"/>
			<input class="rowdyQuestion" maxlength="250" name="question" onblur="if(this.value==='') this.value='Ask Rowdy...';" onfocus="if (this.value==this.defaultValue) this.value='';" type="text" value="Ask Rowdy..."/>
		</form>
	</div>
</section>
<!--end ask rowdy-->
