<!-- Current Header 121819 -->
	<div id="global-header">
		<section id="banner">
			<!--start search-->
			<section class="headerSearchContainer">
				<div class="container text-center">
					<form action="https://www.utsa.edu/search/searchresults.html" class="mb-0" id="cse-search-box">
						<input name="cx" type="hidden" value="000238266656426684962:mzli4pte7ko"/>
						<input name="cof" type="hidden" value="FORID:11"/>
						<span style="display: none;">
							<label for="q">Search</label>
						</span>
						<span class="wrapper mb-0 position-relative">
							<label class="pt-4 pl-4 position-absolute" for="search-input">
								<i aria-hidden="true" class="fa fa-lg fa-search secondary orangetext"></i>
								<span class="sr-only">Search icons</span>
							</label>
							<input class="searchfield pl-5" id="q" name="q" onblur="if (this.value == '') {this.value = 'Search UTSA';}" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" size="15" type="text" value="Search UTSA"/>
						</span>
					</form>
				</div>
			</section>
			<!--end search-->
			<!--top navigation icons-->
			<div class="container pt-1">
				<a class="navbar-brand d-inline d-lg-none" data-label="global-header-navbar" href="https://www.utsa.edu">
					<img alt="UTSA" class="logo pt-2 mt-1 pb-2 mb-1" src="/_files/images/logo4_sm.png"/>
				</a>
				<nav class="nav nav-inline navbar-dark float-right align-items-center pt-1 pt-md-2 pt-lg-0">
					<a aria-label="my.utsa.edu" class="nav-link top-link p-0" data-label="global-header" href="https://my.utsa.edu">
						<i aria-hidden="true" class="fa fa-globe orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> myUTSA </span>
					</a>
					<a aria-label="UTSA Today" class="nav-link top-link p-0 ml-3" data-label="global-header" href="https://www.utsa.edu/today">
						<i aria-hidden="true" class="fa fa-newspaper-o orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> UTSA Today </span>
					</a>
					<a aria-label="Visit UTSA" class="nav-link top-link p-0 ml-3" data-label="global-header" href="https://www.utsa.edu/visit">
						<i aria-hidden="true" class="fa fa-map-o orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Visit </span>
					</a>
					<a aria-label="UTSA Directory" class="nav-link top-link p-0 ml-3" data-label="global-header" href="https://www.utsa.edu/directory">
						<i aria-hidden="true" class="fa fa-users orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Directory </span>
					</a>
					<a aria-label="Search UTSA" class="nav-link top-link p-0 ml-3" data-label="global-header" href="#" id="headerSearchCTA">
						<i aria-hidden="true" class="fa fa-search orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Search </span>
					</a>
					<!-- hidden-lg-up float-xs-right -->
					<button class="navbar-toggler border-0 d-inline d-lg-none ml-3 pl-1 pr-1" data-label="global-header-burger" data-target="#startupNavbar" data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			<!--top level navigation-->
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark p-0 w-100 align-items-end">
					<a class="navbar-brand d-none d-lg-inline" data-label="global-header-navbar" href="https://www.utsa.edu">
						<!--width="320" -->
						<img alt="UTSA" class="d-none d-xl-inline pb-1" id="logoFull" src="/_files/images/logo4.png"/>
						<img alt="UTSA" class="logo d-none d-lg-inline d-xl-none pb-1" id="logoSmall" src="/_files/images/logo4_sm.png" width="95"/>
						<!-- [if IE]>
						<style>
          .logoFull {
            width: 320px!important;
          }
          .logo {
            width: 100px;
          }
          </style>
						<![endif]-->
					</a>
					<div class="collapse navbar-collapse" id="startupNavbar">
						<ul class="nav ml-auto navbar-nav">
							<li class="nav-item mt-2 mt-lg-0">
								<a class="nav-link" data-label="global-header-navbar" href="https://www.utsa.edu/about">About</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="https://www.utsa.edu/admissions">Admissions</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="https://www.utsa.edu/academics">Academics</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://research.utsa.edu">Research</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="https://www.utsa.edu/campuslife">Campus Life</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://giving.utsa.edu/">Giving</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://goutsa.com">Athletics</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="https://alumni.utsa.edu">Alumni</a>
							</li>
							<div class="dropdown-divider border-dark"></div>
							<li class="nav-item mb-2 mb-lg-0">
								<a class="nav-link pr-0" data-label="global-header-navbar" href="https://www.utsa.edu/today">News</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	</div>
