<div id="global-header">
	<section id="banner">
		<div class="container">
			<nav class="navbar navbar-dark">
				<a class="navbar-brand" data-label="global-header-navbar" href="//www.utsa.edu" >
					<!--width="320" -->
					<img alt="UTSA" id="logoFull" class="d-none d-lg-none d-xl-inline" src="/_files/images/logo4.png"/>
					<img alt="UTSA" id="logoSmall" class="logo d-inline d-xl-none hidden-xl-up hidden-md-down" src="/_files/images/logo4_sm.png" width="95" />
					<!-- [if IE]>
					<style>
          .logoFull {
            width: 320px!important;
          }
          .logo {
            width: 100px;
          }
          </style>
					<![endif]-->
				</a>
			</nav>
		</div>
	</section>
</div>
