<header id="global-header" style="">
	<!--top navigation icons-->
	<section id="icon-bar">
		<nav class="nav text-right justify-content-end container">
			<a aria-label="my.utsa.edu" class=" top-link" data-label="global-header" href="http://my.utsa.edu">
				<i aria-hidden="true" class="fa fa-globe ">&#160;</i>
				<span class="d-none d-lg-inline d-xl-inline">myUTSA</span>
			</a>
			<a aria-label="UTSA Today" class=" top-link" data-label="global-header" href="/today">
				<i aria-hidden="true" class="fa fa-newspaper-o ">&#160;</i>
				<span class=" d-none d-lg-inline d-xl-inline">UTSA Today</span>
			</a>
			<a aria-label="Visit UTSA" class=" top-link" data-label="global-header" href="/visit">
				<i aria-hidden="true" class="fa fa-map-o ">&#160;</i>
				<span class=" d-none d-lg-inline d-xl-inline">Visit</span>
			</a>
			<a aria-label="UTSA Directory" class=" top-link" data-label="global-header" href="/directory">
				<i aria-hidden="true" class="fa fa-users ">&#160;</i>
				<span class=" d-none d-lg-inline d-xl-inline">Directory</span>
			</a>
			<a aria-label="Search UTSA" class=" top-link" data-label="global-header" href="#" id="headerSearchCTA">
				<i aria-hidden="true" class="fa fa-search ">&#160;</i>
				<span class=" d-none d-lg-inline d-xl-inline">Search</span>
			</a>

			<!-- hidden-lg-up float-xs-right -->
			<button class="navbar-toggler d-inline d-lg-none d-xl-none justify-content-end"
				type="button"
				data-toggle="collapse"
				data-target="#startupNavbar"
				aria-controls="startupNavbar"
				aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fa fa-bars" aria-hidden="true"></i>
  		</button>
		</nav>
	</section>

	<!-- ~~ historic futures ~~ -->
	<section id="brand-bar">
		<nav class="navbar navbar-dark container">
			<div>
				<a data-label="global-header-navbar" href="//www.utsa.edu">
					<!--width="320" -->
					<img alt="UTSA" id="logoFull" class="d-none d-lg-none d-xl-inline" src="/_files/images/logo4.png"/>
					<img alt="UTSA" id="logoSmall" class="logo  d-xl-none hidden-xl-up hidden-md-down" src="/_files/images/logo4_sm.png" width="95"/>
					<!-- [if IE]>
					<style>
					.logoFull {
						width: 320px!important;
					}
					.logo {
						width: 100px;
					}
					</style>
					<![endif]-->
				</a>
			</div>
			<div class="text-right hf-text d-inline">
				<span class="hf-verb">Creating</span>&nbsp;<span>Historic&nbsp;Futures</span>
			</div>
		</nav>
	</section>
	<!-- end ~~ historic futures ~~ -->

		<!--top level navigation-->
		<section id="top-level-bar">
			<nav  class="navbar navbar-expand-lg navbar-dark container">
				<div class="collapse navbar-collapse mobileMenuSlider" id="startupNavbar">
					<ul class="nav navbar-nav mr-auto"></ul>
					<ul class="nav navbar-nav float-md-left float-lg-right">
						<li class="nav-item">
							<a class="nav-link top-nav-link" ga-event-action="/about" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/about/index.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/admissions" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/admissions/index.html">Admissions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/academics" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/academics/index.html">Academics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/research" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/research">Research</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/campuslife" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/campuslife/index.html">Campus Life</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/community" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/community/index.html">Community</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="http://goutsa.com" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="http://goutsa.com">Athletics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="http://alumni.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="http://alumni.utsa.edu">Alumni</a>
						</li>
						<li class="nav-item bottom-nav-item">
							<a class="nav-link" ga-event-action="https://giving.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="https://giving.utsa.edu">Giving</a>
						</li>
					</ul>
				</div>
			</nav>
		</section>
</header>
