<section id="global-footer">
		<div class="d-block d-sm-none pt-3 pb-3 text-center font-weight-normal text-uppercase" id="backToTop">
			<a aria-label="Back to Top" href="#">Back to Top

				<i aria-hidden="true" class="fa fa-lg fa-angle-double-up"></i>
			</a>
		</div>
		<div class="container text-center pt-3 pb-3">
			<div class="row">
				<div class="col-lg-8 text-lg-left" itemscope="" itemtype="http://schema.org/Organization">
					<div class="global-footer-info pb-1">
						<span itemprop="name">&#169; 2020 The University of Texas at San Antonio</span>
						<span class="gray pl-1 pr-1 d-none d-sm-inline">|</span>
						<br class="d-block d-sm-none"/>
						<span itemprop="address">One UTSA Circle San Antonio, TX 78249</span>
						<span class="gray pl-1 pr-2 d-none d-md-inline">|</span>
						<br class="d-block d-md-none"/>
						<span>Information</span>
						<span itemprop="telephone">
							<a data-label="global-footer" href="tel:210-458-4011">210-458-4011</a>
						</span>
					</div>
					<div class="global-footer-nav pt-1 pb-1">
						<a data-label="global-footer" href="https://alerts.utsa.edu">Campus Alerts</a>
						<span class="gray pl-1 pr-1">|</span>
						<a data-label="global-footer" href="https://jobs.utsa.edu">Jobs</a>
						<span class="gray pl-1 pr-1">|</span>
						<a data-label="global-footer" href="https://www.utsa.edu/policies/reqlinks">Required Links</a>
						<span class="gray pl-1 pr-1 d-none d-sm-inline">|</span>
						<br class="d-block d-sm-none"/>
						<a data-label="global-footer" href="https://www.utsa.edu/policies/index">Policies</a>
						<span class="gray pl-1 pr-1">|</span>
						<a data-label="global-footer" href="https://www.utsystem.edu">UT System</a>
						<span class="gray pl-1 pr-1">|</span>
						<a data-label="global-footer" href="https://www.utsa.edu/Compliance/Hotline.html">Report Fraud</a>
						<span class="gray pl-1 pr-1 d-none d-md-inline">|</span>
						<br class="d-block d-md-none"/>
						<a data-label="global-footer" href="https://cm.maxient.com/reportingform.php?UnivofTexasSanAntonio&amp;layout_id=5">Nondiscrimination and Title IX</a>
						<span class="gray pl-1 pr-1 d-inline d-lg-none d-xl-inline">|</span>
						<br class="d-none d-lg-block d-xl-none"/>
						<a data-label="global-footer" href="https://www.utsa.edu/mental-health-resources/">Counseling/Mental Health</a>
						<span class="gray pl-1 pr-1">|</span>
						<a data-label="global-footer" href="https://www.utsa.edu/publicsafety/pd/clery_compliance/">Clery Information</a>
					</div>
					<div class="global-footer-copy pt-1 pb-2 pb-lg-0 gray">
						<a data-label="global-footer" href="https://www.utsa.edu/ucm/">Produced by University Communications and Marketing</a>
					</div>
				</div>
				<div class="col-lg global-footer-social text-xs-center text-lg-right pt-1">
					<a aria-label="UTSA on Facebook" data-label="global-footer-social" href="https://www.facebook.com/utsa">
						<i aria-hidden="true" class="fa fa-facebook utsa-social-circle text-center"></i>
					</a>
					<a aria-label="UTSA on Twitter" class="pl-1" data-label="global-footer-social" href="https://twitter.com/utsa">
						<i aria-hidden="true" class="fa fa-twitter utsa-social-circle text-center"></i>
					</a>
					<a aria-label="UTSA on YouTube" class="pl-1" data-label="global-footer-social" href="https://www.youtube.com/user/utsa">
						<i aria-hidden="true" class="fa fa-youtube-play utsa-social-circle text-center"></i>
					</a>
					<a aria-label="UTSA on LinkedIn" class="pl-1" data-label="global-footer-social" href="/linkedin-utsa">
						<i aria-hidden="true" class="fa fa-linkedin-square utsa-social-circle text-center"></i>
					</a>
					<a aria-label="UTSA on Instagram" class="pl-1" data-label="global-footer-social" href="https://www.instagram.com/utsa/">
						<i aria-hidden="true" class="fa fa-instagram utsa-social-circle text-center"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
