<!--
THIS IS NOW THE LEGACY HEADER/FOOTER  **** DO NOT USE ****
THE LATEST HEADER/FOOTER SHOULD BE global-footer-092017
--->
<div id="global-footer">
	<section class="hidden-md-up" id="backToTop">
		<div class="container">
			<a ga-event-action="BackToTop" ga-event-category="footerClick" ga-event-label="global-footer" ga-on="click" href="#">Back to Top</a>
		</div>
	</section>
	<section class="text-xs-center" id="globalFooterContainer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-md-left" itemscope="" itemtype="http://schema.org/Organization">
					<p class="info">&#169; 2017
						<span itemprop="name">The University of Texas at San Antonio</span>
						<span class="pipes">&#160;|&#160;</span>
						<span itemprop="address">One UTSA Circle San Antonio, TX 78249</span>
						<span class="pipes">&#160;|&#160;</span>Information
						<span itemprop="telephone">
							<a ga-event-action="tel:210-458-4011" ga-event-category="globalFooterClick" ga-event-label="global-footer-info" ga-on="click" href="tel:210-458-4011" style="color:white;">210-458-4011</a>
						</span>
					</p>
					<nav id="globalFooterNav">
						<a ga-event-action="http://alerts.utsa.edu" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="http://alerts.utsa.edu">Campus Alerts</a>
						<span class="pipes"> | </span>
						<a ga-event-action="https://jobs.utsa.edu" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="https://jobs.utsa.edu">Jobs</a>
						<span class="pipes"> | </span>
						<a ga-event-action="https://www.utsa.edu/policies/reqlinks.html" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="/policies/reqlinks">Required Links</a>
						<span class="pipes"> | </span>
						<a ga-event-action="https://www.utsa.edu/policies" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="/policies/index">Policies</a>
						<span class="pipes"> | </span>
						<a ga-event-action="http://www.utsystem.edu" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="https://www.utsystem.edu">UT System</a>
						<span class="pipes"> | </span>
						<a ga-event-action="https://www.utsa.edu/Compliance/Hotline.html" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="https://www.utsa.edu/Compliance/Hotline.html">Report Fraud</a>
						<span class="pipes"> | </span>
						<a ga-event-action="https://www.utsa.edu/eos/forms/EOS%20COMPLAINT%20FORM%202013.pdf" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="https://www.utsa.edu/eos/forms/EOS%20COMPLAINT%20FORM%202013.pdf">Nondiscrimination and Title IX</a>
					</nav>
					<p id="copyInfo">
						<a ga-event-action="https://www.utsa.edu/ucm/" ga-event-category="globalFooterClick" ga-event-label="globalFooterNav" ga-on="click" href="https://www.utsa.edu/ucm/">Produced by University Communications and Marketing</a>
					</p>
				</div>
				<div class="col-md-4 text-xs-center text-md-right">
					<nav id="socialNav">
						<a aria-label="UTSA Facebook" ga-event-action="https://www.facebook.com/utsa" ga-event-category="globalFooterClick" ga-event-label="socialNav" ga-on="click" href="https://www.facebook.com/utsa">
							<i aria-hidden="true" class="fa fa-facebook utsa-social-circle">&#160;</i>
						</a>
						<a aria-label="UTSA Twitter" ga-event-action="https://twitter.com/utsa" ga-event-category="globalFooterClick" ga-event-label="socialNav" ga-on="click" href="https://twitter.com/utsa">
							<i aria-hidden="true" class="fa fa-twitter utsa-social-circle">&#160;</i>
						</a>
						<a aria-label="UTSA Youtube" ga-event-action="https://www.youtube.com/user/utsa" ga-event-category="globalFooterClick" ga-event-label="socialNav" ga-on="click" href="https://www.youtube.com/user/utsa">
							<i aria-hidden="true" class="fa fa-youtube-play utsa-social-circle">&#160;</i>
						</a>
						<a aria-label="UTSA LinkedIn" ga-event-action="http://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521" ga-event-category="globalFooterClick" ga-event-label="socialNav" ga-on="click" href="http://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521">
							<i aria-hidden="true" class="fa fa-linkedin-square utsa-social-circle">&#160;</i>
						</a>
						<a aria-label="UTSA Instagram" ga-event-action="https://instagram.com/utsa" ga-event-category="globalFooterClick" ga-event-label="socialNav" ga-on="click" href="https://instagram.com/utsa">
							<i aria-hidden="true" class="fa fa-instagram utsa-social-circle">&#160;</i>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
</div>
