<!--
THIS IS NOW THE LEGACY HEADER/FOOTER  **** DO NOT USE ****
THE LATEST HEADER/FOOTER SHOULD BE global-header-092017
--->
<div id="global-header">
	<section id="banner">
		<!--start search-->
		<section class="headerSearchContainer">
			<div class="container">
				<form action="/search/searchresults.html" id="cse-search-box">
					<input name="cx" type="hidden" value="000238266656426684962:mzli4pte7ko"/>
					<input name="cof" type="hidden" value="FORID:11"/>
					<span style="display: none;">
						<label for="q">Search</label>
					</span>
					<span class="wrapper" style="margin-bottom: 0;">
						<input class="searchfield" id="q" name="q" onblur="if (this.value == '') {this.value = 'Search UTSA';}" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" size="15" type="text" value="Search UTSA"/>
					</span>
				</form>
			</div>
		</section>
		<!--end search-->
		<!--top navigation icons-->
		<div class="container">
			<!--hidden-md-down-->
			<a class="navbar-brand hidden-lg-up" ga-event-action="http://www.utsa.edu-logo4_sm" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="//www.utsa.edu">
				<img alt="UTSA" class="logo" src="/_files/images/logo4_sm.png" style="padding-bottom: 5px;"/>
			</a>

			<nav class="nav nav-inline float-xs-right">
				<a aria-label="my.utsa.edu" class="nav-link top-link" ga-event-action="http://my.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="http://my.utsa.edu">
					<i aria-hidden="true" class="fa fa-globe orangetext">&#160;</i>
					<span class="linkmobile hidden-md-down"> myUTSA </span>
				</a>
				<a aria-label="UTSA Today" class="nav-link top-link" ga-event-action="/today" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="/today">
					<i aria-hidden="true" class="fa fa-newspaper-o orangetext">&#160;</i>
					<span class="linkmobile hidden-md-down"> UTSA Today </span>
				</a>
				<a aria-label="Visit UTSA" class="nav-link top-link" ga-event-action="/visit" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="/visit/index">
					<i aria-hidden="true" class="fa fa-map-o orangetext">&#160;</i>
					<span class="linkmobile hidden-md-down">Visit </span>
				</a>
				<a aria-label="Directory" class="nav-link top-link" ga-event-action="/directory" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="site://UTSA-WWWROOT/directory">
					<i aria-hidden="true" class="fa fa-users orangetext">&#160;</i>
					<span class="linkmobile hidden-md-down"> Directory </span>
				</a>
				<a aria-label="UTSA Search" class="nav-link top-link" ga-event-action="#search" ga-event-category="globalHeaderClick" ga-event-label="global-header" ga-on="click" href="#search" id="headerSearchCTA">
					<i aria-hidden="true" class="fa fa-search orangetext">&#160;</i>
					<span class="linkmobile hidden-md-down"> Search </span>
				</a>

				<button class="navbar-toggler hidden-lg-up float-xs-right" data-target="#startupNavbar" data-toggle="collapse" ga-event-action="burger-toggle" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" style="margin-top: -4px !important;" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</nav>
		</div>
		<!--top level navigation-->
		<div class="container">
			<nav class="navbar navbar-dark">
				<a class="navbar-brand hidden-md-down" ga-event-action="logo4" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="//www.utsa.edu">
					<!--width="320" -->
					<img alt="UTSA" class="logoFull hidden-lg-down" src="/_files/images/logo4.png" width="320"/>
					<img alt="UTSA" class="logo hidden-xl-up hidden-md-down" src="/_files/images/logo4_sm.png" width="100"/>
					<!-- [if IE]>
					<style>
          .logoFull {
            width: 320px!important;
          }
          .logo {
            width: 100px;
          }
          </style>
					<![endif]-->
				</a>
				<div class="collapse navbar-toggleable-md mobileMenuSlider" id="startupNavbar">
					<ul class="nav navbar-nav float-md-left float-lg-right">
						<li class="nav-item">
							<a class="nav-link top-nav-link" ga-event-action="/about" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/about/index">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/admissions" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/admissions/index">Admissions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/academics" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/academics/index">Academics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="http://research.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="http://research.utsa.edu">Research</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/campuslife" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/campuslife/index">Campus Life</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="/community" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="/community/index">Community</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="http://goutsa.com" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="http://goutsa.com">Athletics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ga-event-action="http://alumni.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="http://alumni.utsa.edu">Alumni</a>
						</li>
						<li class="nav-item bottom-nav-item">
							<a class="nav-link" ga-event-action="https://giving.utsa.edu" ga-event-category="globalHeaderClick" ga-event-label="global-header-navbar" ga-on="click" href="https://giving.utsa.edu">Giving</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
</div>
