<section id="sombrilla-top" style="background-color:#0c2340;">
  <div class="container">
    <div class="row" style="padding-bottom: .5rem;">
        <div class="col-lg-7 text-center text-lg-left">
          <a href="/sombrilla/fall2017/">
            <img src="/sombrilla/fall2017/img/SOMmag_UTSAwhite.png" alt="Sombrilla - The UTSA Magazine" width="85%" style="padding-bottom:15px;">
          </a>
        </div>
        <div class="col-lg-5">
          <style>
          a.nav-link{
            color:#fff;
          }
          a.nav-link:hover{
            color:#f15a22 !important;
          }
          </style>

              <ul class="nav justify-content-center">
                <li class="nav-item"><a href="/sombrilla/fall2017/index.html" class="nav-link" >Table of Contents<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a href="/sombrilla/webExclusive/" class="nav-link" >Web Exclusives</a></li>
                <li class="nav-item"><a href="/sombrilla/archives/" class="nav-link" >Past Issues</a></li>
              </ul>

        </div>
    </div>
  </div>
</section>

<a id="fdbk_tab" href="http://alumni.utsa.edu/page.aspx?pid=293" target="_blank" class="fdbk_tab_right">FEEDBACK</a>
