    <section id="foot">
      <div class="container">
        <div class="col-sm-12 current">
          <h2 class="top">Current Issue: Fall 2017 | <span class="table"><a href="/sombrilla/fall2017/">Table of Contents</a></span></h2>
        </div>
        <div class="row">
        <div class="col-sm">
          <h4>TOP STORIES</h4>
          <ul>
            <li><a href="/sombrilla/fall2017/story/feature-eighmy.html">The Way Forward</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-timeline.html">The Path to UTSA Presidency</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-insights.html">Behind the Scenes</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-culture.html">Soakin' Up Culture</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-casttech.html">Future High</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-castbuild.html">Tech Touches</a></li>
            <li><a href="/sombrilla/fall2017/story/birds-eye-view.html">Bird's-eye View</a></li>
            <li><a href="/sombrilla/fall2017/story/feature-abroad.html">Wanderers Never Cease</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h4>DEPARTMENTS</h4>
          <ul>
            <li><a href="/sombrilla/fall2017/story/plazas-letter.html">Introductions Are in Order</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-interpret.html">Loud & Clear</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-universe.html">Source for Life?</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-nash.html">Kelly Nash</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-peer.html">Voice of a Peer</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-schnarrs.html">Pulling Together</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-football.html">'Runners in the Running</a></li>
            <li><a href="/sombrilla/fall2017/story/plazas-discovery.html">Discovery at UTSA</a></li>

          </ul>
        </div>
        <div class="col-sm">
          <h4>'RUNNERS &amp; SHAKERS</h4>
          <ul>
            <li><a href="/sombrilla/fall2017/story/shakers-maribel.html"><em>Mujer</em> Unveiled</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-chapman.html">Sharing Life's Rewards</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-greive.html">The Wonderful World of an Imagineer</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-flawn.html">An Intellectual Giant</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-cooling.html">Just Chilling</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-mentor.html">Start a Home</a></li>
            <li><a href="/sombrilla/fall2017/story/shakers-class-notes.html">Class Notes</a></li>
            <li><a href="/sombrilla/fall2017/story/in-memoriam.html">In Memoriam</a></li>
          </ul>
        </div>
      </div>
      </div>
    </section>
