/*
  Based from this article from Divya Manian -
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
/* Clip text element */

.hero-overlay-text {
  position: relative;
  font-weight:900;
  top: 0;
  left: -10%;
  font-family:ff-meta-web-pro, sans-serif;
  font-size: 65em;
  opacity:0.45;
  text-align:center;
  width: 100vw;
  margin:0;
  color:$utsa-blue;
  margin:0 0.15em;
  padding: 0.15em;
  line-height:0.25em;
  z-index:0;
}

section.content.container {
  z-index:500;
}


.hero-content {
  position: absolute;
  top: 0;
  left: 0;
}
