/* hero */

.hero {
  position: relative;
  height: 40vh;
	overflow:hidden;
}

.hero > .container {
  padding-left:0;
  padding-right:0;
}

.hero-image {
  //background: no-repeat 100%/100% url('');
  display: relative;
	z-index:-900;
}

.hero-image, .hero-container {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image, .hero-container {
  position: absolute;
  top: 0;
  left: 0;
}

.hero h1 {
	font-size: 3em;
	color: $blue-dark;
	line-height: 1em;
	margin: 0 0 0.25em 0;
	padding: 0;
}

.hero p {
	font-size: 1.5em;
	margin-bottom: .25em;
}

.hero-content-image {
  width: 130px;
}

div.hero-overlay-text {
  width: 100vw;
  text-align:center;
}


.hero-content {
  padding-top: 2.0em;
  z-index:3000;
  width:100vw;
  position: absolute;
  top: 0;
  left: 0;
}

section.content {
  padding-top:2.5em;
}

section.content h5 {
  margin:.2em 0 .4em 0;
  font-family:ff-meta-web-pro;
  span {
    text-transform:uppercase;
    letter-spacing:.2em;
    font-size:.6em;
  }
}

.hero {
  /*
  background-image: url(images/option-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  display: block;
  position: relative;
  */
}
.hero h1 {
  padding-top:.5em;
}

.hero-image img {
  min-width:100vw;
  opacity: 1.0;
}

.hero-content-image {
  padding-top: 0em;
}

.hero {
}

.std h2 {
  font-size: 2.5em;
  margin: 0;
  padding:0;
}
.std p {
  font-size: 2.0em;
  margin: 0;
  padding:0;
}

p.secondary {
  font-size: 1.30em;
}

.hero-overlay-text {
  position: relative;
  font-weight:400;
  //top: -45vh;
  //left: 0;
  font-family:ff-meta-web-pro, sans-serif;
  font-size:78vw;
  opacity:0.15;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  color:$utsa-blue;
  padding: 0em;
  z-index:0;
  overflow-y:hidden;
  line-height:38vw;
}
@media screen and (min-width: 1280px) {
  .hero-content {
    padding-top: 7.5em;
  }

  .hero {
    height: 45vh;
  }

  .hero h1 {
    margin-top: 0.25em;
    padding-top: 1.5em;
  }
  .hero-overlay-text {
    font-size:75vw;
    line-height:43vw;
  }
}

@media screen and (max-width: 1280px) {
  .hero-overlay-text {
    font-size:95vw;
    line-height:48vw;
  }
}

@media screen and (max-width: 1024px) {
  .hero-overlay-text {
    font-size:80vw;
    line-height:47vw;
  }
}


@media screen and (max-width: 980px) {
  .hero {
    height:25vh;
  }
  .hero-content {
    padding-top: 0.75em;
  }
  .hero-content-image {
    width:100px;
    padding-top: 0.5em;
  }
  .hero h1 {
    padding-top:0em;
  }

  .hero br {
    display: none;
  }
  .hero h1 {
    font-size: 2.25em;
  }
  /*
  section.content {
    height: 60vh;
  }
  */
  .std h2 {
    font-size: 2.15em;
  }
  .std p {
    font-size: 1.8em;
  }
  .hero-overlay-text {
    font-size:75vw;
    line-height:43vw;
  }

  p.secondary {
    font-size: 1.0em;
  }

}

@media screen and (max-width: 736px) {
  .hero {
    height:25vh;
  }
  .hero-content {
    padding-top: 0.75em;
  }
  .hero h1 {
    padding-top:0.5em;
  }
  .hero-content-image {
    width: 80px!important;
    padding-top: 0;
    magin-bottom: 0;
  }

  .hero p {
    padding-top: 0.25em;
    margin-bottom: 0em;
  }
  /*
  section.content {
    height: 60vh;
  }
  */
  .std h2 {
    font-size: 2.5em;
  }
  .std p {
    font-size: 1.8em;
  }
  .hero-overlay-text {
    font-size:75vw;
    line-height:41vw;
  }

  p.secondary {
    font-size: 1.15em;
  }

}


@media screen and (max-width: 600px) {
  .hero {
    height:25vh;
  }

  .hero h1 {
    font-size: 1.9em;
    padding-top: 0.25em;
  }
  .hero p {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .hero-content-image {
    width: 70px!important;
  }
  .std h2 {
    font-size: 1.85em;
  }
  .std p {
    font-size: 1.5em;
  }
  .hero-overlay-text {
    font-size:85vw;
    line-height:49vw;
  }

  p.secondary {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    height:21vh;
  }
  .hero-content {
    padding-top: 0.5em;
  }

  .hero-image {
    width:115vw;
  }
  .hero h1 {
    font-size: 1.25em;
  }
  .hero p em {
    display:none;
  }
  .hero p {
    font-size: 0.8em;
    padding-top: 0em;
  }
  .hero-content-image {
    padding-top: 0!important;
    width: 65px!important;
  }

  .std h2 {
    font-size: 1.50em;
  }
  .std p {
    font-size: 1.1em;
  }

  p.secondary {
    font-size: 1.0em;
  }

  #site-footer {
    padding-top: 3.0em;
  }

  .hero-overlay-text {
    font-size:80vw;
    line-height:50vw;
  }

}

@media screen and (max-width: 400px) {
  .hero {
    height:21vh;
  }
  .hero-content {
    padding-top: 0.5em;
  }

  .hero-image {
    width:115vw;
  }
  .hero h1 {
    font-size: 1.25em;
  }
  .hero p em {
    display:none;
  }
  .hero p {
    font-size: 0.8em;
    padding-top: 0em;
  }
  .hero-content-image {
    padding-top: 0!important;
    width: 65px!important;
  }

  .hero-overlay-text {
    font-size:75vw;
    line-height:48vw;
  }

  .std h2 {
    font-size: 1.50em;
    margin:0;
    padding:0;
  }
  .std p {
    font-size: 1.1em;
    padding:0;
    margin:0;
  }

  .std hr {
    margin:0;
  }

  #site-footer {
  }
}

#site-content hr {
	 border: 2px solid #eee;
	 margin-top: .75em;
	 margin-bottom: .75em;
	 margin-left: 25%;
	 width: 50%;
}

#site-content {
    min-height:40vh;
}

.site-top-Title {
	 font-weight: 700;
	 margin: .3em 0 .6em;
	 display: block;
	 font-family: inherit;
	 line-height: 1.1;
	 font-size: 2.75rem;
	 text-rendering: optimizelegibility;
	 background-color: #FFF;
	 box-sizing: border-box;
	 color: #0c2340;
	 cursor: auto;
}
 .site-top-Title a:hover {
	 color: #f15a22;
}
 .site-top-Title a {
	 color: #0c2340;
}
 #site-top, #site-content {
	 margin-top: 1.1em;
}
 .site-top-Title {
	 float: left;
	 width: 100%;
	 margin-bottom: 20px;
}
 .site-top-Title-img {
	 float: left;
	 width: 77;
	 padding-right: 0.75rem;
}
 .content-caption {
	 font-size: 0.75rem;
}

/* HERO responsive classes and additions */
 .hero h1 {
	 color: #ffffff!important;
	 padding-top:.5em;
}
 .hero p {
	 color: #ffffff!important;
}
 .hero h3 {
	 color: #ffffff!important;
}
 @media screen and (min-width:700px) {
	 section.content.container {
		 min-height: 400px;
	}
}
 @media screen and (min-width: 500px) and (max-height: 865px){
	 .hero {
		 height: 60vh;
	}
}
 #site-footer a:link {
	 color:#007bff;
}
 #site-footer a:hover {
	 color:#f15a22;
}
 .text-shadow p, .text-shadow h1{
	 text-shadow: 2px 4px 3px rgba(0,0,0,.3);
}
