/*
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Integrated with UTSA bootstrap styles on 12/2017 for presidential inauguration micro-site
	@author: webteam@utsa.edu <john.garza@utsa.edu>
*/
@charset "UTF-8";

@function theme-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($theme-image-path + $url);
    }
}
/* Basic */
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

body {
	background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}


.hero, section.content, section.secondary {
  font-family: ff-meta-serif-web-pro;
}

section.secondary {
  background-color:#eee;
  padding: 4em 0 3em 0;
}

section.content hr {
  border: 2px solid #eee;
  margin-top: .75em;
  margin-bottom: .75em;
  margin-left:25%;
  width: 50%;
}


/* Section/Article */
section.special {
	padding-top: 3.0em;
	padding-bottom: 3.0em;
	text-align: center;
}

	label {
		color: #fcdcd6;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

/* Box */
	.box {
		border-radius: 4px;
		border: solid 1px #dee1e3;
		margin-bottom: 2em;
		overflow: hidden;
	}

	.box > :last-child,
	.box > :last-child > :last-child,
	.box > :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}

	.box .image.fit {
		margin: 0;
	}

	.box .content {
		padding: 1.5em;
	}

	.box.alt {
		border: 0;
		border-radius: 0;
		padding: 0;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}



/* Wrapper */
.container h1 {
	color: $utsa-blue;
}


	body.is-loading .hero .content {
		opacity: 0;
		-moz-transform: translateY(1em);
		-webkit-transform: translateY(1em);
		-ms-transform: translateY(1em);
		transform: translateY(1em);
	}

	/* Main */

	#content .image.fit {
		margin: 0;
	}

	@media screen and (max-width: 980px) {
		#content .image.fit {
			margin: 0 auto 2em auto;
			max-width: 60%;
		}
	}

	@media screen and (max-width: 480px) {
		#content .image.fit {
			margin: 0 auto 2em auto;
			max-width: 90%;
		}
	}

@media screen and (max-width: 980px) {
	#rsvp blockquote br {
		display: none;
	}
}

@media screen and (max-width: 980px) {
	#three {
		text-align: center;
	}
}

#site-footer {
  padding-top:1.1em;
  background-color: #eee;
}

article.card-muted {
  background-color: #eee;
  margin-bottom:1.5em;
}

.card-image {
  display: inline-block;
  position:relative;
  transition: transform 0.2s ease-in-out;
  overflow:hidden;
}

a.card-image:hover img {
    transform: scale(1.15);
}

a.card-image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  width: 100%;
}
