
 #departmentalPageNav {
	/* white-space: nowrap;
	 overflow-x: auto;
	 */
	 background: #0c2340;
	 margin-left: 0;
	 margin-bottom: 0;
	 padding-left: 1rem;
}
 .breadcrumbs {
	 padding-top: .9em;
	 padding-bottom: 0.45em;
	 font-size: .75em
}
 .breadcrumbs span {
	 padding: 0 .2em
}
 .breadcrumbs a {
	 color: #f15a22
}
 #departmentalPageNav ul {
}
 #departmentalPageNav li a {
	 color: #fff;
}
 #departmentalPageNav li a:hover {
	 color: #f15a22
}
 #departmentalPageNav li ul li {
	 border-top: 1px solid #3D3D3D
}
 #departmentalPageNav li ul li {
	 background: #0C2340;
	 border-top: 1px solid #3D3D3D
}
 #departmentalPageNav li {
	 float: none;
	 display: inline-block;
	 margin-right: 0;
	 position: relative;
	 color: #fff;
	 padding: 15px 10px;
	 cursor: default
}
 #departmentalPageNav li a {
	 border-bottom: none;
	 color: #fff;
	 padding: 15px 0;
	 text-decoration: none
}
 #departmentalPageNav li ul {
	 padding: 0;
	 position: absolute;
	 z-index: 1;
	 top: 50px;
	 left: -10px;
	 width: 285px;
	 display: none;
	 opacity: 0;
	 visibility: hidden;
	 border-top: 3px solid #f15a22
}
 #departmentalPageNav li ul li {
	 display: block;
	 border-top: 1px solid #0D2F59
}
 #departmentalPageNav li ul li a {
	 padding: 15px 10px
}
 #departmentalPageNav li:hover ul {
	 display: block;
	 opacity: 1;
	 visibility: visible
}
 .nav-gray {
	 background-color: #e0e0e0;
	/* disabling top and bottom margin: jdg @5/20/16 margin: 40px 0;
	 */
	 padding: 20px;
	 position: relative;
	 -moz-box-shadow: 0 0 1px #888;
	 -webkit-box-shadow: 0 0 1px #888;
	 box-shadow: 0 0 1px #888;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}
 #col-navigation .nav-gray a {
	 border-bottom: none;
	 color: #002244;
	 display: block;
	 padding: 6px 0;
}
/* PRIMARY ==============================================*/
 .nav-gray ul {
	 margin: 0;
	 padding: 0;
}
 .nav-gray li {
	 list-style: none;
	 padding: 0;
}
 #col-navigation .nav-gray li a {
	 border-top: 1px solid #ccc;
	 color: #002244;
	 font-size: 95%;
}
 #col-navigation .nav-gray li:first-child a {
	 border-top: none;
}
 #col-navigation .nav-gray li a:hover {
	 color: #f47321
}
 #col-navigation .nav-gray a.selected {
	 color: #F47321;
	 font-weight: bold;
}
/* Default Icon Color when in col-navigation */
 #col-navigation i.fa {
	 padding-left: 0.4rem;
	 color: #f15a22;
}
 .nav-gray > ul > li > ul {
	 padding-bottom: 10px
}
/* SECONDARY ==============================================*/
 .nav-gray ul ul {
	 margin-top: -2px;
	 padding: 0 0 0 15px;
}
 .nav-gray li li {
	 list-style-position: outside;
}
 #col-navigation .nav-gray li li a {
	 border: none;
	 color: #444;
	 font-size: 90%;
	 padding: 2px 0;
}
/* TERTIARY ==============================================*/
 .nav-gray ul ul ul {
	 padding: 0 0 0 15px;
	 margin: 0;
}
 #col-navigation .nav-gray li li li a {
	 font-size: 80%;
	 padding: 2px 0;
}
/* QUATERNARY ==============================================*/
 .nav-gray ul ul ul ul {
	 padding: 0 0 0 15px
}
 #col-navigation .nav-gray li li li li a {
	 font-size: 75%;
	 padding: 2px 0;
}
/* QUINARY ==============================================*/
 #col-navigation .nav-gray li li li li li {
	 font-size: 95%;
}
/* SELECTED ITEM STYLES ==============================================*/
 #col-navigation .nav-gray > ul > li.parent > a {
	 cursor: pointer;
	 padding-right: 25px;
}
 #col-navigation .nav-gray > ul > li.parent:hover > a {
	 background-position: right -32px;
	 color: #f47321;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected {
	 background-position: right -96px;
	 font-weight: bold;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected:hover {
	 background-position: right -64px;
}
/* NAV ACTION BUTTONS ==============================================*/
 #col-navigation ul.action-btn li {
	 margin-bottom: 8px;
}
 #col-navigation ul.action-btn li:last-child {
	 border: 0;
	 margin-bottom: 25px;
}
 #col-navigation .nav-gray li a.btn {
	 color: #fff;
	 font: bold 80%/1.2 'Open Sans', sans-serif;
}
 #col-navigation .nav-gray a.btn {
	 border: none;
	 font: bold 90%/1 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 color: #ffffff;
	 padding: 8px;
	 text-align: center;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
}
 #col-navigation .nav-gray li a.btn {
	 background:#f68a38;
	/*IE Fix*/
	 background: -moz-linear-gradient( top, #f57c20 0%, #f68a38);
	 background: -webkit-gradient( linear, left top, left bottom, from(#f57c20), to(#f68a38));
	 background: -ms-linear-gradient( top, #f57c20 0%, #f68a38);
	 -moz-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 -webkit-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
}
 .utsa-social-circle-top .fa {
	 font-size: .85em;
	 padding-left: 0.3em;
	 width: 1.8em;
	 height: 1.8em;
	 line-height: 1.6em;
	 float: none;
	 border-radius: 50%;
	 border: 2px solid #0c2340;
	 color: #0c2340;
	 text-align: center;
	 background: #fff;
}
 .utsa-social-circle-top .fa:hover {
	 color: #f15a22;
	 border: 2px solid #f15a22;
}
 ul.custLinkGroup{
	 list-style-type:none;
	 margin: 1rem 0;
}
 .custLinkGroup li{
	 margin-bottom:.25em;
	 text-indent: -0.9rem;
}
 .custLinkGroup li:before{
	 content:'\00bb';
	 padding-right:0.4rem;
	 color:#f15a22
}
 .fa-ul i{
	 color:#f15a22
}
 .custLinkGroup a:hover{
	 color:#f15a22
}
 .custLinkGroup a{
	 color:#0c2340;
	 font-weight:600;
	 font-size:.95em;
	 border-bottom:none
}
 .custIconLinkGroup a{
	 color:#0c2340;
	 font-weight:600;
	 border-bottom:none
}
 .headerBlock {
	 padding: 0.4rem 0 1.1rem 0;
	 font-size: 1.45rem;
	 font-weight: 75;
}
/**** * styles for Priorities ****/
 hr.strategyHr {
	 border: thin solid #000;
	 margin: 0;
	 padding: 0;
}
 span.leaderSpan {
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 0.80em;
	 color: #f15a22;
}
 span.leaderNames {
	 font-weight: 100;
	 font-size: 0.80em;
	 font-style: italic;
}
 hr {
	 border: thin solid #0C2340;
	 margin: 2em 0;
}
 hr.tightHR {
	 margin: 1em 0;
}
 hr.someHR {
	 margin-top: 1.75em;
	 border-style: solid;
	 border-color: #ddd;
}
 hr.columnSep {
	 border-style: solid;
	 margin: 1em 0 1.5em;
	 border-color: #aaa;
}
 div.blueBox {
	 background: #0C2340;
	 color: #ffffff;
	 padding: 0.85em;
	 text-transform: uppercase;
	 padding: 1.2em;
}
 div.blueBox a {
	 font-weight: 600;
	 font-size: .95em;
	 letter-spacing: 0.10em;
	 color: #fff;
}
 div.blueBox a:hover {
	 font-weight: 600;
	 font-size: .95em;
	 letter-spacing: 0.10em;
	 color: #f15a22;
}
 div.borderActive {
	 border: 5px solid #0C2340;
	 padding: 1em;
}
 div.blueBorder {
	 border: 1px solid #0C2340;
}
 .grayBoxContainer {
	 padding: 1.2em;
	 background: #f1f1f1;
}
 .btn {
	 padding: .7rem;
}
 .card-block {
	 padding:0;
}
 .card-block a {
	 color: #fff;
}
 .card-block a:hover {
	 color: #f15a22;
}
 .card-block h2 a {
	 color: #0c2340;
}
 .card-secondary {
	 padding: 1.2em;
	 background-color:#f1f1f1;
	 border:0px;
	 min-height:225px !important;
}
 .card-primary {
	 background-color:#fff;
	 border:0px;
}
 .secondaryheadline {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 7px;
	 font-size: 1.20rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 15px;
	 padding-top: 10px;
	 padding-right: 10px;
}
 .card img {
	 width:100%;
}
 .card p {
}
 .carousel-overlay {
	 position: absolute;
	 top:6.5%;
	 bottom:6.5%;
	 right:7%;
	 z-index: 10;
}
 .carousel-card {
	 padding: 0.7em 1.1em;
	 background-color:#f1f1f1;
	 border:0px;
	/*margin-right:1.2rem;
	*/
}
 #site-content div.row div.col-sm-12 ol li p{
	 font-size:1.0rem;
}
 #site-content h2, h3 {
	 color:#0c2340;
}
 @media screen and (min-width:1000px){
	 .box_1-2{
		 min-height:561px;
	}
	 .box_1-3{
		 min-height:561px;
	}
	 .box_2-1{
		 min-height:509px;
	}
	 .box_2-3{
		 min-height:509px;
	}
	 .box_3-1{
		 min-height:561px;
	}
	 .box_3-2{
		 min-height:561px;
	}
	 .box_4-2{
		 min-height:639px;
	}
	 .box_4-3{
		 min-height:639px;
	}
}
 @media screen and (min-width:575px) and (max-width:999px){
	 .box_1-2{
		 min-height:515px;
	}
	 .box_1-3{
		 min-height:515px;
	}
	 .box_2-1{
		 min-height:485px;
	}
	 .box_2-3{
		 min-height:485px;
	}
	 .box_3-1{
		 min-height:565px;
	}
	 .box_3-2{
		 min-height:565px;
	}
	 .box_4-2{
		 min-height:590px;
	}
	 .box_4-3{
		 min-height:590px;
	}
}
 span.staff-name{
	 font-weight:bold;
}
 span.staff-title{
	 font-style:italic;
}
 .box{
	 padding-bottom:1rem;
}
 .gray{
	 background-color:#e3e3e3;
}
 ol.num>li {
	font-weight:bold;
	font-size:2.5rem;
	color:#f15a22;
}
 ol>li>p {
	font-weight:normal;
	font-size:1rem;
	color:#000;
}
