@charset "UTF-8";
/*
	Released for free under the Creative Commons Attribution 3.0 license
*/
@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

body {
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}


body.is-loading #hero:before {
	opacity: 1;
}

p {
	margin: 0 0 2em 0;
}

/* Banner */
#hero {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	padding: 2.5em 3em 2.5em 3em;
	min-height: 45vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 0;
	position: relative;
	text-align: center;
	overflow: hidden;

	font-size: 1.75em;

	.inner {
		text-align: center;
		position: relative;
		z-index: 2;
	}

	.headerBlock {
		padding-left: 15%;
		padding-right: 15%;
	}

	h1 {
		color: #fff;
		font-size: 2.0em;
		font-weight: 700;
		text-shadow: 3px 3px $utsa-blue;
		margin: 0;
		padding-bottom:0.35em;
	}

	a.btn {
		font-size: 1.1em;
	}

	p {
		color:$utsa-orange;
		font-weight: 500;
		font-size: 1.0em;
		margin: 0 0 0.25em 0;
		border-bottom: none;
		//text-shadow: 1px 1px 3px $white;
	}

	.headerBlock {
		color: $white;
	}

	span.subheading {
		font-weight:700;
		//border-bottom: solid 3px $utsa-orange;
		//text-shadow: 1px 1px #000;
	}

	span.last {
		//border-bottom: solid 3px $utsa-orange;
	}
	a {
		color: rgba(255, 255, 255, 0.95);
	}

	.cta {
		padding: 0.5em;
		margin: 1em;
	}
}

ul.custLinkGroup{
	list-style-type:none;
	margin:0 0 1.2em 0.75em;
	padding:0 0 0 0.75em;
	line-height: 1.75em;
}
.custLinkGroup li{
	margin-bottom:1.1em;
	text-indent: -0.9rem;
}
.custLinkGroup li:before{
	content:'\00bb';
	padding-right:0.4rem;
	color:#f15a22
}

.grayBoxContainer {
    padding: 1.2em;
    background: #f1f1f1;
}

.headerBlock {
    padding: 0.4rem 0 1.1rem 0;
    font-size: 1.45rem;
    font-weight: 75;
}

#hero video {
	-moz-transform: translateX(50%) translateY(50%);
	-webkit-transform: translateX(50%) translateY(50%);
	-ms-transform: translateX(50%) translateY(50%);
	transform: translateX(50%) translateY(50%);
	position: absolute;
	bottom: 50%;
	right: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

#hero:before {
	-moz-transition: opacity 3s ease;
	-webkit-transition: opacity 3s ease;
	-ms-transition: opacity 3s ease;
	transition: opacity 3s ease;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
	content: '';
	background-color: #42424f;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.45;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#content {
	.guest {
		font-style:bold;
		font-weight:800;
		font-size:1.25em;
		text-align:center;
	}

	.title {
		font-style:italic;
		font-weight:normal;
		font-size:1.0em;
		text-align:center;
	}
}

img.headshot {
	width: 15rem;
	border-radius: 100%;
}

img.headshot {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

#goolgeMapsEmbed {
	height:650px;
}

.eventDetails {
	font-size: 1.5em;
	font-weight: 600;
	color: $utsa-orange;
}

p.eventDetails {
	margin: 0 0 0.5em 0;
}

span.info {
	color: $black;
	font-size: 0.75em;
	font-weight: 400;
}
//xl: 1000px
@media screen and (max-width: $utsa-max-xl) {
	#hero {
		padding: 2.5em 3em 2.5em 3em;
	}
	#hero video {
		display: none;
	}
	#goolgeMapsEmbed {
		height:850px;
		min-height:650px;
	}

}

//lg: 900px
@media screen and (max-width: $utsa-max-lg) {
	#hero {
		min-height: 0;
		padding: 2.25em 1.75em 2.25em 1.75em;
    h1 {
      font-size: 2em;
    }
		p {
			font-size: 0.8em;
		}
    br {
      //display: none;
    }
	}
}

//md: 768px
@media screen and (max-width: $utsa-max-md) {
  #hero {
		min-height: 0;
		padding: 2.5em 1.75em 2.5em 1.75em;
    h1 {
      font-size: 2em;
    }
		p {
			font-size: 0.8em;
		}
    br {
      //display: none;
    }
		.headerBlock {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}

//sm: 700px
@media screen and (max-width: $utsa-max-sm) {
  #hero {
		min-height: 0;
		padding: 2.0em 1.5em 2.0em 1.5em;
    h1 {
      font-size: 1.5em;
    }
		p {
			font-size: 0.75em;
		}
    br {
      //display: none;
    }
		.headerBlock {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}

//xs: 575px
@media screen and (max-width: $utsa-max-xs) {
	#hero {
		min-height: 0;
		padding: 2.0em 1.25em 2.0em 1.25em;
    h1 {
      font-size: 1.25em;
    }
		p {
			font-size: 0.70em;
		}
    br {
      //display: none;
    }
		.headerBlock {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}

#site-footer {
  padding: 1.1em 0 1.1em 0;
  background-color: #e2e2e2;
}

.btn-primary {
    color: #fff;
    background-color: #0c2340;
    border-color: #0c2340
}

.btn-primary:hover {
    color: #fff;
    background-color: #061120;
    border-color: #040c15
}
