
/* CTA */
.cta-strip {
  background-color: $utsa-blue;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(12, 35, 64, 0.75), rgba(12, 35, 64, 0.95)), url("/bhc/images/common/BSE004.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1;
  padding-top:3em;
  padding-bottom:3em;
  h2 {
    color: $utsa-orange;
  }
}

.cta-strip hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.cta-strip .highlights .content {
  background: $utsa-blue;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.025);
}

.cta-strip .testimonials .content {
  background: $utsa-blue;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.025);
}

.cta-strip .testimonials .content .credit strong {
  color: $utsa-blue;
}

.cta-strip .inner {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 980px) {
  .cta-strip {
    background-attachment: scroll;
  }
}
