
/* Footer */
#site-footer {
  background-color: #eee;
  color: $blue-dark;
  padding: 3rem 0 3rem;

  a {
    color: #036dc3;
  }

  h3 {
    color: $utsa-blue;
  }
}

#site-footer p {
  margin:0.25rem;
}

#site-footer a {
  text-decoration: none;
}

#site-footer .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#site-footer .content section {
}

@media screen and (max-width: 1280px) {
  #site-footer {
  }
}
@media screen and (max-width: 980px) {
  #site-footer .content {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 736px) {
}
@media screen and (max-width: 480px) {
}
