

/* Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row > * {
  box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}

.row > .imp {
  order: -1;
}

.row > .col-1 {
  width: 8.3333333333%;
}

.row > .off-1 {
  margin-left: 8.3333333333%;
}

.row > .col-2 {
  width: 16.6666666667%;
}

.row > .off-2 {
  margin-left: 16.6666666667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .off-3 {
  margin-left: 25%;
}

.row > .col-4 {
  width: 33.3333333333%;
}

.row > .off-4 {
  margin-left: 33.3333333333%;
}

.row > .col-5 {
  width: 41.6666666667%;
}

.row > .off-5 {
  margin-left: 41.6666666667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .off-6 {
  margin-left: 50%;
}

.row > .col-7 {
  width: 58.3333333333%;
}

.row > .off-7 {
  margin-left: 58.3333333333%;
}

.row > .col-8 {
  width: 66.6666666667%;
}

.row > .off-8 {
  margin-left: 66.6666666667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .off-9 {
  margin-left: 75%;
}

.row > .col-10 {
  width: 83.3333333333%;
}

.row > .off-10 {
  margin-left: 83.3333333333%;
}

.row > .col-11 {
  width: 91.6666666667%;
}

.row > .off-11 {
  margin-left: 91.6666666667%;
}

.row > .col-12 {
  width: 100%;
}

.row > .off-12 {
  margin-left: 100%;
}

.row.gtr-0 {
  margin-top: 0;
  margin-left: 0;
}

.row.gtr-0 > * {
  padding: 0;
}

.row.gtr-0.gtr-uniform {
  margin-top: 0;
}

.row.gtr-0.gtr-uniform > * {
  padding-top: 0;
}

.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.75rem;
}

.row.gtr-25 > * {
  padding: 0 0 0 0.75rem;
}

.row.gtr-25.gtr-uniform {
  margin-top: -0.75rem;
}

.row.gtr-25.gtr-uniform > * {
  padding-top: 0.75rem;
}

.row.gtr-50 {
  margin-top: 0;
  margin-left: -1.5rem;
}

.row.gtr-50 > * {
  padding: 0 0 0 1.5rem;
}

.row.gtr-50.gtr-uniform {
  margin-top: -1.5rem;
}

.row.gtr-50.gtr-uniform > * {
  padding-top: 1.5rem;
}

.row {
  margin-top: 0;
  margin-left: -3rem;
}

.row > * {
  padding: 0 0 0 3rem;
}

.row.gtr-uniform {
  margin-top: -3rem;
}

.row.gtr-uniform > * {
  padding-top: 3rem;
}

.row.gtr-150 {
  margin-top: 0;
  margin-left: -4.5rem;
}

.row.gtr-150 > * {
  padding: 0 0 0 4.5rem;
}

.row.gtr-150.gtr-uniform {
  margin-top: -4.5rem;
}

.row.gtr-150.gtr-uniform > * {
  padding-top: 4.5rem;
}

.row.gtr-200 {
  margin-top: 0;
  margin-left: -6rem;
}

.row.gtr-200 > * {
  padding: 0 0 0 6rem;
}

.row.gtr-200.gtr-uniform {
  margin-top: -6rem;
}

.row.gtr-200.gtr-uniform > * {
  padding-top: 6rem;
}
@media screen and (max-width: 1680px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .imp-xlarge {
    order: -1;
  }

  .row > .col-1-xlarge {
    width: 8.3333333333%;
  }

  .row > .off-1-xlarge {
    margin-left: 8.3333333333%;
  }

  .row > .col-2-xlarge {
    width: 16.6666666667%;
  }

  .row > .off-2-xlarge {
    margin-left: 16.6666666667%;
  }

  .row > .col-3-xlarge {
    width: 25%;
  }

  .row > .off-3-xlarge {
    margin-left: 25%;
  }

  .row > .col-4-xlarge {
    width: 33.3333333333%;
  }

  .row > .off-4-xlarge {
    margin-left: 33.3333333333%;
  }

  .row > .col-5-xlarge {
    width: 41.6666666667%;
  }

  .row > .off-5-xlarge {
    margin-left: 41.6666666667%;
  }

  .row > .col-6-xlarge {
    width: 50%;
  }

  .row > .off-6-xlarge {
    margin-left: 50%;
  }

  .row > .col-7-xlarge {
    width: 58.3333333333%;
  }

  .row > .off-7-xlarge {
    margin-left: 58.3333333333%;
  }

  .row > .col-8-xlarge {
    width: 66.6666666667%;
  }

  .row > .off-8-xlarge {
    margin-left: 66.6666666667%;
  }

  .row > .col-9-xlarge {
    width: 75%;
  }

  .row > .off-9-xlarge {
    margin-left: 75%;
  }

  .row > .col-10-xlarge {
    width: 83.3333333333%;
  }

  .row > .off-10-xlarge {
    margin-left: 83.3333333333%;
  }

  .row > .col-11-xlarge {
    width: 91.6666666667%;
  }

  .row > .off-11-xlarge {
    margin-left: 91.6666666667%;
  }

  .row > .col-12-xlarge {
    width: 100%;
  }

  .row > .off-12-xlarge {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }

  .row.gtr-0 > * {
    padding: 0;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0;
  }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.75rem;
  }

  .row.gtr-25 > * {
    padding: 0 0 0 0.75rem;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -0.75rem;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.75rem;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1.5rem;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 1.5rem;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -1.5rem;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 1.5rem;
  }

  .row {
    margin-top: 0;
    margin-left: -3rem;
  }

  .row > * {
    padding: 0 0 0 3rem;
  }

  .row.gtr-uniform {
    margin-top: -3rem;
  }

  .row.gtr-uniform > * {
    padding-top: 3rem;
  }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -4.5rem;
  }

  .row.gtr-150 > * {
    padding: 0 0 0 4.5rem;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -4.5rem;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 4.5rem;
  }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -6rem;
  }

  .row.gtr-200 > * {
    padding: 0 0 0 6rem;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -6rem;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 1280px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .imp-large {
    order: -1;
  }

  .row > .col-1-large {
    width: 8.3333333333%;
  }

  .row > .off-1-large {
    margin-left: 8.3333333333%;
  }

  .row > .col-2-large {
    width: 16.6666666667%;
  }

  .row > .off-2-large {
    margin-left: 16.6666666667%;
  }

  .row > .col-3-large {
    width: 25%;
  }

  .row > .off-3-large {
    margin-left: 25%;
  }

  .row > .col-4-large {
    width: 33.3333333333%;
  }

  .row > .off-4-large {
    margin-left: 33.3333333333%;
  }

  .row > .col-5-large {
    width: 41.6666666667%;
  }

  .row > .off-5-large {
    margin-left: 41.6666666667%;
  }

  .row > .col-6-large {
    width: 50%;
  }

  .row > .off-6-large {
    margin-left: 50%;
  }

  .row > .col-7-large {
    width: 58.3333333333%;
  }

  .row > .off-7-large {
    margin-left: 58.3333333333%;
  }

  .row > .col-8-large {
    width: 66.6666666667%;
  }

  .row > .off-8-large {
    margin-left: 66.6666666667%;
  }

  .row > .col-9-large {
    width: 75%;
  }

  .row > .off-9-large {
    margin-left: 75%;
  }

  .row > .col-10-large {
    width: 83.3333333333%;
  }

  .row > .off-10-large {
    margin-left: 83.3333333333%;
  }

  .row > .col-11-large {
    width: 91.6666666667%;
  }

  .row > .off-11-large {
    margin-left: 91.6666666667%;
  }

  .row > .col-12-large {
    width: 100%;
  }

  .row > .off-12-large {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }

  .row.gtr-0 > * {
    padding: 0;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0;
  }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375rem;
  }

  .row.gtr-25 > * {
    padding: 0 0 0 0.375rem;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -0.375rem;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.375rem;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75rem;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.75rem;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.75rem;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75rem;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5rem;
  }

  .row > * {
    padding: 0 0 0 1.5rem;
  }

  .row.gtr-uniform {
    margin-top: -1.5rem;
  }

  .row.gtr-uniform > * {
    padding-top: 1.5rem;
  }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25rem;
  }

  .row.gtr-150 > * {
    padding: 0 0 0 2.25rem;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -2.25rem;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 2.25rem;
  }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3rem;
  }

  .row.gtr-200 > * {
    padding: 0 0 0 3rem;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -3rem;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 3rem;
  }
}
@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .imp-medium {
    order: -1;
  }

  .row > .col-1-medium {
    width: 8.3333333333%;
  }

  .row > .off-1-medium {
    margin-left: 8.3333333333%;
  }

  .row > .col-2-medium {
    width: 16.6666666667%;
  }

  .row > .off-2-medium {
    margin-left: 16.6666666667%;
  }

  .row > .col-3-medium {
    width: 25%;
  }

  .row > .off-3-medium {
    margin-left: 25%;
  }

  .row > .col-4-medium {
    width: 33.3333333333%;
  }

  .row > .off-4-medium {
    margin-left: 33.3333333333%;
  }

  .row > .col-5-medium {
    width: 41.6666666667%;
  }

  .row > .off-5-medium {
    margin-left: 41.6666666667%;
  }

  .row > .col-6-medium {
    width: 50%;
  }

  .row > .off-6-medium {
    margin-left: 50%;
  }

  .row > .col-7-medium {
    width: 58.3333333333%;
  }

  .row > .off-7-medium {
    margin-left: 58.3333333333%;
  }

  .row > .col-8-medium {
    width: 66.6666666667%;
  }

  .row > .off-8-medium {
    margin-left: 66.6666666667%;
  }

  .row > .col-9-medium {
    width: 75%;
  }

  .row > .off-9-medium {
    margin-left: 75%;
  }

  .row > .col-10-medium {
    width: 83.3333333333%;
  }

  .row > .off-10-medium {
    margin-left: 83.3333333333%;
  }

  .row > .col-11-medium {
    width: 91.6666666667%;
  }

  .row > .off-11-medium {
    margin-left: 91.6666666667%;
  }

  .row > .col-12-medium {
    width: 100%;
  }

  .row > .off-12-medium {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }

  .row.gtr-0 > * {
    padding: 0;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0;
  }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375rem;
  }

  .row.gtr-25 > * {
    padding: 0 0 0 0.375rem;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -0.375rem;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.375rem;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75rem;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.75rem;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.75rem;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75rem;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5rem;
  }

  .row > * {
    padding: 0 0 0 1.5rem;
  }

  .row.gtr-uniform {
    margin-top: -1.5rem;
  }

  .row.gtr-uniform > * {
    padding-top: 1.5rem;
  }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25rem;
  }

  .row.gtr-150 > * {
    padding: 0 0 0 2.25rem;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -2.25rem;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 2.25rem;
  }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3rem;
  }

  .row.gtr-200 > * {
    padding: 0 0 0 3rem;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -3rem;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 3rem;
  }
}
@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .imp-small {
    order: -1;
  }

  .row > .col-1-small {
    width: 8.3333333333%;
  }

  .row > .off-1-small {
    margin-left: 8.3333333333%;
  }

  .row > .col-2-small {
    width: 16.6666666667%;
  }

  .row > .off-2-small {
    margin-left: 16.6666666667%;
  }

  .row > .col-3-small {
    width: 25%;
  }

  .row > .off-3-small {
    margin-left: 25%;
  }

  .row > .col-4-small {
    width: 33.3333333333%;
  }

  .row > .off-4-small {
    margin-left: 33.3333333333%;
  }

  .row > .col-5-small {
    width: 41.6666666667%;
  }

  .row > .off-5-small {
    margin-left: 41.6666666667%;
  }

  .row > .col-6-small {
    width: 50%;
  }

  .row > .off-6-small {
    margin-left: 50%;
  }

  .row > .col-7-small {
    width: 58.3333333333%;
  }

  .row > .off-7-small {
    margin-left: 58.3333333333%;
  }

  .row > .col-8-small {
    width: 66.6666666667%;
  }

  .row > .off-8-small {
    margin-left: 66.6666666667%;
  }

  .row > .col-9-small {
    width: 75%;
  }

  .row > .off-9-small {
    margin-left: 75%;
  }

  .row > .col-10-small {
    width: 83.3333333333%;
  }

  .row > .off-10-small {
    margin-left: 83.3333333333%;
  }

  .row > .col-11-small {
    width: 91.6666666667%;
  }

  .row > .off-11-small {
    margin-left: 91.6666666667%;
  }

  .row > .col-12-small {
    width: 100%;
  }

  .row > .off-12-small {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }

  .row.gtr-0 > * {
    padding: 0;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0;
  }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.3125rem;
  }

  .row.gtr-25 > * {
    padding: 0 0 0 0.3125rem;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -0.3125rem;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.3125rem;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.625rem;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.625rem;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.625rem;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.625rem;
  }

  .row {
    margin-top: 0;
    margin-left: -1.25rem;
  }

  .row > * {
    padding: 0 0 0 1.25rem;
  }

  .row.gtr-uniform {
    margin-top: -1.25rem;
  }

  .row.gtr-uniform > * {
    padding-top: 1.25rem;
  }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.875rem;
  }

  .row.gtr-150 > * {
    padding: 0 0 0 1.875rem;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -1.875rem;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 1.875rem;
  }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2.5rem;
  }

  .row.gtr-200 > * {
    padding: 0 0 0 2.5rem;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -2.5rem;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .imp-xsmall {
    order: -1;
  }

  .row > .col-1-xsmall {
    width: 8.3333333333%;
  }

  .row > .off-1-xsmall {
    margin-left: 8.3333333333%;
  }

  .row > .col-2-xsmall {
    width: 16.6666666667%;
  }

  .row > .off-2-xsmall {
    margin-left: 16.6666666667%;
  }

  .row > .col-3-xsmall {
    width: 25%;
  }

  .row > .off-3-xsmall {
    margin-left: 25%;
  }

  .row > .col-4-xsmall {
    width: 33.3333333333%;
  }

  .row > .off-4-xsmall {
    margin-left: 33.3333333333%;
  }

  .row > .col-5-xsmall {
    width: 41.6666666667%;
  }

  .row > .off-5-xsmall {
    margin-left: 41.6666666667%;
  }

  .row > .col-6-xsmall {
    width: 50%;
  }

  .row > .off-6-xsmall {
    margin-left: 50%;
  }

  .row > .col-7-xsmall {
    width: 58.3333333333%;
  }

  .row > .off-7-xsmall {
    margin-left: 58.3333333333%;
  }

  .row > .col-8-xsmall {
    width: 66.6666666667%;
  }

  .row > .off-8-xsmall {
    margin-left: 66.6666666667%;
  }

  .row > .col-9-xsmall {
    width: 75%;
  }

  .row > .off-9-xsmall {
    margin-left: 75%;
  }

  .row > .col-10-xsmall {
    width: 83.3333333333%;
  }

  .row > .off-10-xsmall {
    margin-left: 83.3333333333%;
  }

  .row > .col-11-xsmall {
    width: 91.6666666667%;
  }

  .row > .off-11-xsmall {
    margin-left: 91.6666666667%;
  }

  .row > .col-12-xsmall {
    width: 100%;
  }

  .row > .off-12-xsmall {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }

  .row.gtr-0 > * {
    padding: 0;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0;
  }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.3125rem;
  }

  .row.gtr-25 > * {
    padding: 0 0 0 0.3125rem;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -0.3125rem;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.3125rem;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.625rem;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.625rem;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.625rem;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.625rem;
  }

  .row {
    margin-top: 0;
    margin-left: -1.25rem;
  }

  .row > * {
    padding: 0 0 0 1.25rem;
  }

  .row.gtr-uniform {
    margin-top: -1.25rem;
  }

  .row.gtr-uniform > * {
    padding-top: 1.25rem;
  }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.875rem;
  }

  .row.gtr-150 > * {
    padding: 0 0 0 1.875rem;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -1.875rem;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 1.875rem;
  }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2.5rem;
  }

  .row.gtr-200 > * {
    padding: 0 0 0 2.5rem;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -2.5rem;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 2.5rem;
  }
}
