/* Banner */
#hero {
  background-image: url("/bhc/images/common/banner.jpg");
}

#hero {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  background-image: url("/bhc/images/common/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  height: 25rem !important;
  min-height: 25rem;
  //overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

#hero input,
#hero select,
#hero textarea {
  color: #ffffff;
}

#hero a {
  color: #ce1b28;
}

#hero b,
#hero strong {
  color: #ffffff;
}

#hero h1,
#hero h2,
#hero h3,
#hero h4,
#hero h5,
#hero h6 {
  color: #ffffff;
}

#hero > .inner {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 3;
  margin-top: 2.5em;
}

#inner {
  position: relative;
  opacity: 1;
  z-index: 10;
}

#hero > .top {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  padding-top: 1.25em;
  z-index: 3;
  margin-left:2.15rem;
  margin-right:2.15rem;
  margin-bottom: 2.75rem;
  //align-self: flext-start;
}

#hero > .inner > :last-child {
  margin-top: 1.1em;
  margin-bottom: 0;
}

#hero h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 1.15rem;
}

#hero a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#hero a:hover {
  color: #ffffff;
}

#hero video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  bottom: 50%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%;
  width: auto;
}

#hero:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  background: #111111;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#hero:after {
  background: linear-gradient(135deg, $utsa-blue 0%, #111111 74%);
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  webkit-linear-gradientidth: 100%;
  width: 100%;
  z-index: 1;
}

#hero.small {
  height: 20vh !important;
  min-height: 20vh;
}


body.is-preload #hero .inner {
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  opacity: 0;
}

body.is-preload #hero:before {
  opacity: 1;
}

#hero div.scroll-down a.btn.btn-primary {
  margin-top:2.25rem;
  display:block;
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 -2px 4px 0 rgba(0,0,0,0.24);
  border-radius:100px;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
  z-index: 5000;
  text-decoration: inherit;
  opacity:1.0;
}

#hero div.scroll-down a.btn.btn-primary:after {
  font: normal normal normal 14px/1 FontAwesome;
  margin-top:-2.2rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.25;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  content: "\f078";
  font-size: inherit;
  color: $white;
  text-decoration: inherit;
  opacity:1.0;
}

#hero div.scroll-down {
  margin-top: 0;
  width:100%;
  opacity: 1;
  position: relative;
}



@include media-breakpoint-up (lg) {
  div.inner p {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  #hero div.scroll-down a.btn.btn-primary {
    margin-top:2.25rem;
    bottom: -110px;
  }
  #hero div.scroll-down {
    margin-top: 0;
  }
}

@include media-breakpoint-down(xl) {
  #hero video {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  #hero > .top {
    width: 100%;
    margin-left:0;
    margin-right:0;
  }
  #hero div.scroll-down a.btn.btn-primary {
    margin-top:2.25rem;
    bottom: -110px;
  }
}

@include media-breakpoint-down(sm) {
  #hero {
    height: auto !important;
    min-height: 0;
    padding: 4rem 2rem;
  }

  #hero .inner {
    width: 100%;
  }

  #hero h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  #hero p {
    font-size: 1.0rem;
  }

  #hero br {
    display: none;
  }

  #hero .button {
    width: 100%;
  }


  #hero div.scroll-down a.btn.btn-primary {
    margin-top:2.25rem;
    bottom: -80px;
  }

  #hero div.scroll-down a.btn.btn-primary:after {
    margin-top:-2.2rem;
    line-height: 0.25;
    color: $white;
  }

  #hero div.scroll-down {
    margin-top: 0;
  }
}

@include media-breakpoint-down(xs) {
  #hero p {
    font-size: 0.9rem;
  }
}
