
/* Header */

#header {
  background: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header > .logo {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: 0 1.25rem;
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  body {
  }

  #header {
    height: 44px;
    line-height: 44px;
  }
}
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}
/* Heading */
#heading {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: $utsa-blue;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(12, 35, 64, 0.5), rgba(12, 35, 64, 0.25)), url("../../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 15rem !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

#heading hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

#heading .highlights .content {
  background: #111111;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.025);
}

#heading .testimonials .content {
  background: #111111;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.025);
}

#heading .testimonials .content .credit strong {
  color: #ce1b28;
}

#heading:before {
  background: linear-gradient(135deg, #0c2340 0%, #FFFFFF 89%);
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#heading h1 {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 980px) {
  #heading {
    padding: 2rem;
  }
}
