
ul.icons {
  list-style-type:none;
}

/* Lists */
ol {
 margin:0 0.5em 1.2em 1.1em;
 padding: 0;
}


/* Lists */
ul.custLinkGroup{
 list-style-type:none;
 margin:0 0 1.2em 1.1em;
 padding: 0;
}
.custLinkGroup li{
 margin-bottom:.25em;
 text-indent: -0.9rem;
}
.custLinkGroup li:before{
 content:'\00bb';
 padding-right:0.4rem;
 color:#f15a22
}
.fa-ul i{
 color:#f15a22
}
.custLinkGroup a:hover{
 color:#f15a22
}
.custLinkGroup a{
 color:#0c2340;
 font-weight:600;
 font-size:.95em;
 border-bottom:none
}
.custIconLinkGroup a{
 color:#0c2340;
 font-weight:600;
 border-bottom:none
}

ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1rem;

		li {
			padding-left: 0.325rem;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px;
				padding: 0.75rem;
        width: 90%;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
				}
		 }
	}
}

/* Actions */
ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  //margin-left: -1rem;
  padding-left: 0;
}

ul.actions li {
  //padding: 0 0 0 1rem;
  vertical-align: middle;
}


div.blogCategory {
  margin-top: 0.25rem;
  padding: 0.4rem 0;
}
div.blogCategory span {
  background-color: $utsa-blue;
  opacity: 0.95;
  color: #FFF;
  padding: 0.25rem 0.35rem;
  margin-right:0.25rem;
}
div.blogCategory span a {
  color: #FFF;
}
div.blogCategory span a:hover {
  color: $utsa-orange;
}
.blogCategory li {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  list-style: none;
}
.blogCategory ul {
  padding-left: 0.3rem;
}
