
// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: $white;
}

body.is-preload *,
body.is-preload *:after,
body.is-preload *:before {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
body:before {
  content: ' ';
  background-image: url("/bhc/images/common/BSE006.jpg");
  //background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.75)), url("/bhc/images/common/BSE006.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.08;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: _palette(bg);

  // Stops initial animations until page loads.
    &.is-preload {
      *, *:before, *:after {
        @include vendor('animation', 'none !important');
        @include vendor('transition', 'none !important');
      }
    }

}

/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 2rem 2rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3rem;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.home-content-cards .containerWrapper,
.home-content-page .containerWrapper {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.025);
  margin: 0;
}

#site-content .containerWrapper,
#site-top .containerWrapper,
#site-banner .containerWrapper {
  background: #ffffff;
  margin: 0;
  //margin: 0 2.0rem 0 2.0rem;
}

.containerWrapper .site-content {
  background: #ffffff;
  margin: 0;
  //margin: 0 2.0rem 0 2.0rem;
}

#site-navigation .containerWrapper {
  margin: 0;
  //margin: 0 2.0rem 0 2.0rem;
  padding:0;
}

section#hero.container {
  width:100%;
  max-width:100%;
  padding:0;
}

.containerWrapper {
  @include make-container();
  @include make-container-max-widths();
}

.fa .label {
  font-family: "ff-meta-web-pro",sans-serif;
  display:none;
}


.site-top-Title {
 font-weight: 700;
 margin: .3em 0 .6em;
 display: block;
 font-family: inherit;
 line-height: 1.1;
 font-size: 2.75rem;
 text-rendering: optimizelegibility;
 background-color: $white;
 box-sizing: border-box;
 color: #utsa-orange;
 cursor: auto;
}

.site-top-Title a:hover {
 color: $utsa-blue;
}

.site-top-Title a {
 color: $utsa-orange;
}


#site-content {
  margin-top:0;
  padding-top:0;
 //margin-top: 2em;
}

#site-content div.containerWrapper {
  padding: 2em 1.5em 1.5em 1.5em;
}


.site-top-Title {
 float: left;
 width: 100%;
 margin-bottom: 20px;
}

.site-top-Title-img {
 float: left;
 width: 77;
 padding-right: 0.75rem;
}

.grayBoxContainer {
   padding: 1.2em;
   background: #f1f1f1;
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0; }
  hr.major {
    margin: 4rem 0; }

h1, h2, h3, h4, h5, h6 {
  color: $utsa-blue;
}
