
#departmentalPageNav {
 background: #0c2340;
 margin-left: 0;
 margin-bottom: 0;
 padding-left: 1rem;
}

.breadcrumbs {
 padding-top: .9em;
 padding-bottom: 0.45em;
 font-size: .75em
}
.breadcrumbs span {
 padding: 0 .2em
}
.breadcrumbs a {
   color: $utsa-blue;
}
#departmentalPageNav li a {
 color: #fff;
}

#departmentalPageNav li a:hover {
   color: #f15a22
}

#departmentalPageNav li ul li {
   border-top: 1px solid #3D3D3D
}

#departmentalPageNav li ul li {
   background: #0C2340;
   border-top: 1px solid #3D3D3D
}
#departmentalPageNav li {
   display: inline-block;
   margin-right: 0;
   position: relative;
   color: #fff;
   padding: 15px 10px;
   cursor: default
}

#departmentalPageNav li a {
   border-bottom: none;
   color: #fff;
   padding: 15px 0;
   text-decoration: none
}

#departmentalPageNav li ul {
   padding: 0;
   position: absolute;
   z-index: 1;
   top: 50px;
   left: -10px;
   width: 245px;
   display: none;
   opacity: 0;
   visibility: hidden;
   border-top: 3px solid #f15a22
}

#departmentalPageNav li ul li {
   display: block;
   border-top: 1px solid #0D2F59
}

#departmentalPageNav li ul li a {
   padding: 15px 10px
}

#departmentalPageNav li:hover ul {
   display: block;
   opacity: 1;
   visibility: visible
}


.nav-gray {
 background-color: #e0e0e0;
 /* disabling top and bottom margin: jdg @5/20/16
 margin: 40px 0;
 */
 padding: 20px;
 position: relative;
 -moz-box-shadow: 0 0 1px #888;
 -webkit-box-shadow: 0 0 1px #888;
 box-shadow: 0 0 1px #888;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
}

#col-navigation .nav-gray a {
 border-bottom: none;
 color: #002244;
 display: block;
 padding: 6px 0;
}

/* PRIMARY
  ==============================================*/

.nav-gray ul {
 margin: 0;
 padding: 0;
}

.nav-gray li {
 list-style: none;
 padding: 0;
}

#col-navigation .nav-gray li a {
 border-top: 1px solid #ccc;
 color: #002244;
 font-size: 95%;
}

#col-navigation .nav-gray li:first-child a {
 border-top: none;
}

#col-navigation .nav-gray li a:hover {
 color: #f47321
}

#col-navigation .nav-gray a.selected {
 color: #F47321;
 font-weight: bold;
}
/* Default Icon Color when in col-navigation */
#col-navigation i.fa {
 padding-left: 0.4rem;
 color: #f15a22;
}


.nav-gray > ul > li > ul { padding-bottom: 10px }

/* SECONDARY
  ==============================================*/
.nav-gray ul ul {
 margin-top: -2px;
 padding: 0 0 0 15px;
}

.nav-gray li li {
 list-style-position: outside;
}

#col-navigation .nav-gray li li a {
 border: none;
 color: #444;
 font-size: 90%;
 padding: 2px 0;
}

/* TERTIARY
==============================================*/

.nav-gray ul ul ul {
 padding: 0 0 0 15px;
 margin: 0;
}

#col-navigation .nav-gray li li li a {
 font-size: 80%;
 padding: 2px 0;
}

/* QUATERNARY
==============================================*/

.nav-gray ul ul ul ul { padding: 0 0 0 15px }

#col-navigation .nav-gray li li li li a {
 font-size: 75%;
 padding: 2px 0;
}

/* QUINARY
==============================================*/

#col-navigation .nav-gray li li li li li {
 font-size: 95%;
}

/* SELECTED ITEM STYLES
==============================================*/

#col-navigation .nav-gray > ul > li.parent > a {
 cursor: pointer;
 padding-right: 25px;
}

#col-navigation .nav-gray > ul > li.parent:hover > a {
 background-position: right -32px;
 color: #f47321;
}

#col-navigation .nav-gray > ul > li.parent > a.selected {
 background-position: right -96px;
 font-weight: bold;
}

#col-navigation .nav-gray > ul > li.parent > a.selected:hover {
 background-position: right -64px;
}

/* NAV ACTION BUTTONS
==============================================*/
#col-navigation ul.action-btn li { margin-bottom: 8px; }

#col-navigation ul.action-btn li:last-child {
 border: 0;
 margin-bottom: 25px;
}

#col-navigation .nav-gray li a.btn {
 color: #fff;
 font: bold 80%/1.2 'Open Sans', sans-serif;
}

#col-navigation .nav-gray a.btn {
 border: none;
 font: bold 90%/1 'Open Sans', sans-serif;
 text-transform: uppercase;
 color: #ffffff;
 padding: 8px;
 text-align: center;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}

#col-navigation .nav-gray li a.btn {
 background:#f68a38; /*IE Fix*/
 background: -moz-linear-gradient( top, #f57c20 0%, #f68a38);
 background: -webkit-gradient( linear, left top, left bottom, from(#f57c20), to(#f68a38));
 background: -ms-linear-gradient( top, #f57c20 0%, #f68a38);
 -moz-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
 -webkit-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
 box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
}
