
/* Testimonials */

.testimonials .content .author blockquote {
  margin: 0;
}

.testimonials .content .author .image {
}

.testimonials .content .author .image img {
  border-radius: 100%;
  max-width: 100%;
}

.testimonials p {
  padding: 0.75rem 0 0.75rem 0;
}

@media screen and (max-width: 980px) {
  .testimonials .content {
    padding: 2rem;
  }
}
@media screen and (max-width: 736px) {

}

.testimonials .content {
  background: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.025);
}

.testimonials .content .credit strong {
  color: #ce1b28;
}
