<h2>Task Force Members</h2>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td width="50%"><strong>Rhonda M. Gonzales <br/> </strong>Chair<br/> <em>Interim Vice President for Student Success</em></td>
          <td width="50%"></td>
        </tr>
        <tr>
          <td><strong>Evangeline Aguilera</strong><br/>Faculty Senate Representative<br/><em>Assistant Professor, COEHD</em></td>
          <td><strong>Sharon Navarro</strong><br/> <em>Associate Professor, Department of Political Science &amp; Geography, COLFA</em></td>
        </tr>
        <tr>
          <td><strong>Edwin Barea-Rodriguez&#160;</strong><br/><em>Associate Dean, COS</em></td>
          <td><strong>Benjamin Perry</strong><br/><em>Assistant VP for Facilities Planning &amp; Development, VPBA</em></td>
        </tr>
        <tr>
          <td><strong>Lisa Blazer</strong><br/> <em>Interim Vice President for Strategic Enrollment, VPSE</em></td>
          <td><strong>Antonio Petrov</strong><br/> <em>Assistant Professor, Department of Architecture, CACP</em></td>
        </tr>
        <tr>
          <td><strong>Monica Bowden</strong><br/>Staff Council Representative<br/><em>Senior Program Coordinator, COE</em></td>
          <td><strong>Kevin Price</strong><br/> <em>Senior Associate Vice President &amp; Dean of Students, VPSA</em></td>
        </tr>
        <tr>
          <td><strong>&#211;scar Ch&#225;vez</strong><br/> <em>Associate Professor, Department of Mathematics, COS</em></td>
          <td><strong>Katherine Rico</strong><br/> <em>Student Government Association Representative</em></td>
        </tr>
        <tr>
          <td><strong>Brian Cordeau&#160;</strong><br/><em>Director, Institutional Research, VPAA</em></td>
          <td><strong>Francine Romero</strong><br/> <em>Associate Professor &amp; Associate Dean, COPP</em></td>
        </tr>
        <tr>
          <td><strong>Margo DelliCarpini</strong><br/> <em>Dean, College of Education and Human Development</em></td>
          <td><strong>Patricia S&#225;nchez</strong><br/>Department Chairs Council Representative<br/><em>Professor, Department of<span>&#160;</span>Bicultural-Bilingual Studies, COEHD</em></td>
        </tr>
        <tr>
          <td><strong>Kevin Grant</strong><br/> <em>Associate Dean, COB</em></td>
          <td>
            <p><strong>Can (John) Saygin<br/> </strong><em>Interim Senior Vice Provost for Institutional Effectiveness</em><br/><em>Interim Vice Provost and Dean of the Graduate School</em></p>
          </td>
        </tr>
        <tr>
          <td><strong>Elvira Jacquez <br/></strong>President&#8217;s Staff Representative<br/> <em>Assistant Vice President for Strategic Initiatives, Office of the President</em></td>
          <td><strong>Lorrenza Vandiver&#160;</strong><br/><em>Assistant Director, Professional Development &amp; Diversity, Career Services, VPSA</em></td>
        </tr>
        <tr>
          <td><strong>Joseph Kulhanek</strong><br/> <em>Assistant Vice President, Institute for P-20 Initiatives, VPCS</em></td>
          <td><strong>Bryan Wilson</strong><br/><em>Interim Vice Provost for Information Technology and Chief Information Officer (CIO)</em></td>
        </tr>
        <tr>
          <td><strong>Rebecca Luther</strong><br/><em>Director of Communications,&#160;VPAA</em></td>
          <td><strong>Tammy Jordan Wyatt</strong><br/> <em>Associate Vice President for Student Academic Success</em></td>
        </tr>
        <tr>
          <td><strong>Raquel Marquez<span>&#160;</span></strong><br/><em>Interim Associate Vice President for Student Success Initiatives</em></td>
          <td><strong>Ren&#233; Zenteno</strong><br/> <em>Professor, Department of Demography, COPP</em></td>
        </tr>
        <tr>
          <td><strong>Harry Millwater</strong><br/> <em>Associate Dean, COE</em></td>
          <td><strong>Kimberly Andrews Espy<br/></strong>Ex-Officio<br/><em>Provost and Vice President for Academic Affairs</em></td>
        </tr>
        <tr>
          <td><strong>Kathy Funk-Baxter<br/> </strong>Ex-Officio<br/> <em>Vice President for&#160;Business Affairs</em></td>
          <td><strong>Sam Gonzales&#160;<br/> </strong>Ex-Officio<br/> <em>Vice President for&#160;Student Affairs</em></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
