
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
** Downtown Overrides Styles Start
**/

.embed-responsive-21by9:before {
  padding-top: 43.325%;
}

.downtown-container-fluid {
  background-image: url(/spotlights/downtown/img/bg-momentum.jpg);
  background-size: cover;
  background-position: left center;
  min-height: 500px;
  background-color: #0c2340;
}

span.numbers, p.numbers{
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1;
}

.bg-reimagined{
  background-image:url('/spotlights/downtown/img/bg-reimagined.jpg');

}
.bg-urban-service{
  background-image:url('/spotlights/downtown/img/bg-urban-service.jpg');
}
.bg-cities{
  background-image:url('/spotlights/downtown/img/bg-cities.jpg');
  background-color:#fff;
}
p.quote-text {
  font-size: 1.5rem;
  line-height: 1.25;
}
@media screen and (min-width:1200px){
.border-lights{
  border-left: 15px solid white !important;
}
}

blockquote {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
    font-size: 1.35rem;
}
blockquote:before {

    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    color:#f15a22;
}
blockquote:after {

    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
    color:#f15a22;
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}
