<section id="site-footer" style="padding-top:1.1em;background-color: #eee;">
  <div class="container" itemscope="" itemtype="http://schema.org/Organization">
    <div class="row text-center mx-auto justify-content-md-center">
      <div class="col-12">
        <p>More details to follow. Please share any questions or comments with the <a href="https://www.utsa.edu/president">Office of the President</a> at <a href="mailto:president@utsa.edu">president@utsa.edu</a>.
        </p>
      </div>
    </div>
  </div>
</section>
