h1, h2, h3, h4, h5, h6 {
	color: $utsa-blue;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $utsa-blue;
}
/*
	slide heirarchy:
    #slide-section .slidesContainer
      #slides
        .slide container-fluid
          .slide-image
          .slideContainer
            .slideRow
              .internalContainer
*/
.slidesContainer {
	height: 60vh;
  position: relative;
  .slidesContainer::after {
    content: "";
    display: table;
    clear: both;
	}
}

/** ## 01
		## slide

	**/
.slide {
	margin-right: auto;
	margin-left: auto;

	/*Colors for the Buttons*/
	.white{background: white; color: $utsa-orange;}
	/*.white b{color: $utsa-orange;}*/
	/*Hover Effect*/
	.white:hover{background: $utsa-orange; color: white;}
	.white:hover span{color: white;}

	.blue{background: $utsa-blue; color: white;}
	.blue b, .blue span{color: $utsa-orange;}
	/*Hover Effect*/
	.blue:hover{background: $utsa-orange; color: white;}
	.blue:hover span{color: white;}

	.orange{background: $utsa-orange; color: #ffffff;}
	.orange span, .orange b {color: #ffffff;}
	/*Hover Effect*/
	.orange:hover{background: #ffffff; color: $utsa-orange;}
	.orange:hover span{color: $utsa-orange;}

	h1, h2 {
		font-weight:700
	}

	.slideContentMainTitle, h1.slideContentMainTitle {
		font-weight:700;
		font-size:4.7em;
		line-height:1em;
		padding:0 0 .1em;
		margin:0
	}

	h2 {
		color:#fff;
		font-size:1.2em;
		line-height:1.1em;
		padding:0;
		margin:0 0 .25em
	}

	h3 {
		font-style:italic;
		font-size:1em;
		padding-bottom:.25em
	}


	ul {
		list-style-type:none
	}

	p {
		margin:0
	}

	.orangeHead {
		color:#f15a22
	}

	a, a.orangeCTA {
		color:#f15a22
	}

	a.orangeCTA, a.whiteCTA {
		font-size:1em;
		font-weight:600;
		text-decoration:none
	}

	a.orangeCTA:hover, a.whiteCTA {
		color:#fff
	}

	a.whiteCTA:hover {
		color:#f15a22
	}
}

.slide {
  position: relative;
  height:60vh;
	overflow:hidden;
}

/** ## 02
		## slide-image
**/
.slide-image {
  //background: no-repeat 100%/100% url('');
  display: relative;
  //min-height: 95vh;
	z-index:-900;
}
.slide-image, .slideContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.slide-image img {
  min-width: 105vw;
  //min-height: 100vh;
}

/**  ## 03
		 ## slideContainer
**/
.slideContainer {
	display:table;
	height: 60vh;
	width:100vw;
	//height:100%

	img.noBorder {
		border:none
	}

	.slideRow {
		display:table-cell;
		vertical-align:middle;
	}

}
.slideContentIntro, h1 {
	color:#fff;
	font-family:ff-meta-web-pro, sans-serif
}


/** ## 04 slide content styles **/
.slideContentTitle {
	color:#fff
}
.slideContentIntro {
	font-style:italic;
	font-weight:600;
	letter-spacing:.025em;
	font-size:1.1em;
	padding-bottom:.1em;
	padding:0 17%;
	margin-bottom: 1rem;
}
.slideOrangeBtn, .slideWhiteBtn {
	width:100%;
	margin:0 0 .5em;
	padding:.7em 0;
	display:block;
	text-decoration:none;
	border-radius:3px;
	font-size:1em;
	font-weight:400;
	transition:all .5s ease-in;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in
}
.slideOrangeBtn:hover, .slideWhiteBtn:hover {
	transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in
}
.slideWhiteBtn {
	background:#fff;
	color:#f15a22
}
.slideOrangeBtn {
	background:#f15a22;
	color:#fff
}
.slideOrangeBtn:hover {
	background:#fff;
	color:#f15a22
}
.slideMobileBtnContainer {
	display:none;
	margin-top:.7em
}
.slideMobileBtnContainer .slideOrangeBtn {
	text-align:center;
	width:40%;
	margin:0 auto;
	max-width: 350px;
}

/** ## 05 arrows and pagination **/

.slick-arrow {
  font-size:5em;
}

.slide-controls {
  left: 0%;
  position:relative;
  text-align: center;
  width: 100%;
  z-index:1999;
}

.slides-navigation {
  position: absolute;
  top: 25%;
  width: 100%;
	z-index:100;
}

.slides-pagination {
	text-align: center;
	width: 100%;
	margin: 0
}
.slides-pagination .thumbnails {
	border: 1px solid #fff;
	width: 150px;
	padding: 4px 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background: $utsa-blue;
	margin: 2px;
	overflow: hidden;
	opacity: .8
}
.slides-pagination a {
	color: #fff;
	font-size: .9em;
	text-decoration: none;
	line-height: 1.2em;
	font-weight: 700
}
.slides-pagination a.current {
	border: 1px solid #eee;
	opacity: .9;
	background: $utsa-orange
}

.slide-prev, .slide-next {
  //position: absolute;
  color: #FFF;
  opacity: 0.35;
}

.slide-prev:hover, .slide-next:hover {
  opacity: 1.0;
}
.slide-prev {
  left: 0;
}

.slide-next {
	right: 0;
  //left: 100vw;
}



#thumbnailsContainerFull {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 999
}

#pausePlayControl {
	padding: 12px 0px;
	color:$white;
	font-size:2.25em;
}

#global-footer {
	z-index:9990;
	background-color: $utsa-blue;
}

#globalFooterContainer {
  background: $utsa-blue;
  border-top: 3px solid $orange;
  padding-top: 1%;
  padding-bottom: 1%;
	z-index:9999;
}

/** ## 06
		## responsive sections
	**/

/*$utsa-max-xl: 1000px;
$utsa-max-lg: 900px;
$utsa-max-md: 876px;
$utsa-max-sm: 700px;
$utsa-max-xs: 575px;

@media screen and (max-width: $utsa-max-xl) {
*/

@media screen and (max-width: $utsa-max-xl) {
	.slidesContainer {
		height: 45vh;
	}
	/* ## 01 slide ## */
	.slide {
		height: 45vh;
		h2 {
			font-size:1.1em
		}
		h3 {
			font-size:0
		}
		p, ul {
			font-size:.95em
		}
	}
	/* ## 02 slide-image ## */
	/* ## 03 slideContainer ## */
	.slideContainer {
		height: 45vh;
	}
	/* ## 04 slide content styles ## */
	.slick-arrow {
	  font-size:3.5em;
	}
	.slides-pagination span.next,.slides-pagination span.prev {
	display: none
	}
	.slides-pagination .thumbnails {
		border: 2px solid #fff;
		border-radius: 25px;
		width: 0;
		padding: 4px 5px;
		height: 15px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
		margin: 2px;
		overflow: hidden;
		text-indent: -100%;
	}
  .slides-pagination a.current {
		border: 2px solid #fff;
	  background: #E9562C;
		height: 15px;
  }
	.slides-navigation a img {
		width: 30px
	}
	.slides-navigation a.prev {
		left: 5px
	}
	.slides-navigation a.next {
		right: 5px
	}
	.slides-navigation {
	  position: absolute;
	  top: 35%;
	  width: 100%;
		z-index:100;
	}
	.slideOrangeBtn, .slideWhiteBtn {
		font-size:.95em;
		padding:.6em 0
	}
	.slides-pagination {
		padding-top: 1.1em;
	}
	.fa-transparent-bgcolor {
		font-size:2.0rem;
		padding-top:0.95rem;
	}
}

@media screen and (max-width: $utsa-max-md) {
	.slidesContainer {
		height: 35vh;
	}
	/* ## 01 slide ## */
	.slide {
		height: 35vh;
	}
	/* ## 02 slide-image ## */
	/* ## 03 slideContainer ## */
	.slideContainer {
		height: 35vh;
	}
	/* ## 04 slide content styles ## */
}

@media screen and (max-width: $utsa-max-sm) {
	.slidesContainer {
		height: 25vh;
	}
	/* ## 01 slide ## */
	.slide {
		height: 25vh;
		h2 {
			font-size:1.15em
		}
		p, ul {
			font-size:.92em
		}
	}
	/* ## 02 slide-image ## */
	/* ## 03 slideContainer ## */
	.slideContainer {
		height: 25vh;
	}
	/* ## 04 slide content styles ## */
	.slideContentMainTitle, h1.slideContentMainTitle {
		font-size:3em
	}
	.slideContentIntro {
		font-size:1.1em
	}
	.slideMobileBtnContainer {
		display:block
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
		font-size:2.7em
	}
	.slideContentIntro {
		padding: 0 5%;
		font-size:.85em
	}
	/* ## 05 arrows and pagination ## */
	.slick-arrow {
		font-size:2em;
	}
	.slides-navigation a img {
		display: none
	}
}

@media screen and (max-height:640px) {
	.slideEventInfo {
	display:none
	}
	.slideMobileBtnContainer {
	display:block
	}

	.slick-arrow {
	  font-size:3.5em;
	}
  .slides-pagination span.next,.slides-pagination span.prev {
  display: none
  }

	.slides-pagination .thumbnails {
		border: 2px solid #fff;
		border-radius: 25px;
		width: 0;
		padding: 4px 5px;
		height: 15px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
		margin: 2px;
		overflow: hidden;
		text-indent: -100%
	}

	.slides-pagination a {
	}

  .slides-pagination a.current {
		border: 2px solid #fff;
	  background: #E9562C;
		height: 15px;
  }
  .slides-pagination {
  margin: 0 0 5px
  }
  .slides-navigation a img {
  width: 30px
  }
  .slides-navigation a.prev {
  left: 5px
  }
  .slides-navigation a.next {
  right: 5px
  }

	.slides-navigation {
	  position: absolute;
	  top: 40%;
	  width: 100%;
		z-index:100;
	}
  a.pause span.glyphicons {
    padding: 12px 0px;
    color: #FFF;
    font-size:2.25em;
  }
}

@media screen and (max-width: $utsa-max-xs) {
	.slidesContainer {
		height: 20vh;
	}
	/* ## 01 slide ## */
	.slide {
		height: 20vh;
	}
	/* ## 03 slideContainer ## */
	.slideContainer {
		height: 20vh;
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
		font-size:2.1em!important
	}
	.slideContentIntro {
		font-size:1em;
		font-weight:600
	}
}
@media screen and (max-width:320px) {
	.slideContentMainTitle, h1.slideContentMainTitle {
	font-size:2.6em!important
	}
	.slideContentIntro {
	font-size:.9em
	}
}


/*
Theme Name: UTSA DEFAULT THEME
Author: ADS, UCM
Description: Based on the Flat Theme.
Version: 1.0
*/

/* headings reset */
h1, h2, h3, h4, h5 {
  color: #000;
    font-weight: 700;
    margin: .3em 0 .6em
}



#siteHeader {
  background-color: #0c2340;
  color: white;

}

.siteName {
  font-size: 2.15rem;
  font-family: Helvetica, sans-serif;
  font-weight:300;
  line-height: 3.5rem;
}

.siteName a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

.siteName a:hover {
    color: #f15a22;
    text-decoration: none
}

nav#icon-bar a.nav-link {
    margin-left: .5rem;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.entry-content a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

p {
    font-size: 15px;
    line-height: 1.688;
    margin-bottom: 20px;
}
hr {
    background-image: -moz-linear-gradient(left center , rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
    content: "";
    height: 2px;
    width: 100%;
}
.btn {
    font-weight: 400;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #d9534f;
    outline: none;
}


#title {
    background-image: url("./assets/images/layout/title-bg.jpg");
    background-position: center center;
    background-size: cover;
    ///*    margin-top: 45px;*/
    padding: 0;
}

/* Background Images for Page Category */
/*about*/
.category1 {
  background-image: url("./assets/images/layout/about_banner.jpg") !important;
}
/*scholarships*/
.category2 {
  background-image: url("./assets/images/layout/scholarships_banner.jpg") !important;
}
/*cadet life*/
.category3 {
  background-image: url("./assets/images/layout/cadets_banner.jpg") !important;
}
/*faculty-staff*/
.category4 {
  background-image: url("./assets/images/layout/faculty_banner.jpg") !important;
}
/*news-alumni*/
.category5 {
  background-image: url("./assets/images/layout/alumni_banner.jpg") !important;
}
/*helpful-links*/
.category6 {
  background-image: url("./assets/images/layout/helpfulLinks_banner.jpg") !important;
}
#title .overlay {
    /*background: rgba(39,49,39,0.50);*/
    background: rgba(241, 89, 34, 0.77);
}
#title .row {
    padding: 50px 0;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-indicators li, .carousel-indicators li.active {
  box-shadow: 0px 0px 0px 0px #808080;
}
#services .media:hover .icon-md {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel-control {z-index: 5}



/* =WordPress Core
-------------------------------------------------------------- */

.sticky{}

.bypostauthor{}

.alignnone {
  margin: 10px 0 20px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto;
}
.alignright {
  float: right;
  margin: 20px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 20px 20px 20px 0;
}
.wp-caption {
  background: #eee;
  padding: 5px;
  text-align: center;
  max-width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  padding: 5px 0 0;
}
.entry-caption {
  margin-top: 15px;
}
.gallery {
  margin-bottom: 20px;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
  display: table;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(46%);
  max-width: calc(46%);
  text-align: center;
}
.gallery-columns-3 .gallery-item {
  max-width: 31%;
  max-width: -webkit-calc(29.299999999999997%);
  max-width: calc(29.299999999999997%);
  text-align: center;
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(21%);
  max-width: calc(21%);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(16%);
  max-width: calc(16%);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(12.7%);
  max-width: calc(12.7%);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(10.28%);
  max-width: calc(10.28%);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(8.5%);
  max-width: calc(8.5%);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(7.1%);
  max-width: calc(7.1%);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%;
}
.gallery-caption:before {
  box-shadow: 0 -10px 15px #000000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
/* Hide Author metadata for pages */
.entry-meta {
    display: none;
}

.portfolio-items,
.portfolio-filter {
    list-style: none;
    padding: 0;
}

.portfolio-filter > li {
    display: inline-block;
    padding: 0 0 10px 0;
}

.portfolio {
    margin: 0 -12px -12px 0;
    position: relative;
}
.portfolio-item {
    float: left;
    height: auto;
    padding: 0 12px 12px 0;
    position: relative;
/*    width: 25%;
*/}
.portfolio-item .portfolio-image {
    overflow: hidden;
    position: relative;
}
.portfolio-item .portfolio-image, .portfolio-item .portfolio-image a, .portfolio-item .portfolio-image img {
    display: block;
    height: auto;
    width: 100%;
}

.portfolio-desc {
    padding: 15px 5px 10px;
    z-index: 3;
    height: 65px;
}
.portfolio-desc h3 {
    font-size: 19px;
    margin: 0;
    padding: 0;
}
.portfolio-desc a {
    color: #444;
}
.portfolio-desc a:hover {
    color: #F15922;
    text-decoration: none;
}
.portfolio-desc span {
    color: #888;
    display: block;
    margin-top: 3px;
}

/* Start: Recommended Isotope styles */
.sidebar ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    border-bottom: 1px solid #fff;
    display: block;
    font-weight: 600;
    margin-bottom: 3px;
    padding: 0 20px 0 0;
    background-color: #F5F5F5;
}
.sidebar li.current-menu-item a, .current-menu-item li:hover a {
    border-left-color: #F15922;
    color: #F15922 !important;
    text-decoration: none;
}
.sidebar  ul li a {
    border-left: 5px solid transparent;
    color: #444;
    display: inline-block;
    font-size: 15px;
    padding: 14px 0 14px 18px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


#title h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.center {
    text-align: center;
}

#home-outline i {
    color: #f15922;
    font-size: 60px;
    padding: 15px;
}
#meet-the-team .designation {
    margin-top: 5px;
    display: block;
    font-size: 13px;
}

.img-thumbnail {
    border: 0;
}
.thumbnail {
  float: right;
  margin: 0 0 10px 10px;
}
.progress,
.progress .bar {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
}

.well {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

/*    BREADCRUMBS     */
ul.breadcrumb {
    background: transparent;
}

ul.breadcrumb > li {
    text-shadow: none;
}

ul.breadcrumb > li > a,
ul.breadcrumb > li .divider {
    color: #fff;
}

ul.breadcrumb > li.active {
    color: rgba(255, 255, 255, 0.7);
}
/*   END BREADCRUMBS     */


.centered {
    text-align: center;
}

.btn-social:hover {
    color: #fff;
}

.navbar .btn-orange {
    margin: 8px 0 0;
}

.btn-orange {
    color: #ffffff;
    background-color: #F15A22;
    border-color: #C93E0C;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #F15A22;
    border-color: #C93E0C;
}

.btn-orange .badge {
    color: #F15A22;
    background-color: #ffffff;
}

/* Navigation and Header Styles */
#site-navigation {
	background: #0c2340;
}

#departmentalPageNav {
  background: #0c2340;
  margin-left: 0;
  margin-bottom: 0
}

#departmentalPageNav li a {
  color: #fff;
}

#departmentalPageNav li a:hover {
    color: #f15a22
}

#departmentalPageNav li ul li {
    border-top: 1px solid #3D3D3D
}

#departmentalPageNav li ul li {
    background: #0C2340;
    border-top: 1px solid #3D3D3D
}
#departmentalPageNav li {
    display: inline-block;
    margin-right: 0;
    position: relative;
    color: #fff;
    padding: 15px 10px;
    cursor: default
}

#departmentalPageNav li a {
    border-bottom: none;
    color: #fff;
    padding: 15px 0;
    text-decoration: none
}

#departmentalPageNav li ul {
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: -10px;
    width: 245px;
    display: none;
    opacity: 0;
    visibility: hidden;
    border-top: 3px solid #f15a22;

		li ul {
			padding: 0;
			position: absolute;
	    z-index: 1;
	    width: 245px;
			left: 5px;
	    display: none;
	    opacity: 0;
	    visibility: hidden;
	    border-top: 3px solid #f15a22;

			li ul {
				padding: 0;
				position: absolute;
		    z-index: 1;
		    width: 245px;
				left: 5px;
		    display: none;
		    opacity: 0;
		    visibility: hidden;
		    border-top: 3px solid #f15a22;
			}
		}
}

#departmentalPageNav li ul li {
    display: block;
    border-top: 1px solid #0D2F59
}

#departmentalPageNav li ul li a {
    padding: 15px 10px
}

#departmentalPageNav li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible
}

/* Bootstrap Fix Nav and Wordpress Admin Bar Overlap Fix */
.admin-bar > .navbar-fixed-top {
  top: 32px !important;
}

.icon-lg {
    font-size: 48px;
    height: 108px;
    width: 108px;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
}

.icon-md {
    font-size: 36px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.modal {
    border: 0;
}

.modal .modal-header {
    border: 0;
    padding: 20px 20px 0;
}

.modal .modal-header > h4 {
    font-weight: 300;
    font-size: 14px;
    color: #848484;
    text-transform: uppercase;
    margin: 0;
}

.modal .modal-body {
    padding: 20px;
}

.modal input[type="text"],
.modal input[type="password"] {
    padding: 5px 10px;
    min-height: 30px;
    width: 130px;
    margin-right: 10px;
}

.modal .icon-remove {
    color: #848484;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: block;
    background: #ebebeb;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.modal button {
    margin-left: 10px;
    border: 0;
}

.gap {
    margin-bottom: 50px;
}

.big-gap {
    margin-bottom: 100px;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.registration-form {
    border: 0;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
}


#bottom {
    border-top: 3px solid #eee; /*3px solid #f15a22*/
    padding: 25px 0;
}

#bottom h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

#bottom .media-heading {
    display: block;
    font-weight: 400;
}

#bottom ul {
    padding: 0px;
}

#bottom li {
    list-style: outside none none;
}
#bottom li p {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px;
    line-height:20px;
}
#bottom address {
  font-weight: normal;
}
.thumbs li {
    background: #858585 none repeat scroll 0 0;
    float: left;
    margin: 5px;
    padding: 3px;
}

.social-media {
  padding: 0 10px 0 0;
  font-size: 25px;
}
.social-media-top {
  padding: 0px;
  font-size: 25px;
}
article footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.row > div {
    margin-bottom: 10px;
}

ul.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: inline-block;
}

ul.social > li {
    display: inline-block;
    margin: 0 5px;
}

ul.social > li > a {
    font-size: 24px;
    color: #666;
}

ul.social > li > a:hover {
    color: #999;
}

.box-border {
    padding: 15px;
}

.accordion-group {
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
}

.accordion-heading .accordion-toggle {
    color: #666;
    font-weight: 700;
}

.accordion-inner {
    border-top: 0;
}

.blog .blog-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog .blog-item .img-blog {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.blog .blog-item .blog-content {
    padding: 20px;
}

.blog .blog-item h3 {
    margin-top: 0;
}

.blog .blog-item .entry-meta {
    margin-bottom: 20px;
}

.blog .blog-item .entry-meta > span {
    display: inline-block;
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}

.blog .blog-item .entry-meta > span a {
    color: #999;
}
.entry-thumbnail img {
    width: 100%;
    height: auto;
}
ul.pagination > li > a {
    border: 0;
}

ul.pagination > li.active > a,
ul.pagination > li:hover > a {
    background-color: #34495e;
    color: #fff;
}

textarea#message {
    padding: 10px 15px;
    height: 219px;
}

.widget {
    margin-bottom: 30px;
}

/* Screen Resolution Overrides */
@media screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .admin-bar > .navbar-fixed-top {
  top: 0px !important;
  }

  #wpadminbar {display: none;}
  #title .row {
    padding: 70px 0 10px;
  }
  /* Optional removes gradient on slider controls */
  .carousel-control.right, .carousel-control.left, a.carousel-control:focus {
    background-image: none;
  }
  .thumbnail  {
    float: none;
    margin: 0 0;
  }
  .thumbnail img {
    width: 100%;
  }
}

.secondmenurow {
  text-align: center;
  padding: 10px;
  background-color: #e45520;
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.33));
  z-index: 1;
}
.secondmenurow::after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    -webkit-transform: scaleX(3.5);
    -moz-transform: scaleX(3.5);
    -ms-transform: scaleX(3.5);
    -o-transform: scaleX(3.5);
    transform: scaleX(3.5);
    border-top-color: #e45520;
}
.secondmenurow  .navbar-toggle {
  float: none;
  margin: 0;
  padding: 0;

}
.secondmenu:hover, .secondmenu:focus {
  text-decoration: none;
}
.navbar-nav {
  margin: 0px -15px;
}


.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    // 16/9 ratio
    padding-top: 30px;
    // IE6 workaround
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content .container {
    //padding-top: 125px;
    background: #FFF;
    font-weight: 300;
    color: #000;
    font-family: Helvetica, sans-serif;
}

section.content {
  padding-top: 3%;
}


.siteFooter {
  color: #373a3c;
  background-color: #eee;
}
