<!-- #include file="/today/_inc/v1.1/generated/today-header.html" -->
  <title>UTSA Today | UTSA | The University of Texas at San Antonio</title>
  <!--#include virtual="/today/_inc/v1.1/generated/today-header-after-title.html" -->
  <!--#include virtual="/inc-share/analytics/analytics.js" -->
</head>
<body>
<!--#include virtual="/_files/global-header-012019.html" -->
<!--#include virtual="/today/_inc/v1.1/generated/today-nav.html" -->

<section class="mt-4" id="utsatoday-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- begin top three stories -->
        <div class="row">
        	<div class="col">
        		<div class="card blue-bg border-0 mb-3 mb-sm-4">
        			<a class="alt-overlay" ga-event-action="//www.utsa.edu/today/2018/12/story/CommencementWeek" ga-event-category="todayClick" ga-event-label="home-main-stories-01" ga-on="click" href="//www.utsa.edu/today/2018/12/story/CommencementWeek.html">
        		 	<img alt="Roadrunners celebrate the defining moment in their academic journey" class="w-100 card-img-top d-none d-sm-block" src="//www.utsa.edu/today/2018/images/Grad-Fist780.jpg">
        		 	<img alt="Roadrunners celebrate the defining moment in their academic journey" class="w-100 card-img-top d-block d-sm-none" src="//www.utsa.edu/today/2018/images/Grad-Smile340.jpg">
        			 <div class="card-block pt-1 pl-3 pr-3 pb-2">
        				 <h2 class="card-title d-none d-md-block font-weight-normal">
        						 Roadrunners celebrate the defining moment in their academic journey
        				 </h2>
        				 <h5 class="card-title d-block d-md-none font-weight-normal">
        						 Roadrunners celebrate the defining moment in their academic journey
        				 </h5>
        			 </div>
        			</a>
        		</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-sm d-sm-flex">
        		<div class="card blue-bg border-0 mb-3">
        			<a class="alt-overlay" ga-event-action="//www.utsa.edu/today/2018/12/story/OIT-Grants" ga-event-category="todayClick" ga-event-label="home-main-stories-02" ga-on="click" href="//www.utsa.edu/today/2018/12/story/OIT-Grants.html">
        			 <img alt="UTSA colleges receive grants to foster student success" class="w-100 card-img-top" src="//www.utsa.edu/today/2018/images/COBlecture3401.jpg">
        				 <div class="card-block pt-1 pl-3 pr-3 pb-2">
        					 <h5 class="card-title font-weight-normal">UTSA colleges receive grants to foster student success</h5>
        				 </div>
        			</a>
        		</div>
        	</div>
        	<div class="col-sm d-sm-flex">
        		<div class="card blue-bg border-0 mb-3">
        			<a class="alt-overlay" ga-event-action="//www.utsa.edu/today/2018/12/story/Inventors" ga-event-category="todayClick" ga-event-label="home-main-stories-03" ga-on="click" href="//www.utsa.edu/today/2018/12/story/Inventors.html">
        			 <img alt="Bernard Arulanandam elected Fellow of National Academy of Inventors" class="w-100 card-img-top" src="//www.utsa.edu/today/2017/images/arul340.jpg">
        				 <div class="card-block pt-1 pl-3 pr-3 pb-2">
        					 <h5 class="card-title font-weight-normal">Bernard Arulanandam elected Fellow of National Academy of Inventors</h5>
        				 </div>
        			</a>
        		</div>
        	</div>
        </div>
        <!-- end top three stories -->
        <div class="d-block d-md-none mb-4">
          <!-- begin more news -->
          	<div class="col d-none d-lg-block">
          	   <div class="row mb-4 align-items-center">
          	       <div class="col-8 bg-orange p-2 text-center">
          	           <h3 class="alt-overlay">News</h3>
          	       </div>
          	       <div class="col-4 text-right">
          	           <a aria-label="UTSA Today RSS Feed" href="/today/rss/" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
          	       </div>
          	   </div>
          	</div>
          	<div class="col d-block d-lg-none">
          	   <div class="row mb-4 bg-orange align-items-center">
          	       <div class="col-10 col-md-9 p-2 text-center">
          	           <h3 class="pl-5 alt-overlay">News</h3>
          	       </div>
          	       <div class="col-2 col-md-3 text-right">
          	           <a aria-label="UTSA Today RSS Feed" class="alt-overlay" href="/today/rss/" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
          	       </div>
          	   </div>
          	</div>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
          	<div class="row">
          		<div class="col-12 pt-md-2 pb-md-2">
          			<h3>
          				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
          				   Students explore topics of race and identity during new UTSA course
          				 </a>
          			</h3>
          		</div>
          	</div>
            <hr>
            <div class="row">
          		<div class="col-sm-12">
          			<h5 class="m-0">
          				<a ga-event-action="/today/morenews.html" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="more-news.html">
          					<i aria-hidden="true" class="fa fa-angle-double-right"></i> More news
          				</a>
          			</h5>
          		</div>
          	</div>
        </div>

        <!-- begin spotlights -->
        <div id="advancing-vision" class="mt-4">
          <div class="col-lg-4 bg-orange p-2 mb-4 text-center">
            <h3 class="alt-overlay">Advancing the Vision</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
              <a ga-event-action="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                <img alt="${formatImageDisplayName}" class="w-100 img-fluid" src="//www.utsa.edu/today/2018/images/students-mc355.jpg">
              </a>
            </div>
            <div class="col-md-8">
              <a class="font-weight-bold" ga-event-action="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                Building on Student Success
              </a>
              <p class="mb-0">
                UTSA is enhancing the college experience with the creation of a Student Succes Center. The center will centralize UTSA's academic support programs and campus services under one roof.
              </p>
              <p class="mb-0 font-weight-bold smallest mid-grey-text">UTSA Today</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <a ga-event-action="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                <img alt="${formatImageDisplayName}" class="w-100 img-fluid" src="//www.utsa.edu/today/2018/images/students-mc355.jpg">
              </a>
            </div>
            <div class="col-md-8">
              <a class="font-weight-bold" ga-event-action="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                Building on Student Success
              </a>
              <p class="mb-0">
                UTSA is enhancing the college experience with the creation of a Student Succes Center. The center will centralize UTSA's academic support programs and campus services under one roof.
              </p>
              <p class="mb-0 font-weight-bold smallest mid-grey-text">UTSA Today</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <a ga-event-action="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                <img alt="${formatImageDisplayName}" class="w-100 img-fluid" src="//www.utsa.edu/today/2018/images/students-mc355.jpg">
              </a>
            </div>
            <div class="col-md-8">
              <a class="font-weight-bold" ga-event-action="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                Building on Student Success
              </a>
              <p class="mb-0">
                UTSA is enhancing the college experience with the creation of a Student Succes Center. The center will centralize UTSA's academic support programs and campus services under one roof.
              </p>
              <p class="mb-0 font-weight-bold smallest mid-grey-text">UTSA Today</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <a ga-event-action="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="//www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                <img alt="${formatImageDisplayName}" class="w-100 img-fluid" src="//www.utsa.edu/today/2018/images/students-mc355.jpg">
              </a>
            </div>
            <div class="col-md-8">
              <a class="font-weight-bold" ga-event-action="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html" ga-event-category="todayClick" ga-event-label="archive-spotlights" ga-on="click" href="http://www.utsa.edu/today/2018/12/story/StudentSuccessCenter.html">
                Building on Student Success
              </a>
              <p class="mb-0">
                UTSA is enhancing the college experience with the creation of a Student Succes Center. The center will centralize UTSA's academic support programs and campus services under one roof.
              </p>
              <p class="mb-0 font-weight-bold smallest mid-grey-text">UTSA Today</p>
            </div>
          </div>
          <hr />



        </div>
        <!-- end spotlights -->

    		<!-- begin photo and marr -->
        <div class="row" id="todayPhotoOfTheDay">
          <!--#include virtual="/today/_inc/v1.1/generated/today-marr.html" -->
          <!--#include virtual="/today/_inc/v1.1/generated/today-pod.html" -->
        </div>
    		<!-- end photo and marr -->

    		<!-- begin bottom two cols -->
        <div class="row utsaToday-AroundCampus">
          <!--#include virtual="/today/_inc/v1.1/generated/today-newswire.html" -->
          <!--#include virtual="/today/_inc/v1.1/generated/today-announcements.html" -->
        </div>
        <!-- end bottom two cols -->
      </div>

	<!-- begin sidebar -->
  <div class="col-md-4">
    <div class="more-news d-none d-md-block mb-4">
      <!-- begin more news -->
      	<div class="col d-none d-lg-block">
      	   <div class="row mb-4 align-items-center">
      	       <div class="col-8 bg-orange p-2 text-center">
      	           <h3 class="alt-overlay">News</h3>
      	       </div>
      	       <div class="col-4 text-right">
      	           <a aria-label="UTSA Today RSS Feed" href="/today/rss/" class="blue-text" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
      	       </div>
      	   </div>
      	</div>
      	<div class="col d-block d-lg-none">
      	   <div class="row mb-4 bg-orange align-items-center">
      	       <div class="col-10 col-md-9 p-2 text-center">
      	           <h3 class="pl-5 alt-overlay">News</h3>
      	       </div>
      	       <div class="col-2 col-md-3 text-right">
      	           <a aria-label="UTSA Today RSS Feed" class="alt-overlay" href="/today/rss/" title="UTSA Today RSS Feed"><i aria-hidden="true" class="fa fa-lg fa-rss-square"></i></a>
      	       </div>
      	   </div>
      	</div>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
      	<div class="row">
      		<div class="col-12 pt-md-2 pb-md-2">
      			<h3>
      				<a ga-event-action="site://Today-WWWROOT/2018/12/story/RaceandIdentityCourse" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="2018/12/story/RaceandIdentityCourse.html">
      				   Students explore topics of race and identity during new UTSA course
      				 </a>
      			</h3>
      		</div>
      	</div>
        <hr>
        <div class="row">
      		<div class="col-sm-12">
      			<h5 class="m-0">
      				<a ga-event-action="/today/morenews.html" ga-event-category="todayClick" ga-event-label="home-more-news" ga-on="click" href="more-news.html">
      					<i aria-hidden="true" class="fa fa-angle-double-right"></i> More news
      				</a>
      			</h5>
      		</div>
      	</div>
    </div>
    <!--#include virtual="/today/_inc/v1.1/generated/today-cta-01.html" -->
    <!--#include virtual="/inc/home/events1.1.html" -->
    <!--#include virtual="/today/_inc/v1.1/generated/today-cta-02.html" -->
  </div>
	<!-- end sidebar -->
</div></div>
</section>

<section class="mt-3 gray-bg pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>UTSA's Mission</h4>
        <p>The University of Texas at San Antonio is dedicated to the advancement of knowledge through research and discovery, teaching and learning, community engagement and public service. As an institution of access and excellence, UTSA embraces multicultural traditions and serves as a center for intellectual and creative resources as well as a catalyst for socioeconomic development and the commercialization of intellectual property - for Texas, the nation and the world.</p>
        <h4>UTSA's Vision</h4>
        <p>To be a premier public research university, providing access to educational excellence and preparing citizen leaders for the global environment.</p>
        <h4>UTSA's Core Values</h4>
        <p>We encourage an environment of dialogue and discovery, where integrity, excellence, inclusiveness, respect, collaboration and innovation are fostered.</p>
      </div>
      <div class="col-md-4">
        <h4>Related Links</h4>
        <ul class="arrowlist">
          <li><a href="/sombrilla">Sombrilla Magazine</a></li>
          <li><a href="http://giving.utsa.edu/spring2015">UTSA Giving</a></li>
          <li><a href="/today/categories/roadrunners.html">Meet a Roadrunner</a></li>
          <li><a href="https://www.utsa.edu/experts">Expert Source Guide</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--#include virtual="/_files/global-footer-092017.html" -->
<!--build:js /_files/js/global-092017.min.js-->
<script src="../js/typekit.js"></script>
<script src="../_files/components/jquery/dist/jquery.min.js"></script>
<script src="../_files/components/slick-carousel/slick/slick.min.js"></script>
<script src="../_files/components/popper.js/dist/umd/popper.min.js"></script>
<script src="../_files/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<!--endbuild-->
</body>
</html>
