
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
 ** National Security Overrides Styles Start
 **/

 blockquote {
     position: relative;
     margin: 0.5em;
     padding: 0.5em 2em 0.5em 3em;
     font-size: 1.1rem;
 }
 blockquote:before {
     position: absolute;
     font-size: 5em;
     line-height: 1;
     top: 0;
     left: 0;
     content: "\201C";
     color:#fff;
 }
 blockquote:after {
     position: absolute;
     float:right;
     font-size:5em;
     line-height: 1;
     right:0;
     bottom:-0.5em;
     content: "\201D";
     color:#fff;
 }
 .bg-orange>footer {
     padding: 0 2em 0 0;
     text-align:right;
 }
 .bg-orange>cite:before {
     content: "\2013";
 }
 .embed-responsive-21by9:before {
   padding-top: 43.325%;
 }
 .bg-powerhouse{
   background-image:url('/spotlights/nationalsecurity/img/binary-code-background.jpg');
 }
 .bg-video{
   background-image:url('/spotlights/nationalsecurity/img/cybersecurity-degrees-background.jpg');
 }
 .bg-degrees{
   background-image:url('/spotlights/nationalsecurity/img/binary-code-background.jpg');
 }
 .bg-collab{
   background-image:url('/spotlights/nationalsecurity/img/nscc-cybersecurity-collaboration.jpg');
 }
 .bg-research{
   background-image:url('/spotlights/nationalsecurity/img/technology-background.jpg');
 }
@media screen and (min-width:1920px){
 .bg-vid{
   width:100%;
 }
 }

 .vid-box{
   height:300px;
   overflow:hidden;
 }
 .vid-text{
   height:300px;
 }
 @media screen and (max-width:767px){
  .animated-words>.w-95>h2{
    font-size: 1.75rem !important;
  }
  }
.w-95{
  width:95%;
}
.dropdown-menu.show {
    background-color: #0c2340;
    color:#fff;
}
.dropdown-menu.show a {
    color:#fff;
}
.dropdown-menu.show a:hover {
    color:#0c2340;
}
.dropdown-toggle:after {
    color: #f15a22;
  }
