/* Banner */
#hero {
  background-image: url("/strategicplan/images/home-banner.jpg");
}
#hero {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  background-image: url("/strategicplan/images/home-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  height: 25rem !important;
  min-height: 25rem;
  //overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
#hero h1,
#hero h2,
#hero h3,
#hero h4,
#hero h5,
#hero h6 {
  color: #ffffff;
}

#hero h1 span {
  font-size:3.75rem;
}

#hero p {
  font-size: 2.6rem;
  font-weight:bold;
  color: #ffffff;
}

#hero > .inner {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 3;
  margin-top: 2.5em;
}

#inner {
  position: relative;
  opacity: 1;
  z-index: 10;
}

#hero > .top {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  padding-top: 1.25em;
  z-index: 3;
  margin-left:2.15rem;
  margin-right:2.15rem;
  margin-bottom: 2.75rem;
  //align-self: flext-start;
}

#hero > .inner > :last-child {
  margin-top: 1.1em;
  margin-bottom: 0;
}

#hero h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

#hero p {
  //font-size: 1.15rem;
}

#hero a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#hero a:hover {
  color: #ffffff;
}

@include media-breakpoint-up (lg) {
  div.inner p {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@include media-breakpoint-down(md) {
  #hero > .top {
    width: 100%;
    margin-left:0;
    margin-right:0;
  }
}

@include media-breakpoint-down(sm) {
  #hero {
    height: auto !important;
    min-height: 0;
    padding: 4rem 2rem;
  }

  #hero .inner {
    width: 100%;
  }

  #hero h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  #hero p {
    font-size: 1.0rem;
  }

  #hero br {
    display: none;
  }

  #hero .button {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  #hero p {
    font-size: 0.9rem;
  }
}


.blue-bg {
    background-color: #0c2340
}


.position-static {
    position: static !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

.position-sticky {
    position: sticky !important
}

.valign-center {
    top: 50%;
    transform: translateY(-50%)
}

h3.text-shadow, h4.text-shadow, p.text-shadow, span.text-shadow {
    text-shadow: 1px 3px 2px rgba(0, 0, 0, .6) !important
}

.destination {
  color: #f15a22;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size:1.5em;
}
.dest-desc {
  font-size:1.15rem;
  font-weight: bold;
}
#destinations .card-text {
  font-size: 1.10rem;
  font-weight: bold;
}

div.container .box-text {
  font-size: 1.50rem;
}
