
   /**
    ** Downtown Overrides Styles Start
    **/

      a.btn>i{
        color:#f15a22;
      }
      a.btn:hover>i.fa-lg{
        color:#f15a22;
      }
      .border-orange{
       border-left:29px solid #f15a22;border-right:29px solid #f15a22;
      }
      .celeb-text{
       margin-left: 2.5rem;
      }
      .celeb-text h2, .celeb-text p{
       color:#fff;
      }
      .carousel {
       max-height: 600px;
       overflow: hidden;
      }
      .carousel-item img {
       width: 100%;
       height: auto;
      }
      .carousel-control-next-icon, .carousel-control-prev-icon {
       width: 75px;
       height: 75px;
      }

      h1.page-title {
        color:#0c2340;
      }


      .mobile-gray-bg h6{
        color:#fff;
      }
      .embed-responsive-21by9:before {
          padding-top: 43.3714%;
      }
      h2.dt-title{
        font-size:4vw;
        color:#0c2340;;
        font-weight: lighter;
        text-transform: uppercase;
      }
      .resources-nav a:link,.resources-nav-last a:link,.resources-nav a:visited,.resources-nav-last a:visited{
        color:#fff ;
        font-weight: bolder;
      }
      .resources-nav a:hover,.resources-nav-last a:hover{
        color:#f15a22;
      }
      .resources-nav-container{
        margin-bottom: -8px;
      }
      .vertical-align {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .meet-text{
        font-size: 1.1rem;
      }
      .bg-first{
        background: url(/redesign/img/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
      }
      .blue-bg{
        background-color:#0c2340;
      }
      .gray-bg{
        background-color: rgba(220, 220, 220, 0.85);
      }
      .top-copy h3{
        font-weight: normal;
        line-height: 1.25;
      }
      .top-copy p{
        font-size: 1.25rem;
      }
      .mobile-gray-bg .fa{
        color:white !important;
      }
      .meet{
        font-size: 1.25rem;
      }
      .btn.blue{
        white-space: normal;
      }
      .bts{
        white-space: normal;
      }
      .celeb-row{
        min-height:150px;
        margin-top:-175px !important;
      }
      .celeb-text-mobile p,.celeb-text-mobile h2 {
        color:#fff
      }
      .downtown-container{
        min-height:1200px;
      }
      .downtown-container-fluid{
        background-image:url(/redesign/img/campus-downtown-san-antonio.jpg);
        background-size:cover;
        min-height:500px;
        max-height:800px;
      }


      #section-downtown p{
        color:#fff;
        font-size: 1.25rem;
      }
      @media screen and (max-width:1800px){
        h1.first-gen-title{
          font-size:5vw;
          padding-left: 14vw;
        }
        h2.dt-title{
          font-size:3.25vw;
        }
      }
      @media screen and (max-width:1400px){
        h1.first-gen-title{
          padding-left: 13vw;
        }
        h2.dt-title{
          font-size:3vw;
        }
      }
      @media screen and (max-width:1200px){
        h1.first-gen-title{
          font-size:6vw;
          padding-left: 5vw;
        }
        h2.dt-title{
          font-size:4vw;
        }
      }
      @media screen and (max-width:800px){
        h1.first-gen-title{
          font-size:7vw;
          padding-left: 2vw;
        }
        h3{
          font-size: 1.35rem;
        }
        .firstcharacter {
          font-size: 3.5rem;
          line-height: 25px;
          padding-right: 2px;
        }
        h2.dt-title{
          font-size:4vw;
        }
      }
      @media screen and (min-width:1099px) {
        h1.page-title {
          font-size: 3rem;
        }
        .text-md-right{
          text-align:right !important;
        }
        .mb-10{
          margin-bottom:10rem;
        }
        .mt-7{
          margin-top:7rem;
        }
        .mb-7{
          margin-bottom:7rem;
        }
        .mt-4{
          margin-top:4rem;
        }
        .profile{
          background-color:rgba(241, 90, 34, 0.9);
          box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
        }
        .meet-profile{
          background-color:rgba(5,40,69,.9);
          box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
          min-height: 215px;
        }
        .gray-bg{
          background-color:rgba(164, 179, 201, 0.75);
          margin-top:.5rem;
          min-height:150px;
          padding: 15px 25px 1px 25px;
        }
        .meet-more{
          font-size: 4rem;
        }

      }
      @media screen and (min-width:768px) and (max-width:1099px) {
        .text-md-right{
          text-align:right;
        }
        h2.prof-title{
          font-size: 1.5rem;
        }
        .mb-10{
          margin-bottom:10rem;
        }
        .mt-7{
          margin-top:1rem;
        }
        .profile{
          background-color:rgba(241, 90, 34, 0.9);
          box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
        }
        .gray-bg{
          background-color:rgba(164, 179, 201, 0.75);
          margin-top:.5rem;
          min-height:150px;
        }
      }
      @media screen and (max-width:1099px) {
        .border-orange{
          border-left:25px solid #f15a22;
          border-right:25px solid #f15a22;
        }
        .celeb-text>h2{
          font-size: 1.5rem;
        }
        .paddingBoth120 {
          padding-bottom: 60px !important;
        }
      }
      @media screen and (min-width:1100px) {
        .bts{
          padding-top:28%;
          padding-bottom:28%;
          min-height: 125px;
        }
        .btx{
          padding-top:21%;
          padding-bottom:21%;
          min-height: 125px;
        }
      }
      @media screen and (min-width:876px) and (max-width:1099px) {
        .bts{
          padding-top:25%;
          padding-bottom:25%;
          min-height: 125px;
        }
        .btx{
          padding-top:20%;
          padding-bottom:20%;
          min-height: 125px;
        }
        .carousel {
          max-height: 465px;
          overflow: hidden;
        }
        .downtown-container{
          min-height:600px;
        }
      }
      @media screen and (max-width:875px) {
        .border-orange{
          border-left:20px solid #f15a22;
          border-right:20px solid #f15a22;
        }
        .bts{
          padding-top:5%;
          padding-bottom:5%;
          min-height: 50px;
        }
        .btx{
          padding-top:5%;
          padding-bottom:5%;
          min-height: 50px;
        }
        .carousel {
          max-height: 275px;
          overflow: hidden;
        }

        .downtown-container{
          min-height:600px;
        }
        #section-downtown h5{
          font-size: 1.5rem;
          font-weight: light;
        }
        #section-downtown p{
          font-size: 1.1rem;
        }

      }
      @media screen and (max-width:767px) {
        h2.prof-title{
          font-size: 1.5rem;
        }
        .mb-10{
          margin-bottom:10rem;
        }
        .mt-7{
          margin-top:4rem;
        }
        .mobile-orange-bg{
          background-color:rgba(241, 90, 34, 0.9);
          box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.2);
          max-height: 230px;
          min-height: 180px;
        }
        .mobile-gray-bg{
          background-color:rgba(164, 179, 201, 0.75);
          margin-top:.5rem;
        }
        .bottom-align-img{
         margin-top:-17vw !important;

        }
        .meet-profile{
          background-color:rgba(5,40,69,.9);
          box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
          max-height: 230px;
          min-height: 180px;
        }
        .gray-bg{
          background-color:rgba(164, 179, 201, 0.75);
          margin-top:.5rem;
          min-height:150px;
        }
        .meet-align-img{
          margin-top:-17vw !important;
          margin-left:15%;
          width:55vw !important;
        }
        .mobile-mt-5{
          margin-top: 10rem;
        }
        .mobile-mt-3{
          margin-top: 5rem;
        }
        .mobile-mt-1{
          margin-top: 5rem;
        }
        .mobile-gray-bg h6{
          color:#000 !important;
        }
        .bg-first{
          background:none !important;
        }
        .border-orange{
          border-left:15px solid #f15a22;
          border-right:15px solid #f15a22;
        }
      }
      @media screen and (min-width:575px){
        .resources-nav{
          border-right:2px solid #f15a22;
        }
        .first-gen-support-text h2{
          font-size: 3.5rem;
        }
        .first-gen-support-text p{
          font-size: 1.25rem;color: #0c2340
        }
      }
      @media screen and (max-width:574px){
        .resources-nav{
          border-bottom:2px solid #f15a22;
        }
        .meet-align-img{
          margin-top:-17vw !important;
          margin-left:15%;
          width:65vw !important;
        }
      }
      @media screen and (min-width:1600px) and (max-width:2000px) {
        .downtown-container{
          min-height:900px;
        }
      }
      @media screen and (min-width:1100px) and (max-width:1599px) {
        .downtown-container{
          min-height:800px;
        }
        .pt-xl-5 {
          padding-top: 0 !important;

        }
      }
      #section-hero{
        //margin-bottom: -10px;
      }
      #section-currently h2{
        color:#a2b1c6;
        line-height: 1.25;
      }
      #section-currently ul {
        color:#fff;
        font-weight: bold;
        //font-size: 2rem !important;
        letter-spacing: 2px;
        line-height: 1.25;
      }
      #section-currently ul {
        list-style-type: none;
        padding-left:5px;
        margin-left:5px;
        margin-bottom: 0px;
      }

      #section-currently li {
        padding-left: 20px;
        margin-bottom: 10px
      }


        @media screen and (max-width:1893px) {
          #section-currently h2{
            font-size: 2.5rem;
          }
        }
        @media screen and (max-width:1593px) {
          #section-currently h2{
            font-size: 2rem;
          }
        }
        @media screen and (max-width:1383px) {
          #section-currently h2{
            font-size: 1.75rem;
          }
          #section-currently .pb-xl-4{
           padding-bottom:10px !important;
          }
        }

      .job-predictions-text p{
        font-size: 1.25rem;
      }

      #section-brighter p{
        font-size: 1.25rem;
      }

      .carousel-fade .carousel-inner .item {
        -webkit-transition-property: opacity;
        transition-property: opacity;
      }
      .carousel-fade .carousel-inner .item,
      .carousel-fade .carousel-inner .active.left,
      .carousel-fade .carousel-inner .active.right {
        opacity: 0;
      }
      .carousel-fade .carousel-inner .active,
      .carousel-fade .carousel-inner .next.left,
      .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
      }
      .carousel-fade .carousel-inner .next,
      .carousel-fade .carousel-inner .prev,
      .carousel-fade .carousel-inner .active.left,
      .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-control {
        z-index: 2;
      }

      .li-text{
        font-weight:lighter !important;

      }
