/**
 ** FirstGen Overrides Styles Start
 **/

h1.page-title {
  padding-left:1vw;
}

.profile h3 {
}

 .mobile-gray-bg h6{
   color:#fff;
 }
 .embed-responsive-21by9:before {
     padding-top: 43.3714%;
 }
 h2.dt-title{
   font-size:4.5vw;
   font-weight: bold;
   text-transform: uppercase;
 }
 .resources-nav a:link,
 .resources-nav-last a:link,
 .resources-nav a:visited,
 .resources-nav-last a:visited{
   color:#fff ;
   font-weight: bolder;
   font-family: "Open Sans", open sans, helvetica, arial, sans-serif;
 }
 .resources-nav a:hover,.resources-nav-last a:hover{
   color:#f15a22;
 }
 .resources-nav-container{
   margin-bottom: -8px;
 }
 .vertical-align {
   margin-top: auto;
   margin-bottom: auto;
   padding-right: 1rem;
   padding-left: 1rem;
 }
 .meet-text{
   font-size: 1.1rem;
   color:#0c2340;
 }
 .bg-first{
   background: url(/redesign/img/footer-bg.png);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 100% auto;
 }
 .blue-bg{
   background-color:#0c2340;
 }
 .gray-bg{
   background-color: rgba(220, 220, 220, 0.85);
 }
 .top-copy h3{
   font-weight: normal;
   line-height: 1.25;
 }
 .top-copy p{
   font-size: 1.25rem;
 }
 .mobile-gray-bg .fa{
   color:white !important;
 }
 .meet{
   font-size: 1.25rem;
 }
 .btn.blue{
   white-space: normal;
 }
 .bts{
   white-space: normal;

 }
 .celeb-row{
   min-height:150px;
   margin-top:-175px !important;
 }
 .celeb-text-mobile p,.celeb-text-mobile h2 {
   color:#fff
 }
 h2.prof-title{
   font-size: 1.65rem;
 }
 h3.prof-title{
   font-size: 1.65rem;
 }
 @media screen and (max-width:1800px){
   h1.first-gen-title{
     font-size:5vw;
     padding-left: 14vw;
   }
   h2.dt-title{
     font-size:3.25vw;
   }
 }
 @media screen and (max-width:1400px){
   h1.first-gen-title{
     padding-left: 13vw;
   }
   h2.dt-title{
     font-size:3vw;
   }
 }
 @media screen and (max-width:1200px){
   h1.first-gen-title{
     font-size:6vw;
     padding-left: 5vw;
   }
   h2.dt-title{
     font-size:4vw;
   }
 }
 @media screen and (max-width:800px){
   h1.first-gen-title{
     font-size:7vw;
     padding-left: 2vw;
   }
   h3{
     font-size: 1.35rem;
   }
   .firstcharacter {
     font-size: 3.5rem;
     line-height: 25px;
     padding-right: 2px;
   }
   h2.dt-title{
     font-size:4vw;
   }
 }
 @media screen and (min-width:1099px) {
   h1.page-title {
     padding-left:3vw;
   }
   h1.page-title {
     font-size:3rem;
   }
   .text-md-right{
     text-align:right !important;
   }
   .profile{
     min-height: 215px;
   }
   .mb-10{
     margin-bottom:10rem;
   }
   .mt-7{
     margin-top:7rem;
   }
   .mb-7{
     margin-bottom:7rem;
   }
   .mt-4{
     margin-top:4rem;
   }
   .profile{
     background-color:rgba(241, 90, 34, 0.9);
     box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
   }
   .gray-bg{
     background-color:rgba(164, 179, 201, 0.75);
     margin-top:.5rem;
     min-height:150px;
     padding: 15px 25px 1px 25px;
   }
   .meet-more{
     font-size: 4rem;
   }
   .bg-first{
   min-height:40vw;

   }
 }
 @media screen and (min-width:768px) and (max-width:1099px) {
   .text-md-right{
     text-align:right;
   }
   h2.prof-title{
     font-size: 1.5rem;
   }
   .mb-10{
     margin-bottom:10rem;
   }
   .mt-7{
     margin-top:1rem;
   }
   .profile{
     background-color:rgba(241, 90, 34, 0.9);
     box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, 0.2);
   }
   .profile{
     min-height: 215px;
   }
   .gray-bg{
     background-color:rgba(164, 179, 201, 0.75);
     margin-top:.5rem;
     min-height:150px;
   }
   .bg-first{
     background-image: none
   }
 }
 @media screen and (max-width:1099px) {
   .border-orange{
     border-left:25px solid #f15a22;
     border-right:25px solid #f15a22;
   }
   .celeb-text>h2{
     font-size: 1.5rem;
   }
 }
 @media screen and (min-width:1100px) {
   h1.page-title {
     padding-left:10vw;
   }
   .bts{
     padding-top:15%;
     padding-bottom:15%;
     min-height: 105px;
   }
 }
 @media screen and (min-width:876px) and (max-width:1099px) {
   .bts{
     padding-top:5%;
     padding-bottom:5%;
   }
   .carousel {
     max-height: 465px;
     overflow: hidden;
   }
 }
 @media screen and (max-width:875px) {
   .border-orange{
     border-left:20px solid #f15a22;
     border-right:20px solid #f15a22;
   }
   .bts{
     padding-top:5%;
     padding-bottom:5%;
     min-height: 50px;
   }
   .btx{
     padding-top:5%;
     padding-bottom:5%;
     min-height: 50px;
   }
   .carousel {
     max-height: 275px;
     overflow: hidden;
   }
 }
 @media screen and (max-width:767px) {
   h2.prof-title{
     font-size: 1.5rem;
   }
   .mb-10{
     margin-bottom:10rem;
   }
   .mt-7{
     margin-top:4rem;
   }
   .mobile-orange-bg{
     background-color:rgba(241, 90, 34, 0.9);
     box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.2);
     max-height: 230px;
     min-height: 180px;
   }
   .mobile-gray-bg{
     background-color:rgba(164, 179, 201, 0.75);
     margin-top:.5rem;
   }
   .gray-bg{
     background-color:rgba(164, 179, 201, 0.75);
     margin-top:.5rem;
     min-height:150px;
   }

   .mobile-mt-5{
     margin-top: 10rem;
   }
   .mobile-mt-3{
     margin-top: 5rem;
   }
   .mobile-mt-1{
     margin-top: 5rem;
   }
   .mobile-gray-bg h6{
     color:#000 !important;
   }
   .bg-first{
     background:none !important;
   }
   .border-orange{
     border-left:15px solid #f15a22;
     border-right:15px solid #f15a22;
   }
 }
 @media screen and (min-width:575px){
   .resources-nav{
     border-right:2px solid #f15a22;
   }
   .first-gen-support-text h2{
     font-size: 3.5rem;
   }
   .first-gen-support-text p{
     font-size: 1.25rem;color: #0c2340
   }
 }
 @media screen and (max-width:574px){
   .resources-nav{
     border-bottom:2px solid #f15a22;
   }

 }
 @media screen and (min-width:1600px) and (max-width:2000px) {
   h1.page-title {
     padding-left:15vw;
   }
   .bg-first{
     min-height: 50vh;
     background-position: center top;
   }
 }
 @media screen and (min-width:1100px) and (max-width:1500px) {
   .bg-first{
     min-height: 55vh;
     background-position:right bottom;
   }
 }
 a.btn.btn-primary.orange{
   text-transform: uppercase;
 }
 a.btn>i{
   color:#F15a22;
 }
