#global-header, #global-footer {
  font-family: "ff-meta-web-pro", sans-serif;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: anialiased;
  text-rendering: optimizeLegibility;
  font-family: "ff-meta-web-pro", sans-serif;
 }


 p, h1, h2, h3, h4, h5, h6, #section-currently ul, #section-reimagined ul {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
 }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto\9; }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
  color: #0c2340; }

a:hover h1 ,
a:hover h2 ,
a:hover h3  {
  color: #FFFFFF; }

a:hover i,
a:hover i,
a:hover i {
  color: #0c2340; }


h1,
h2,
h3,
h5 {
  margin: .3em 0 .3em; }

h1.page-title {
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter
}

h1, h2, h3, h4, h5, h6 {
  color: #0c2340;
}

.secondary {
  color: #f15a22;
}

.alt {
  color: #19656f;
}

.alt-overlay {
  color: #FFFFFF;
}


/* light blue carousel prev/next controls */
.carousel-control-prev{
  left:0
}
.carousel-control-next{
  right:0
}
.carousel-control-next, .carousel-control-prev{
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  text-decoration:none;
}

a:-webkit-any-link {
text-decoration: none;
}

.img100{
 width: 100%;
}


@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}


.carousel-control-prev,
.carousel-control-next {
  color: #212529;
  font-size:1.75em;
  opacity: 0.75;
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #212529;
    opacity: .9; }


/**
 ** List Style with Orange Arrow
 **/
.arrowlist li:before {
    position: absolute;
    left: 0;
    font-family: FontAwesome;
    content: "\f0da";
    color: #f15a22;
}


ul.arrowlist {
  list-style-type: none;
  padding-left:5px;
  margin-left:5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.15rem;

}

#section-currently ul.arrowlist {
  font-size: 1.75rem;
}

.arrowlist li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.arrowlist ul {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.75;
}

@media screen and (max-width:1893px) {
  .arrowlist ul {
    font-size:1.75rem;
  }
}
@media screen and (max-width:1593px) {
  .arrowlist ul {
    font-size:1.5rem;
  }
  #section-currently ul.arrowlist {
    font-size: 1.5rem;
  }
}
@media screen and (max-width:1383px) {
  .arrowlist ul {
    font-size:1.15rem;
  }
  #section-currently ul.arrowlist {
    font-size: 1.25rem;
  }
}

/**
 ** Padding Styles
 **/

 .paddingBoth120 {
   padding-top: 120px !important;
   padding-bottom: 120px !important;
 }
 .paddingBoth60 {
   padding-top: 60px !important;
   padding-bottom: 60px !important;
 }
 .paddingTop60 {
   padding-top: 60px !important;
 }
 .paddingBottom60 {
   padding-bottom: 60px !important;
 }
 .paddingBottom120 {
   padding-bottom: 120px !important;
 }
 .padding-lr-none{
   padding-left: 0;
   padding-right: 0;
 }
 .mt-15{
   margin-top: -15px;
 }

   .firstcharacter {
     color: #0c2340;
     float: left;
     font-family: "Open Sans", open sans, helvetica, arial, sans-serif;
     font-size: 5rem;
     line-height: 45px;
     padding-top: 10px;
     padding-right: 5px;
   }
   .bottom-left {
       position: absolute;
       bottom: 0;
       left: 0;
       background-color: rgba(5,40,69,.75) !important;
       -webkit-backdrop-filter: blur(2px);
       backdrop-filter: blur(2px);
   }
   .btn-primary{
     border:none;
     padding-left:20px;
     padding-top: 7.5px;
     padding-bottom: 7.5px;
     font-size: .8rem;
   }
   .profile p{
     color:black;
   }
   .profile h5{
     color:#0c2340;
   }
   a.btn>i{
     color:#FFFFFF;
   }
   a.btn:hover>i.fa-lg{
     color:#f15a22;
   }
   .border-orange{
    border-left:29px solid #f15a22;border-right:29px solid #f15a22;
   }
   .celeb-text{
    margin-left: 2.5rem;
   }
   .celeb-text h2, .celeb-text p{
    color:#fff;
   }
   .carousel {
    max-height: 600px;
    overflow: hidden;
   }
   .carousel-item img {
    width: 100%;
    height: auto;
   }
   .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 75px;
    height: 75px;
   }
