<!-- css overlay dialog code for custom rss form -->

<div id="feedback-dialog" title="Subscribe to Sombrilla Online">
  <div id="feedFormDiv">
    
<script language='javascript' src='http://echo3.bluehornet.com/phase2/bhecho_files/smartlists/check_entry.js'></script>
<script language="javascript">
<!--
            function check_cdfs(form) {
                        return true;
            }
-->
</script>

<script language='javascript' type='text/javascript'>
<!--
    function doSubmit() {
        if (check_cdfs(document.survey)) {
                                    window.open('','signup','resizable=1,scrollbars=0,width=300,height=150');
            return true;
        }
        else { return false; }
    }
-->
</script>

      <form action="http://echo3.bluehornet.com/phase2/bullseye/contactupdate1.php3" method="post" name="bullseye" id="bullseye"   onsubmit="return doSubmit();" target="signup">
      <table cellspacing="9">
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>First Name:</b></font></div></td>
          <td><input type='text' name='firstname' id='bullseye_firstname' class='required'>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>Last Name:</b></font></div></td>
          <td><input type='text' name='lastname' id='bullseye_lastname' class='required'>
          </td>
        </tr>
        <tr>
          <td><input type=hidden name="cid" value="8183fda4905fd7a057141a5c2ce571">
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="1"><b>Email:</b></font></div></td>
          <td><input type="text" name="email" id='bullseye_email' class='required'>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>Address:</b></font></div></td>
          <td><input type='text' name='address'id='bullseye_address'>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>City:</b></font></div></td>
          <td><input type='text' name='city' id='bullseye_city'>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>State:</b></font></div></td>
          <td><select name='state' style="font-size:12px;" id='bullseye_state'>
              <OPTION value='' selected>Select One</OPTION>
              <option  value='AK'>AK</option>
              <option  value='AL'>AL</option>
              <option  value='AR'>AR</option>
              <option  value='AZ'>AZ</option>
              <option  value='CA'>CA</option>
              <option  value='CO'>CO</option>
              <option  value='CT'>CT</option>
              <option  value='DC'>DC</option>
              <option  value='DE'>DE</option>
              <option  value='FL'>FL</option>
              <option  value='GA'>GA</option>
              <option  value='HI'>HI</option>
              <option  value='IA'>IA</option>
              <option  value='ID'>ID</option>
              <option  value='IL'>IL</option>
              <option  value='IN'>IN</option>
              <option  value='KS'>KS</option>
              <option  value='KY'>KY</option>
              <option  value='LA'>LA</option>
              <option  value='MA'>MA</option>
              <option  value='MD'>MD</option>
              <option  value='ME'>ME</option>
              <option  value='MI'>MI</option>
              <option  value='MN'>MN</option>
              <option  value='MO'>MO</option>
              <option  value='MS'>MS</option>
              <option  value='MT'>MT</option>
              <option  value='NC'>NC</option>
              <option  value='ND'>ND</option>
              <option  value='NE'>NE</option>
              <option  value='NH'>NH</option>
              <option  value='NJ'>NJ</option>
              <option  value='NM'>NM</option>
              <option  value='NV'>NV</option>
              <option  value='NY'>NY</option>
              <option  value='OH'>OH</option>
              <option  value='OK'>OK</option>
              <option  value='OR'>OR</option>
              <option  value='PA'>PA</option>
              <option  value='RI'>RI</option>
              <option  value='SC'>SC</option>
              <option  value='SD'>SD</option>
              <option  value='TN'>TN</option>
              <option  value='TX'>TX</option>
              <option  value='UT'>UT</option>
              <option  value='VA'>VA</option>
              <option  value='VT'>VT</option>
              <option  value='WA'>WA</option>
              <option  value='WI'>WI</option>
              <option  value='WV'>WV</option>
              <option  value='WY'>WY</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'> <b>Zip Code:</b></font></div></td>
          <td><input type='text' name='postal_code' id='bullseye_postal'>
          </td>
        </tr>
        <tr>
          <td><div align='right'><font face='Arial, Helvetica, sans-serif' size='1'><b>Email Format:</b></font></div></td>
          <td><input type='radio' id='bullseye_nopref' name='email_type' value='N' checked >
            <font face='Arial, Helvetica, sans-serif' size='1'>No Preference</font>
            <input type='radio' id='bullseye_html' name='email_type' value='H'>
            <font face='Arial, Helvetica, sans-serif' size='1'>HTML</font>
       		<input type='radio' id='bullseye_plain' name='email_type' value='P'>
            <font face='Arial, Helvetica, sans-serif' size='1'>Plain Text</font>	</td>
        </tr>
      
        <input type='hidden' id='bullseye_hidden' name='message' value="Thank you for your subscription. Your information has been submitted. To ensure delivery of Sombrilla Online, please add sombrilla@utsa.edu to your address book, spam filter whitelist, or tell your company's IT group to allow this address to pass through any filtering software they may have set up.">
        
   
        
        <!--
        <tr>
          <td>&nbsp;</td>
          <td>
              <input type="submit" id='bullseye_submit' name="SubmitBullsEye" value="Submit">
              <input type=hidden name='grp[]' value='687986'>
			</td>
        </tr>
        -->
      
    </table>
    </form>
  </div>
</div>
