<div class="writeBack-webex shareThoughts">

<h3 class="toc-head">SHARE <span style="color:#999; font-size:70%;">Your Thoughts</span></h3>

<p>Please keep all comments constructive and relevant to the articles you're
commenting on. Sombrilla reserves the right to delete or edit messages.
</p>
<!--<h3 style="padding-top:20px;"><a href="/sombrilla/summer2010/story/share_your_thoughts.cfm">Share your thoughts</a></h3>-->

<div id="test"> 
<!---
<form id="myForm" name="myForm" action="#" method="post">
    <p class="sb_form">Your E-mail Address<span id="valid" class="error"></span></p> 
    <input class="sb_email required" type="text" name="sb_recipient" id="sb_recipient"/>
    <p class="sb_form">Message</p>
    <textarea class="sb_textarea" name="sb_message" id="sb_message"></textarea>
	<p class="sb_form">Fill out the letters in the image below:</p>
     <div id="wrap" align="center"><img src="/sombrilla/inc/imgs/captcha.jpg" alt="" width="165" height="50" id="captcha" /><br clear="all" />
        <input name="code" type="text" id="code">
     </div>
     <img src="/sombrilla/img/refresh.jpg" width="25" alt="refresh captcha" id="refresh" /><br clear="all" />
    
    <input type="submit" class="sb_submit" value="submit" name="Send" id="Send"/>
    <br clear="all" />
</form>
--->
</div>

<!--<br />

<div class="floatL" style="width:540px; padding-bottom:20px; margin-right:20px;">
    <div id="fb-root"></div>
    
    <script src="http://connect.facebook.net/en_US/all.js#appId=182645075098946&amp;xfbml=1"></script>
    <fb:comments numposts="10" width="540" publish_feed="true"></fb:comments>
</div>

<div class="floatL" style="width:300px;">
    <p style="color:#f47321; padding-top:20px; font-weight:bold;">Don't have Facebook?</p>
    <p id="message">We'd love to hear from you. Use this <a style="color:#f47321; text-decoration:none; border-bottom:1px solid #f47321;" href="/sombrilla/summer2010/story/share_your_thoughts.cfm">form</a> to share your thoughts and it will get e-mailed to <a style="color:#f47321; text-decoration:none; border-bottom:1px solid #f47321;" href="mailto:sombrilla@utsa.edu">sombrilla@utsa.edu</a>.
    <br />
    Check out the next issue to see if your message gets published in our "Your Letters" section.</p>
</div>
-->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'sombrilla'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = 'unique_dynamic_id_1234';
    var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a style="color:#002a5c;" href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>



<div class="floatC"></div>

</div>