<div id="title">
    <a href="/sombrilla/"><img class="SombrillaMast" src="/sombrilla/img/sombrillaLogoNew.png" border="0" style="position:absolute; margin-top:30px; margin-left:-20px; z-index:0;"/></a>

    <h1>Sombrilla</h1>
    <h2>The University of Texas at San Antonio Online Magazine</h2>
		
        <div class="navigation floatR">
        <h3><a href="/sombrilla/" style="color: #FB750E;">Current Issue</a> | <a href="/sombrilla/webExclusive/index.html" style="color: #FB750E;">Web Exclusives</a> | <a href="/sombrilla/archives/" style="color: #FB750E;">Past Issues</a></h3>
		</div>
        
    <div class="clear"></div>
</div>