<div id="title">
    <a href="/sombrilla/"><img class="SombrillaMast" src="/sombrilla/img/sombrillaLogoBlack.png" border="0" style="position:absolute; margin-top:10px; margin-left:-20px; z-index:0;"/></a>

    <h1>Sombrilla</h1>
    <h2>The University of Texas at San Antonio Online Magazine</h2>
		
        <div class="navigation floatR">
        <h3><a href="/sombrilla/">Current Issue</a> | <a href="/sombrilla/webExclusive/index.html">Web Exclusives</a> | <a href="/sombrilla/archives/">Past Issues</a></h3>
		</div>
        
    <div class="clear"></div>
</div>