<div id="topBar"><div class="branding container">
    <div class="logo floatL"><a href="http://utsa.edu" target="_blank"><img src="/sombrilla/img/utsaMark-20x60.png" alt="UTSA" border="0"/></a>
    <a href="http://utsa.edu" target="_blank">The University of Texas at San Antonio</a></div>
    <div class="links floatR">
    <ul>
    <li><a href="http://utsa.edu/today" target="_blank">UTSA Today</a></li>
    <li><a href="http://www.utsa.edu/calendar/" target="_blank">Calendars</a></li>
    <li><a href="http://www.utsa.edu/maps/1604/" target="_blank">Campus Maps</a></li>

    <li><a href="http://www.utsa.edu/directory/" target="_blank">Directory</a></li>
    </ul>
    </div>
    <div class="floatC"></div>
</div></div>