<div class="writeBack-webex">
<h3>Share your thoughts</h3>

<div id="test" style="background-color:#ffffff;"> 
<p id="message">We'd love to hear from you. Use this form to share your thoughts and it will get emailed to <a href="mailto:sombrilla@utsa.edu">sombrilla@utsa.edu</a>. Check out the next issue to see if your message gets published in our "Your Letters" section.</p>
<form id="myForm" name="myForm" action="/sombrilla/inc/process_writeback.cfm" method="post" style="background-color:#ffffff;">
    
    <p class="sb_form" style="background-color:#ffffff;">
    Your E-mail Address<span id="valid" class="error"></span></p> 
    
    <input class="sb_email required" type="text" name="sb_recipient" id="sb_recipient" style="width:250px;"/>
    <p class="sb_form" style="background-color:#ffffff;">Message</p>
    
    <textarea class="sb_textarea" name="sb_message" id="sb_message" style="width:250px;"></textarea>
    

	<script type="text/javascript" src="/sombrilla/js/jquery.captcha.js"></script>
    <link type="text/css" href="/sombrilla/css/captcha.css" rel="stylesheet"  />
<!--	<style type="text/css" media="screen">
		body { background-color: white; }
	</style>-->
	<script type="text/javascript" charset="utf-8">
		$(function() {
			$(".ajax-fc-container").captcha({
				borderColor: "silver",
				text: "Verify that you are a human,<br />drag <span>scissors</span> into the circle."
			});
		});
	</script>
    
    <br/>
    
	<!-- Begin of captcha -->	
	 <div class="ajax-fc-container" style="background-color:#ffffff; padding-top:10px;">You must enable javascript to see captcha here!</div>
	<!-- End of captcha -->
    
    
    <input type="submit" class="sb_submit" value="submit" name="send" id="sb_send"/>
    
</form>
</div>
<!--<h3 style="padding-top:20px;"><a href="http://www.facebook.com/UTSASombrilla" target="_blank" style="color:#333;">Find us on Facebook</a></h3>-->
</div>