<div class="nav-gray">
  <ul>
    <li>
      <a href="../../index.html">Home</a>
    </li>
    <li>
      <a href="../../Planning-and-Implementation/index.html">Pathway</a>
      <ul>
        <li>
          <a href="../../Planning-and-Implementation/pathway.html">Strategic Planning and Implementation Pathway</a>
        </li>
        <li>
          <a href="../../Planning-and-Implementation/imagine.html">Imagine</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="../../Peer-Models/index.html">Peer Models</a>
      <ul>
        <li>
          <a href="../../Peer-Models/index.html">Peer Models of Excellence</a>
        </li>
        <li>
          <a href="../../Peer-Models/Comparison-Data.html">Comparison Data</a>
        </li>
        <li>
          <a href="../../Peer-Models/ASU.html">Arizona State University</a>
        </li>
        <li>
          <a href="../../Peer-Models/FIU.html">Florida International University</a>
        </li>
        <li>
          <a href="../../Peer-Models/GMU.html">George Mason University</a>
        </li>
        <li>
          <a href="../../Peer-Models/GSU.html">Georgia State University</a>
        </li>
        <li>
          <a href="../../Peer-Models/PSU.html">Portland State University</a>
        </li>
      </ul>
    </li>
    <li>

      <a href="../index.html">Presidential Initiatives</a>
      <ul>
        <li>
          <a href="../CampusMasterPlan/index.html">Campus Master Plan</a>
        </li>
        <li>
          <a href="../downtowncampus/index.html">Downtown Campus</a>
        </li>
        <li>
          <a href="../financebudgetmodel/index.html">Finance and Budget Modeling</a>
        </li>
        <li>
          <a href="../strategiccommunications/index.html">Strategic Communications</a>
        </li>
        <li>
          <a href="../strategicenrollment/index.html">Strategic Enrollment</a>
        </li>
        <li>
          <a href="index.html">Student Success</a>
        </li>
        <li>
          <a href="../researchexcellence/index.html">Research Excellence</a>
        </li>
      </ul>
    </li>
    <li>

      <a href="../../strategic-initiatives/index.html">Strategic Initiatives</a>



      <ul>
        <li>
          <a href="../../strategic-initiatives/tuitionandfees/index.html">Tuition and Fees</a>
        </li>
        <li>
          <a href="../../strategic-initiatives/sacscoc/index.html">SACSCOC Reaffirmation of Accreditation 2020</a>
        </li>
        <li>
          <a href="../../strategic-initiatives/DataGovernanceandIntegrity/index.html">Data Governance and Integrity</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="../../tactical-initiatives/index.html">Tactical Initiatives</a>
      <ul>
        <li>
          <a href="../../tactical-initiatives/nscc/index.html">National Security Collaboration Center</a>
        </li>
        <li>
          <a href="../../tactical-initiatives/athletics/index.html">Athletics Facility</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="../../operational-initiatives/index.html">Operational Initiatives</a>
    </li>
    <li>
      <a href="../../past-initiatives/index.html">Past Initiatives</a>
      <ul>
        <li>
          <a href="../../past-initiatives/credithouroptimization/index.html">Weighted Student Credit Hour Optimization</a>
        </li>
        <li>
          <a href="../../past-initiatives/behavioral/index.html">Behaviorial Intervention Team</a>
        </li>
        <li>
          <a href="../../past-initiatives/dreamers/index.html">Dreamers Center</a>
        </li>
        <li>
          <a href="../../past-initiatives/prevention/index.html">Sexual Violence Prevention and Support</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
