<div class="nav-gray updates-listing">
  <h3>Latest Updates</h3>
  <ul>
    <li>
      <a href="../../index.html">7/27 - Update #1 Headline</a>
      <p>Pork chop turducken ham, sausage ball tip chuck meatball...</p>
    </li>
    <li>
      <a href="../../index.html">7/27 - Update #2 Headline</a>
      <p>Pork chop turducken ham, sausage ball tip chuck meatball...</p>
    </li>
    <li>
      <a href="../../index.html">7/27 - Update #3 Headline</a>
      <p>Pork chop turducken ham, sausage ball tip chuck meatball...</p>
    </li>
    <li>
      <a href="../../index.html">7/27 - Update #4 Headline</a>
      <p>Pork chop turducken ham, sausage ball tip chuck meatball...</p>
    </li>
    <li>
      <a href="../../index.html">7/27 - Update #5 Headline</a>
      <p>Pork chop turducken ham, sausage ball tip chuck meatball...</p>
    </li>
  </ul>
  <br/>
  <p class="shadow-sm bg-white pt-1 pb-1 rounded text-center">
    <a class="" href="#">Read All News Updates</a>
  </p>
</div>
