
	<!-- start site footer -->
	<section id="site-footer" style="padding-top:1.1em;margin-top:1.5em;background-color: #eee;">
		<div class="container" itemscope="" itemtype="http://schema.org/Organization">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<p><span style="font-size: 18pt;"><strong><span style="color: #ff6600;">A Vision for UTSA</span></strong></span></p>
					<span style="color: #000000;"><a href="../index.html" style="color: #000000;"><strong>Presidential Initiative</strong></a></span><br/>
					<ul>
						<li><a href="../CampusMasterPlan/index.html">Campus Master Plan</a></li>
						<li><a href="../downtowncampus/index.html">Downtown Campus</a></li>
						<li><a href="index.html">Student Success</a></li>
						<li><a href="../strategicenrollment/index.html">Strategic Enrollment</a></li>
						<li><a href="../financebudgetmodel/index.html">Finance and Budget Modeling</a></li>
						<li><a href="../strategiccommunications/index.html">Strategic Communications</a></li>
						<li><a href="../researchexcellence/index.html">Research Excellence</a></li>
					</ul>
					<span style="color: #000000;"><a href="../../tactical-initiatives/index.html" style="color: #000000;"><strong>Tactical Initiatives</strong></a></span>
					<ul>
						<li><a href="../../tactical-initiatives/nscc/index.html">National Security Collaboration Center</a></li>
						<li><a href="../../tactical-initiatives/athletics/index.html">Athletics Facility</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="d-none d-lg-block" style="height: 3.6rem;">&#160;</div>
					<span style="color: #000000;"><a href="../../strategic-initiatives/index.html" style="color: #000000;"><strong>Strategic Initiatives</strong></a></span>
					<ul>
						<li><a href="../../strategic-initiatives/tuitionandfees/index.html">Tuition and Fees</a></li>
						<li><a href="../../past-initiatives/credithouroptimization/index.html">Weighted Student Credit Hour Optimization</a></li>
						<li><a href="../../strategic-initiatives/sacscoc/index.html">SACSCOC Reaffirmation of Accreditation 2020</a></li>
						<li><a href="../../strategic-initiatives/DataGovernanceandIntegrity/index.html">Data Governance and Integrity</a></li>
					</ul>
					<span style="color: #000000;"><a href="../../operational-initiatives/index.html" style="color: #000000;"><strong>Operational Initiatives</strong></a></span>
					<ul>
						<li><a href="../../past-initiatives/dreamers/index.html">Dreamers Center</a><a href="../../past-initiatives/behavioral/index.html"></a></li>
						<li><a href="../../past-initiatives/prevention/index.html">Prevention of Sexual Violence</a></li>
						<li><a href="../../past-initiatives/behavioral/index.html">Behavioral Intervention Team</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="d-none d-lg-block" style="height: 3.6rem;">&#160;</div>
					<span style="font-size: 14pt;"><strong><span style="color: #ff6600;">View/Download Presentation (pdf)</span></strong></span>
					<p><a href="../../documents/AVisionforUTSA.pdf"> <img alt="A Vision For UTSA" height="140" src="../../images/AVisionforUTSA.png" width="250"/> <br/></a></p>
					<span style="font-size: 14pt;"><strong><span style="color: #ff6600;">Questions/Comments?</span></strong></span>
					<p><a href="mailto:president@utsa.edu">Send us an email</a></p>
				</div>
			</div>
		</div>
	</section>

	<!-- end site footer -->
