<section class="container" id="site-banner">
  <div class="containerWrapper">
    <div class="row">
      <div class="col-sm-12 col-md-12 departmentalPageBanner">
        <img alt="" data-path="${bannerSectionPath}" src="../../images/MainCampusMonument-defaultBanner.jpg" width="100%"/>
        </div>
      </div>
    </div>
</section>
