
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
 ** FirstGen Overrides Styles Start
 **/

#section4 .fa-angle-right {
  font-size: 1.5rem;
  font-weight: bolder;
}
.embed-responsive-21by9:before {
  padding-top: 43.3714%;
}

.border-orange{
 border-left:31px solid #f15a22;
 border-right:31px solid #f15a22;
}

.vertical-align {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.gray-bg-mobile {
  font-size: 1.5rem;
}
.gray-bg, .grey-bg {
  background-color: rgba(164, 179, 201, 0.75);
}
@media screen and (max-width:767px){
  .gray-bg-mobile {
    background-color: rgba(164, 179, 201, 0.75);
  }
  .orange-bg-mobile {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 34%, rgba(241, 90, 34, 0.95) 34%);
  }
  .mobile-spacer{
  height:700px;
  }
}

.mobile-gray-bg .fa {
  color: #fff !important;
}

.btn.blue {
  white-space: normal;
}

.celeb-row {
  min-height: 150px;
  margin-top: -175px !important;
}

@media screen and (max-width: 800px) {
  .firstcharacter {
    padding-top: 15px;
    font-size: 3.5rem;
    line-height: 25px;
    padding-right: 2px;
  }
}

@media screen and (min-width: 1099px) {
  .gray-bg {
    background-color: rgba(164, 179, 201, 0.75);
    margin-top: .5rem;
    min-height: 150px;
    padding: 15px 25px 1px 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .gray-bg {
    background-color: rgba(164, 179, 201, 0.75);
    margin-top: .5rem;
    min-height: 200px;
    padding-top: 15px;
  }
  .gray-bg-mobile>p{
    font-size: 1rem;
  }
  .gray-bg-mobile>h3, .gray-bg-mobile a{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1099px) {
  .border-orange {
    border-left: 25px solid #f15a22;
    border-right: 25px solid #f15a22;
  }
  .gray-bg {
    min-height: 250px;
  }
}

@media screen and (min-width: 1100px) {
}

@media screen and (min-width: 876px) and (max-width: 1099px) {
  .carousel {
    max-height: 465px;
    overflow: hidden;
  }
}

@media screen and (max-width: 875px) {
  .border-orange {
    border-left: 20px solid #f15a22;
    border-right: 20px solid #f15a22;
  }
  .carousel {
    max-height: 275px;
    overflow: hidden;
  }
  .gray-bg {
    min-height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-gray-bg {
    background-color: rgba(164, 179, 201, 0.75);
    margin-top: .5rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .gray-bg {
    background-color: rgba(164, 179, 201, 0.75);
    margin-top: .5rem;
    min-height: 150px;
    padding-top: 15px;
  }

  .border-orange {
    border-left: 15px solid #f15a22;
    border-right: 15px solid #f15a22;
  }
}

@media screen and (min-width: 575px) {
  .resources-nav {
    border-right: 2px solid #f15a22;
  }
}

@media screen and (max-width: 574px) {
  .resources-nav {
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #f15a22;
  }
}


.mountains-bg{
  background-image:url('/spotlights/firstgen/img/mountains_bg.png');
}
.stars-bg{
  background-image:url('/spotlights/firstgen/img/stars_bg.png');
}
