.utsaToday-Logo{margin-top: 1.4em;}

      /*.utsaToday-date{float: right; font-style: italic; font-weight: 500;}
      .utsaToday-date em{color: #0C2340;}*/
      .utsaToday-date{display: none;}

      .utsaTodayIndex-RightContainer{
        background: #F4F4F4;
        padding: 1em 1em;
      }

      .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12{margin-top: 0; margin-bottom: 0; line-height: 0;}
      .utsaToday-MainMenu{background: #0C2340; margin-bottom: 1em;}
      .utsaToday-MainMenu ul{margin: 0;}
      .utsaToday-MainMenu ul li{display: inline-block; padding: 0.6em 0.6em;}
      .utsaToday-MainMenu ul li:hover{background: #0D3466;}
      .utsaToday-MainMenu ul li a{color: #ffffff; display: inline;}

      .utsaToday-SectionTitle{float: left; display: inline; font-weight:400; text-align: center; color: #ffffff; font-size: 0.95em; background: #f15a22; padding: 0.3em 1.5em; margin-bottom: 1.5em;}

      .utsaToday-MoreNews hr{margin: 1em 0;}

      .utsaToday-AroundCampus hr, .utsaToday-RightSide hr{margin: 2em 0; border-style: dotted; border-color: #cdcdcd;}

      h3{color: #000000; font-size: 1.1em; margin-bottom: 0.3em;} /*Overriding*/
      p{font-size: 0.95em;} /*Overriding*/

      /*events*/
      .event-item {margin-bottom:5px;}
      .event-date {float:left; width:100%; margin: 0 0 0.3em 0; color: #f15a22; font-weight: bold; font-size: 14px;}
      .event-loc {float:left; width:100%; margin: 0 0 0.3em 0; color: #f15a22; font-weight: bold; font-size: 14px;}
      .event-date span.month {}
      .event-date span.day {}
      .event-name {float:left; width:100%; margin-bottom: 1em;}
      .event-name a {color:#002a5c; border-bottom:1px solid #f47321;}
      .event-name a:hover {color:#f47321;}
      .event-name h3{margin-bottom: 0.5em;}
      .event-name p {margin-bottom:10px; font-size: 13px; font-weight: bold; color: #f15a22;}
      .event-desc {font-style: normal; font-weight: normal; color: #111111;}
      .addthis h3{margin-bottom: 1.5em;}

      .boxed .moreCalendars{display: none;}
      .boxed hr{display: none;}

  .content-feature{
      width: 97.8%;
      height: 400px; /*300px;*/
      margin: 0 0 20px 0;
      background-color: #1a1a1a;
      border: 6px solid #F4F4F4;
      overflow: hidden;
    }

    .content-feature .span_5_of_12, .content-feature .span_7_of_12{
      margin: 0;
    }

  h3 a{color: #f15a22;}

	.tabs{
      z-index: 800;
      /*width: 272px;*/
      margin: 0;
      padding: 0;
      background: #234B84;
      border-right: 6px solid #fff;
      opacity: 0.9;
    }
    .hiddenAnchor{
      display: none;
    }
    .tab{
      height: 70px;
      padding: 15px;
      border-bottom: 1px solid #767676;
    }
    .tab:last-child{
      border-bottom: none;
    }
    .selected{
      background: #002a5c;
      cursor: pointer;
    }
    .tab a{
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      line-height: 21px;
      /*
      font-size: 12px;
      line-height: 16px;
      */
    }
    .tab p.article_descript{
      display: none;
      /*
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10.5px;
      line-height: 14px;
      color: #fff;
      */
    }
    .panels{
      float: left;
      width: 425px; /* 312px */
      height: 400px; /* 400px */
      margin: 0;
      padding: 0;
      /*margin-left: 278px;*/
    }

    .utsaToday-FeaturedMobile{
      display: none;
    }
    /*
      @media screen and (max-width: 950px){
        .panels{
          display: none;
        }
        .tabs{
          width: 58%;
        }
      }
    */

    .byline{
      margin-top: 1.5em;
    }

    #didYouKnowExpand{
      display: none;
      float: left;
    }
    .img-right{float: right; padding: 0 0 0 25px;}
    .img-left{float: left; padding: 0 25px 0 0;}

    #todaySearch{float: right; padding: 3px 5px; margin: 6px 4px 6px 0;}

    #mainStoryHighlights{margin: 0 0 1.5em 0;}

    #mainStoryHighlights a{float: left; color: #0C2340; font-weight: bold;}
    #mainStoryHighlights a:hover{color: #f15a22;}

    .mainHighlightMobile{display: none;}

    #todayPhotoOfTheDay p{margin: 0;}

    #departmentalMobileMenuTrigger{display: none;}

      @media screen and (max-width: 1060px){
        .tab p.article_descript{
          display: none;
        }
      }

      @media screen and (max-width: 767px){
        .twoColumnRight .span_8_of_12{width: 100%;}
        .twoColumnRight .span_4_of_12{width: 100%; margin-left: 0;}

        .needtofixthis{display: none;}


        .submitCampusNewswire, .submitEvents{margin-bottom: 2.5em;}

        #mainStoryHighlights .mainHighlight .mainHighlightDesc a{padding: 0.5em 1em;}

        #departmentalMobileMenuTrigger{display: block; background: #0C2340; padding: 1em 0;}
        #departmentalMobileMenuTrigger:hover{cursor: pointer;}
        #departmentalMobileMenuTrigger p{color: white; margin: 0; padding: 0 0.7em 0 1.4em;}

        #departmentalMobileMenuExpand{display: none;}

        #mainStoryHighlights{margin: 1.5em 0 0 0;}

        .utsaToday-date{display: none;}
        #departmentalSocialNav{display: none;}

        /*today menu*/
        .utsaToday-MainMenu{overflow: hidden;}
        .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12{width: 100%;}
        .utsaToday-MainMenu .span_7_of_12 ul li{width: 100%; padding: 15px 0; border-top: 1px solid #3D3D3D;}
        .utsaToday-MainMenu .span_7_of_12 ul li:hover{background: none;}
        .utsaToday-MainMenu .span_7_of_12 ul li a{padding-left: 20px;}

        .utsaToday-MainMenu .span_5_of_12{margin-left: 0;}
        .utsaToday-MainMenu .span_5_of_12 #todaySearch{display: block; padding: 0.6em 0; margin: 0; text-indent: 15px; width: 100%; -webkit-box-sizing : border-box;â€Œâ€‹ -moz-box-sizing : border-box; box-sizing : border-box;
        }
      }

      @media screen and (max-width: 480px){
        .tab p.article_descript{
          display: block;
        }

        .submitCampusNewswire, .submitEvents{margin-bottom: 3.5em;}

        .img-right{
          width: 100%;
          margin: 0;
          /*
          width:300px;
          margin: 10px 0px 10px 20px;
          float:right;
          */
          }

          .img-left{
            width: 100%;
            margin: 0;
            /*
            width:300px;
            margin: 10px 30px 10px 0px;
            float:left;
            */
          }

          #mainStoryHighlights .span_6_of_12 a, .mainHighlightMobile a{margin-bottom: 1.5em;}
          #mainStoryHighlights .section:last-child .span_4_of_12:last-child a{margin-bottom: 0;}

        .mainStoryHighlight{display: none;}
        .mainHighlightMobile{display: block;}

        .utsaToday-MoreNews img{display: none;}
      }


	    .img-right img, .img-left img {border:5px solid #ddd; margin-bottom:9px;}

		.img-caption {
			width:300px;
			font-size:11px;
			color:#333;
			font-style:italic;
			padding-top:8px;
			padding-bottom:10px;
			border-bottom:1px solid #aaa;
		}

	ul.archive-category, ul.archive-date  {
			list-style:none;
		}

	div.addthis{
		margin-bottom:5px;
	}
