




 @media print {
	 #at4-toaster, .utsaTodayIndex-RightContainer, .learnMore, .at4-recommended, #global-footer, .site-footer, .nav, .col-md-3{
		 display:none;
	}
	 .col-md-5.col-sm-12{
		 display:none;
	}
	 .at4-recommended-toaster .ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-toaster.ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-toaster, .ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-container{
		 display:none;
	}
	 .at-branding-icon, .at-branding-addthis{
		 display:none;
	}
	 .col-md-9{
		 width:100% !important;
	}
	 #banner{
		 display:none;
	}
	 .container{
		 width:100% !important;
	}
	 p {
		 font-size: 1.5rem !important;
	}
}

p {
    font-size: 1rem;
    color: #0c2340;
}
h2 {
  font-size: 2rem;
}
h3 {
    font-size: 1.1em;
}
a, a h2, a h5, a h3, a h4, a h1 {
    transition: all .5s ease-in !important;
    -webkit-transition: all .3s ease-in !important;
    -moz-transition: all .3s ease-in !important;
    -ms-transition: all .3s ease-in !important;
    -o-transition: all .3s ease-in !important;
}
hr {
    border-top: 0;
    border-bottom: 1px dotted #cdcdcd;
    margin: 1em 0 !important;
}

/*start scrolling navbar styles*/
 #departmentalPageNav {
	 background: #0c2340;
	 margin-left: 0;
	 margin-bottom: 0;
	 padding-left: 1rem;
}
 #departmentalPageNav li {
	 float: none;
	 display: inline-block;
	 margin-right: 0;
	 position: relative;
	 color: #fff;
	 padding: 15px 10px;
	 cursor: default;
}
 #departmentalPageNav li a {
	 border-bottom: none;
	 color: #fff;
	 padding: 15px 0;
	 text-decoration: none;
}
 #departmentalPageNav li a:hover {
	 color: #f15a22;
}
 .navbar-nav {
	 padding-top: 0px!important;
}
 @media screen and (max-width:991px){
	 .navbar-nav-scroll{
		 max-width: 100%;
		 height: 3.25rem;
		 overflow: hidden;
	}
	 .navbar-nav-scroll .navbar-nav {
		 padding-bottom: 1px;
		 overflow-x: auto;
		 white-space: nowrap;
		 -webkit-overflow-scrolling: touch;
	}
}
/*end scrolling navbar styles*/
/*branding styles*/
 .bg-orange {
	 background-color: #f15a22;
}
 .alt-overlay, .alt-overlay h2, .alt-overlay h5{
	 color:#fff !important;
}
a.alt-overlay h2:hover, a.alt-overlay h5:hover{
  color:#f15a22 !important;
}
 .bg-orange a.alt-overlay:hover{
	 color:#0c2340;
}
 .dark-grey-text{
	 color: #333;
}
 .mid-grey-text{
	 color: #555;
}
.blue-text{
  color: #0c2340;
}
 .light-grey-text{
	 color: #777;
}
 .secondary {
	 color: #f15a22;
}
 .smallest, .smallest > p {
	 font-size: .75rem;
}
 .smaller, .smaller > p {
	 font-size: .95rem;
}
 .gray-bg, .grey-bg {
	 background-color: #eee;
}
/** ** List Style with Orange Arrow **/
 .arrowlist li:before {
	 position: absolute;
	 left: 0;
	 font-family: FontAwesome;
	 content: "\f0da";
	 color: #f15a22;
}
 ul.arrowlist {
	 list-style-type: none;
	 padding-left: 0px;
	 margin-left: 5px;
	 margin-bottom: 0;
   font-size: .95rem;
}
 ul.arrowlist ul {
	 list-style-type: none;
	 padding-left: 15px;
	 margin-left: 15px;
	 margin-bottom: 0;
}
 .arrowlist li {
	 position: relative;
	 padding-left: .75rem;
	 margin-bottom: .25rem;
}
 .input-group .form-control {
	 position: relative;
	 -ms-flex: 1 1 auto;
	 flex: 1 1 auto;
	 width: 1%;
	 margin-bottom: 0;
}
