@charset "UTF-8";
/* SASS file for bundle.min.css only used for index slides for faster loading */
/*
$grid-breakpoints: (
//  // Extra small screen / phone
//  xs: 0,
//  // Small screen / phone
sm: 400px,
//  // Medium screen / tablet
md: 700px,
//  // Large screen / desktop
lg: 900px,
//  // Extra large screen / wide desktop
xl: 1000px
) ;
*/
/* utsa-max breakpoints for global header behavior */
/* --------------------------------------------------------
   Slick Carousel
   -------------------------------------------------------- */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/_files/components/slick-carousel/slick/fonts/slick.eot");
  src: url("/_files/components/slick-carousel/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/_files/components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("/_files/components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("/_files/components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.55; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #0c2340;
        opacity: 0.55;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #f15a22;
      opacity: 1; }

/* --------------------------------------------------------
   UTSA GLOBAL header, footer, responsive breakpoint and top level content styles
   -------------------------------------------------------- */
/*.internalSlimBtn{
	padding: 0.8em 1em 0.8em 0;
	color: white;
	//text-indent: 8px;
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;
	display:inline-block; margin: 0 0 0.5em 0;
	transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
 }
*/
.internalBtn {
  margin: 0.5em;
  padding: 0.8em;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1em;
  font-weight: 400;
  /*15px;*/
  transition: all .5s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in; }

/*

.internalSlimBtn span, .internalBtn span {
	margin-right:.2em; transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}

.internalBtn b {
	float: right; font-weight:100; padding-right: 1em; font-size: 1.1em;
}
*/
/*Colors for the Buttons*/
.white {
  background: white;
  color: #f15a22; }

/*.white b{color: $utsa-orange;}*/
/*Hover Effect*/
.white:hover {
  background: #f15a22;
  color: white; }

.white:hover span {
  color: white; }

.blue {
  background: #0c2340;
  color: white; }

.blue b, .blue span {
  color: #f15a22; }

/*Hover Effect*/
.blue:hover {
  background: #f15a22;
  color: white; }

.blue:hover span {
  color: white; }

.orange {
  background: #f15a22;
  color: #ffffff; }

.orange span, .orange b {
  color: #ffffff; }

/*Hover Effect*/
.orange:hover {
  background: #ffffff;
  color: #f15a22; }

.orange:hover span {
  color: #f15a22; }

/*.darkGray {background: #888888; color: #ffffff;}
.darkGray span, .darkGray b {color:#ffffff;}
.darkGray:hover{background: $utsa-orange;}*/
h1, h2 {
  font-weight: 700; }

#backToTop {
  display: none; }

.slideContentMainTitle, h1.slideContentMainTitle {
  font-weight: 700;
  font-size: 4.7em;
  line-height: 1em;
  padding: 0 0 .1em;
  margin: 0; }

h2 {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0;
  margin: 0 0 .25em; }

h3 {
  font-style: italic;
  font-size: 1em;
  padding-bottom: .25em; }

.slideEventInfo p {
  font-weight: 300;
  margin-top: .2em;
  line-height: 1.3em;
  font-size: .95em; }

ul {
  list-style-type: none; }

p {
  margin: 0; }

/*.slideContainer img {
	border:1px solid #fff
}
*/
.slideContainer img.noBorder {
  border: none; }

.orangeHead {
  color: #f15a22; }

h1, h3, p, ul {
  color: #fff; }

.slideEventInfo img {
  width: 100%; }

a, a.orangeCTA {
  color: #f15a22; }

a.orangeCTA, a.whiteCTA {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none; }

a.orangeCTA:hover, a.whiteCTA {
  color: #fff; }

a.whiteCTA:hover {
  color: #f15a22; }

.slideContainer {
  display: table;
  width: 100vw;
  height: 100%; }

.slide {
  margin-right: auto;
  margin-left: auto; }

.slideContainer .slideRow {
  display: table-cell;
  vertical-align: middle; }

.slideEventDetails {
  max-width: 90% !important; }

.slideContentDate, .slideContentIntro, h1 {
  color: #fff;
  font-family: ff-meta-web-pro, sans-serif; }

.slideContentDate {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0; }

.slideContentTitle {
  color: #fff; }

.slideContentIntro {
  font-style: italic;
  font-weight: 600;
  letter-spacing: .025em;
  font-size: 1.1em;
  padding-bottom: .1em;
  padding: 0 17%;
  margin-bottom: 1rem; }

.darkBG {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem; }

.Info p {
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 1.5em; }

.Info {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.pipe {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.socialIcon {
  max-width: 32px !important;
  display: inline-block !important;
  margin-right: 7px;
  margin-top: 1rem; }

@media screen and (max-width: 906px) {
  .socialIcon {
    max-width: 25px !important;
    display: inline-block !important;
    margin-right: 2px; } }

.slideEventInfo {
  padding-top: .5em;
  max-width: 1400px; }

/*
.slideEventInfo .glyphicons {
	top:1px
}


.fa-transparent-bgcolor {
	color:#fff;
	font-size:2.25em;
	opacity: 0.85;
}
*/
.slideOrangeBtn, .slideWhiteBtn {
  width: 100%;
  margin: 0 0 .5em;
  padding: .7em 0;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 400;
  transition: all .5s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in; }

.slideOrangeBtn:hover, .slideWhiteBtn:hover {
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in; }

.slideWhiteBtn {
  background: #fff;
  color: #f15a22; }

.slideOrangeBtn {
  background: #f15a22;
  color: #fff; }

.slideOrangeBtn:hover {
  background: #fff;
  color: #f15a22; }

/*
.carnegieVidIcon, .slideWhiteBtn:hover {
	background:#f15a22;
	color:#fff
}
.slideOrangeBtn .btnTxtPad, .slideWhiteBtn .btnTxtPad {
	padding-left:.8em
}*/
.slideMobileBtnContainer {
  display: none;
  margin-top: .7em; }

.slideMobileBtnContainer .slideOrangeBtn {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  max-width: 350px; }

/*
.adCalendar {
	float:left;
	margin:0 1em .7em 0;
	border:none!important;
	width:60px!important
}
.carnegieLargeTitle {
	font-size:1.8em;
	line-height:1.1em;
	margin:.1em 0 .5em
}
.carnegieVidIcon {
	float:left;
	padding:.5em 1.2em;
	border-radius:.4em
}
*/
.slideCalendarIcon, .slideCalendarIcon em {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px; }

/*
.carnegieVidLink {
	float:left;
	margin-top:.5em
}
.bestInNationTitle {
	color:#f15a22;
	font-size:1.4em;
	font-weight:700
}
.bestInNationTitle span {
	font-size:2.8em;
	line-height:1em
}
.bestInNationMessage {
	color:#fff;
	font-size:2em;
	margin-top:.5em;
	text-align:center;
	line-height:1.1em
}
*/
.slideCalendarIcon {
  width: 100%;
  background: #fff;
  font-weight: 700;
  font-size: 25px;
  padding: 0 0 .25em;
  font-family: "Lucida Sans Unicode", Arial #000, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f15a22;
  text-shadow: #fff 0 1px 0;
  margin-bottom: .15em;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.slideCalendarIcon em {
  display: block;
  font: 13px/27px ff-meta-web-pro, sans-serif;
  color: #fff;
  background: #f15a22;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px; }

@media screen and (max-width: 1100px) {
  h2 {
    font-size: 1.1em; }
  h3 {
    font-size: 0; }
  p, ul {
    font-size: .95em; }
  .slideOrangeBtn, .slideWhiteBtn {
    font-size: .95em;
    padding: .6em 0; }
  .adCalendar {
    width: 52px !important; }
  .carnegieLargeTitle {
    font-size: 1.3em; }
  .bestInNationTitle span {
    font-size: 3em; }
  .bestInNationMessage {
    font-size: 1.5em; }
  .slides-pagination {
    padding-top: 1.1em; }
  .fa-transparent-bgcolor {
    font-size: 2.0rem;
    padding-top: 0.95rem; } }

@media screen and (max-width: 867px) {
  #globalFooterContainer {
    border-top: 3px solid #f15a22; }
  #backToTop {
    display: none; }
  .fa-transparent-bgcolor {
    font-size: 1.75em;
    padding-top: 0.95rem; } }

@media screen and (max-width: 767px) {
  .slideContentDate {
    font-size: 1em; }
  .slideContentMainTitle, h1.slideContentMainTitle {
    font-size: 3em; }
  .slideContentIntro {
    font-size: 1.1em; }
  .slideEventInfo {
    display: none; }
  .slideMobileBtnContainer {
    display: block; } }

@media screen and (max-width: 480px) {
  .slideContentDate {
    font-size: .9em; }
  .slideContentMainTitle, h1.slideContentMainTitle {
    font-size: 2.1em !important; }
  .slideContentIntro {
    font-size: 1em;
    font-weight: 600; } }

@media screen and (max-width: 320px) {
  .slideContentDate {
    font-size: .85em; }
  .slideContentMainTitle, h1.slideContentMainTitle {
    font-size: 2.6em !important; }
  .slideContentIntro {
    font-size: .9em; } }

@media screen and (max-height: 640px) {
  .slideEventInfo {
    display: none; }
  .slideMobileBtnContainer {
    display: block; } }

@media screen and (max-height: 750px) {
  .slideContentDate {
    font-size: .9em; }
  .slideContentMainTitle, h1.slideContentMainTitle {
    font-size: 2.7em; }
  .slideContentIntro {
    padding: 0 5%;
    font-size: .85em; }
  h2 {
    font-size: 1.15em; }
  p, ul {
    font-size: .92em; } }

/* slick customizations/slide customizations */
/* Arrows */
.sslick-prev,
.sslick-next {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 9999; }
  .sslick-prev:hover, .sslick-prev:focus,
  .sslick-next:hover,
  .sslick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .sslick-prev:hover:before, .sslick-prev:focus:before,
    .sslick-next:hover:before,
    .sslick-next:focus:before {
      opacity: 1; }
  .sslick-prev.slick-disabled:before,
  .sslick-next.slick-disabled:before {
    opacity: 0.55; }
  .sslick-prev:before,
  .sslick-next:before {
    font-family: "FontAwesome";
    line-height: 1;
    color: white;
    opacity: 0.65;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.sslick-prev {
  left: 0;
  padding-left: 1.5%;
  width: auto; }
  [dir="rtl"] .sslick-prev {
    left: auto;
    right: 0; }
  .sslick-prev:before {
    content: "\f053"; }
    [dir="rtl"] .sslick-prev:before {
      content: "\f054"; }

.sslick-next {
  right: 0;
  padding-right: 1.5%;
  width: auto; }
  [dir="rtl"] .sslick-next {
    left: 0;
    right: auto; }
  .sslick-next:before {
    content: "\f054"; }
    [dir="rtl"] .sslick-next:before {
      content: "\f053"; }

.slide {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.slideContainer {
  height: 90vh; }

.slide-image {
  display: relative;
  min-height: 95vh;
  z-index: -900; }

.slide-image, .slideContainer {
  position: absolute;
  top: 0;
  left: 0; }

.slide-image img {
  min-width: 105vw;
  min-height: 100vh; }

.slidesContainer {
  position: relative;
  background-color: #f15a22; }
  .slidesContainer .slidesContainer::after {
    content: "";
    display: table;
    clear: both; }

.slick-arrow {
  font-size: 5em; }

.slide-controls {
  left: 0%;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1999; }

.slides-navigation {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 100; }

#thumbnailsContainerFull {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999; }

.slides-pagination {
  text-align: center;
  width: 100%;
  margin: 0; }

.slides-pagination .thumbnails {
  border: 1px solid #fff;
  width: 150px;
  padding: 4px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background: #0c2340;
  margin: 2px;
  overflow: hidden;
  opacity: .8; }

.slides-pagination a {
  color: #fff;
  font-size: .9em;
  text-decoration: none;
  line-height: 1.2em;
  font-weight: 700; }

.slides-pagination a.current {
  border: 1px solid #eee;
  opacity: .9;
  background: #f15a22; }

.slide-prev, .slide-next {
  color: #FFF;
  opacity: 0.35; }

.slide-prev:hover, .slide-next:hover {
  opacity: 1.0; }

.slide-prev {
  left: 0; }

.slide-next {
  right: 0; }

#pausePlayControl {
  padding: 12px 0px;
  color: #FFF;
  font-size: 2.25em; }

@media screen and (max-width: 1100px) {
  .slick-arrow {
    font-size: 3.5em; }
  .slides-pagination span.next, .slides-pagination span.prev {
    display: none; }
  .slides-pagination .thumbnails {
    border: 2px solid #fff;
    border-radius: 25px;
    width: 0;
    padding: 4px 5px;
    height: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
    margin: 2px;
    overflow: hidden;
    text-indent: -100%; }
  .slides-pagination a.current {
    border: 2px solid #fff;
    background: #E9562C;
    height: 15px; }
  .slides-navigation a img {
    width: 30px; }
  .slides-navigation a.prev {
    left: 5px; }
  .slides-navigation a.next {
    right: 5px; }
  .slides-navigation {
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 100; } }

@media screen and (max-width: 725px) {
  .slick-arrow {
    font-size: 2em; }
  .slides-navigation a img {
    display: none; } }

@media screen and (max-height: 640px) {
  .slick-arrow {
    font-size: 3.5em; }
  .slides-pagination span.next, .slides-pagination span.prev {
    display: none; }
  .slides-pagination .thumbnails {
    border: 2px solid #fff;
    border-radius: 25px;
    width: 0;
    padding: 4px 5px;
    height: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
    margin: 2px;
    overflow: hidden;
    text-indent: -100%; }
  .slides-pagination a.current {
    border: 2px solid #fff;
    background: #E9562C;
    height: 15px; }
  .slides-pagination {
    margin: 0 0 5px; }
  .slides-navigation a img {
    width: 30px; }
  .slides-navigation a.prev {
    left: 5px; }
  .slides-navigation a.next {
    right: 5px; }
  .slides-navigation {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 100; }
  a.pause span.glyphicons {
    padding: 12px 0px;
    color: #FFF;
    font-size: 2.25em; } }

@media screen and (max-width: 767px) {
  #pausePlayControl {
    font-size: 1.725em; } }

@media screen and (max-width: 480px) {
  #pausePlayControl {
    font-size: 1.725em; } }

@media screen and (max-width: 320px) {
  #pausePlayControl {
    font-size: 1.725em; } }

#global-footer {
  z-index: 9990;
  background-color: #373a3c; }

#globalFooterContainer {
  background: #0c2340;
  border-top: 3px solid #f15a22;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 9999; }

.text-shadow p {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.dark-background {
  background-color: rgba(0, 0, 0, 0.65);
  min-height: 150px;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 1rem; }

.dark-background h2 {
  color: #f15a22; }
  
  .box-bot{
    background-color:rgba(12,35,64,0.75);
    padding:2.5% 10% 2.5% 10%;
  }
  .box{
    background-color:rgba(12,35,64,0.75);
    background-size:cover;
    background-position: center;
    min-height: 350px;
    padding-top: 5px;
  }
  .box-bg-1{
    background-image: url('/slides/img/undergrad.jpg');
  }
  .box-bg-2{
    background-image: url('/slides/img/graduate.jpg');
  }
  .box-bg-3{
    background-image: url('/slides/img/visit.jpg');
  }
  a.internalBtnalt{
    border: none;
    margin-bottom: 1rem;
    padding: 0.5em;
  }

  /*text over photo styles*/
  .header{
    background-color: rgba(12,35,64,0.85);
  }
  p.head{
    font-size: 2.75rem;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
  p.tworows{
    line-height: 1.1;
  }
  a.internalBtnalt{
    border-radius: 0 !important;
    border:1px solid white;
    max-width: 375px;
  }
  .head1{
    width: 75%;
  }
  .head2{
    width: 50%;
  }
  .head3{
    width: 55%;
  }
  @media only screen and (max-width:1500px){
    p.head{
      font-size: 2.5rem;
    }
    .head3{
      width: 50%;
    }
  }
  @media only screen and (max-width:1400px){
    p.head{
      font-size: 2.25rem;
    }
  }
  @media only screen and (max-width:1300px){
    p.head{
      font-size: 2rem;
    }
    .box{
      min-height: 300px;
    }
    .box-bot{
      padding:2.5% 5% 2.5% 5%;
    }
    .head1{
      width: 65%;
    }
  }
  @media only screen and (max-height:875px){
    a.orangeCTAalt, a.whiteCTAalt {
        font-size: 1em;
        font-weight: 300;
    }
    a.internalBtnalt{
      margin-bottom: .75rem;
      padding: 0.25em;
    }
    .box-bot{
      padding-bottom:.5%;
      padding-top: .5%;
    }
    .box{
      min-height: 275px;
    }
  }
  @media only screen and (max-height:800px){
    .box{
      min-height: 250px;
    }
  }
  @media only screen and (min-width:1100px) and (max-width:1200px){
    p.head{
      font-size: 1.5rem;
    }
    .box{
      min-height: 250px;
    }
    .box-bot{
      padding:1.25% 2% 1.25% 2%;
    }
    .head3{
      width: 40%;
    }
    .head2{
      width: 40%;
    }
    .head1{
      width: 55%;
    }
  }
  @media only screen and (max-width:1100px){
    p.head{
      font-size: 1.85rem;
    }
    .box{
      min-height: 250px;
    }
    .box-bot{
      padding:1% 1% 1% 1%;
    }
    a.orangeCTAalt, a.whiteCTAalt {
        font-size: 1em;
        font-weight: 300;
    }
    .head3{
      width: 55%;
    }
    .head2{
      width: 55%;
    }
    .head1{
      width: 80%;
    }
  }
  @media only screen and (max-width:900px){
    .slideContentMainTitle, h1.slideContentMainTitle {
        font-size: 4.25em;
    }
  }
  @media only screen and (min-width:768px) and (max-width:900px){
    p.head{
      font-size: 1.65rem;
    }
    .col-left{
      padding-left: 0px;
      padding-right: 5px;
    }
    .col-mid{
      padding-right: 5px;
      padding-left: 5px;
    }
    .col-right{
      padding-left: 5px;
      padding-right: 0px;
    }
    .head3{
      width: 55%;
    }
    .head1{
      width: 80%;
    }
  }
  
  
  /**** SUMMER SLIDE EDITS FROM 2016 ****/
  .slide-summer-heading {
background-color: #f15a22;
padding: 5px 0 5px 5px
}
.slide-summer-white {
height: 7.5em;
background-color: #fff;
padding: 15px;
font-weight: 400;
border-radius: 3px;
}
.slide-summer-white p {
color: #0C2340;
padding-bottom: 15px;
}
.slide-summer-white a {
color: #0C2340;
font-weight: 600;
padding-left: 5px;
}
.slide-summer-white a:hover {
color: #f15a22
}
.slide-summer-white a span {
color: #f15a22
}
.slide-summer-school-message {
  /*
position: absolute;
width: 100%;
bottom: 0;
padding: 10px 0;
z-index: 99999
*/
background: #f15a22;
color: #fff;
font-weight: 700;
width: 100%;
margin: 0 0 .5em;
padding: .7em .2em .7em .2em;
display: block;
text-decoration: none;
border-radius: 3px;
font-size: 0.95em;
font-weight: 400;
transition: all .5s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in

}



.slide-summer-school-message a {
color: #fff;
font-weight: 700;
}

p.download{
    font-size:.5rem;
}
