
/**
  ONLY OVERRIDES GO IN HERE
**/
/**
 ** FirstGen Overrides Styles Start
 **/
.embed-responsive-21by9:before {
  padding-top: 43.3714%;
}

@media screen and (max-width:767px){
  .gray-bg-mobile {
    background-color: rgba(164, 179, 201, 0.75);
  }
  .orange-bg-mobile {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 34%, rgba(241, 90, 34, 0.95) 34%);
  }
  .mobile-spacer{
  height:650px;
  }
}
@media screen and (max-width:500px){
  .mobile-spacer{
  height:750px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .gray-bg-mobile>p{
    font-size: 1rem;
  }
  .gray-bg-mobile>h3{
    font-size: 1.25rem;
  }
}

.bg-prize{
  background-image:url('/spotlights/classroom2career/img/experiential-learning-backg.jpg');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.bg-stories{
  background-image:url('/spotlights/classroom2career/img/geometric-background.jpg');
}

.embed-responsive-21by9:before {
  padding-top: 43.325%;
}

h3.bigger {
  font-size: 2rem;
}
@media screen and (max-width:767px) {
  .primary-sm-text{
    color:#0c2340 !important;
  }
}
@media screen and (min-width:767px) {
  .lg-sml-text{
    font-size: 1.1rem;;
  }
}
