<div id="title">
    <a href="/sombrilla/spring2016"><img class="SombrillaMast" src="/sombrilla/img/sombrillaLogoNew2016.png" border="0" style="position:absolute; margin-top:15px; margin-left:-20px; z-index:0;" alt="Sombrilla Mast" /></a>

    <h1>Sombrilla</h1>
    <h2>The University of Texas at San Antonio Online Magazine</h2>
		
        <div class="navigation floatR">
        <h3><a href="http://www.utsa.edu/ucm/communications/publications/sombrilla.html">About</a> | <a href="http://alumni.utsa.edu/emailpreferences">Manage Email</a> | <a href="/sombrilla/archives/">Past Issues</a></h3>
		</div>
        
    <div class="clear"></div>
</div>