<section id="sombrilla-top">
  <div class="container">
    <div class="row">
      <div style="padding-bottom: .5rem;" class="col-sm-12">
        <div class="col-lg-7">
          <div class="row text-xs-center text-lg-left"><a href="/sombrilla/fall2016/">
            <img src="/sombrilla/fall2016/img/SOMmag_UTSAblue.png" alt="Sombrilla - The UTSA Magazine" width="85%" style="padding-bottom:15px;"></a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <nav class="navbar navbar-dark bg-inverse">
              <button type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" class="navbar-toggler hidden-md-up">☰</button>
              <div id="exCollapsingNavbar2" class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                  <li class="nav-item"><a href="/sombrilla/fall2016/index.html" class="nav-link" style="margin-left:15px;padding-top:0px;margin-top:0px;padding-bottom:15px;margin-bottom:5px;">Table of Contents<span class="sr-only">(current)</span></a></li>
                  <li class="nav-item"><a href="http://www.utsa.edu/sombrilla/webExclusive/" class="nav-link" style="padding-top:0px;margin-top:0px;padding-bottom:15px;margin-bottom:5px;">Web Exclusives</a></li>
                  <li class="nav-item"><a href="http://www.utsa.edu/sombrilla/archives/" class="nav-link" style="padding-top:0px;margin-top:0px;padding-bottom:15px;margin-bottom:5px;">Past Issues</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a id="fdbk_tab" href="http://alumni.utsa.edu/page.aspx?pid=293" target="_blank" class="fdbk_tab_right">FEEDBACK</a>
