<h3 class="toc-head" style="color: #f47321; font-size: 165%; font-weight: bold; padding-top: 20px;">Exclusively Online</h3>

<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="http://www.utsa.edu/sombrilla/spring2016/web-exclusive/web-torque.html" title="Stories to Be Told"><img src="/sombrilla/spring2016/web-exclusive/img/web-torque.png" alt="Stories to Be Told" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="http://www.utsa.edu/sombrilla/spring2016/web-exclusive/web-torque.html" style="border-bottom: none;">May the Torque Be with You</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">A new product created by a team of UTSA students could save companies billions.</p>
</div>





<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/spring2016/web-exclusive/web-bluehess.html" title="Stories to Be Told"><img src="/sombrilla/spring2016/web-exclusive/img/exclusives01_hess.png" alt="Stories to Be Told" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/spring2016/web-exclusive/web-bluehess.html" style="border-bottom: none;">Foster Care Firsthand</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">UTSA experts are working to fix the failing foster care system. One Roadrunner discusses his personal experience of growing up in the system.</p>
</div>

<!--<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/spring2016/web-exclusive/web-poll.html" title="The Sombrilla Poll"><img src="/sombrilla/spring2016/web-exclusive/img/exclusives02_springbreak.png" alt="Sombrilla Poll" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/spring2016/web-exclusive/web-poll.html" style="border-bottom: none;">The Sombrilla Poll</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">You have opinions and insights, and we want you to share them. Tell us what you'll be doing for your Spring Break this year.</p>
</div>
-->
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/spring2016/web-exclusive/web-quiz.html" title="Camping In"><img src="/sombrilla/spring2016/web-exclusive/img/monarch-quiz.jpg" alt="Camping In" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/spring2016/web-exclusive/web-quiz.html" style="border-bottom: none;">Butterflies for Beginners</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">Monarchs are Texas' official state insect. But how much do you really know about America's most common butterfly? Take our quiz to test your knowledge.</p>
</div>

<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/spring2016/web-exclusive/web-vidmed.html" title="Altruism and Public Health"><img src="/sombrilla/spring2016/web-exclusive/img/public-health.jpg" alt="Altruism and Public Health" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/spring2016/web-exclusive/web-vidmed.html" style="border-bottom: none;">Altruism and Public Health</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">A pair of entrepreneurial students have developed a high-tech way to help homeless individuals tackle mental health issues. </p>
</div>

<div style="margin-top: 40px;">
  <h3><strong><a href="https://issuu.com/utsanantonio/docs/sombrillamag_075_spring2016/1?e=11915352/30000297" target="_blank">Flip Through The Magazine</a></strong></h3>
  <p><a href="https://issuu.com/utsanantonio/docs/sombrillamag_075_spring2016/1?e=11915352/30000297" target="_blank"><img src="/sombrilla/spring2016/img/2016cover.jpg" width="250" height="331" alt="Sombilla Spring 2016 cover" /></a></p>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;">THE LATEST ISSUE</h5>
  <p>Check out the spring print issue with its fresh design. Click on the cover to open and start reading the all-new <em>Sombrilla Magazine.</em></p>
</div>
