    <section id="foot">
      <div class="container">
        <div class="row">
        <div class="col current">
          <h2 class="top">Current Issue: Fall 2016 | <span class="table"><a href="/sombrilla/fall2016/">Table of Contents</a></span></h2>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>TOP STORIES</h4>
            <ul>
              <li><a href="/sombrilla/fall2016/story/feature-virtual-reality.html">Advanced Reality</a></li>
              <li><a href="/sombrilla/fall2016/story/feature-witte.html">The Witte Affinity</a></li>
              <li><a href="/sombrilla/fall2016/story/feature-coaches.html">Building New Teams and Confidence</a></li>

            </ul>
          </div>
          <div class="col-md-3">
            <h4>DEPARTMENTS</h4>
            <ul>
              <li><a href="/sombrilla/fall2016/story/plaza-teaching.html">Inspired Teaching</a></li>
              <li><a href="/sombrilla/fall2016/story/plaza-cuba.html">Cuban Conservation</a></li>
              <li><a href="/sombrilla/fall2016/story/plaza-deans.html">We Three Deans</a></li>
              <li><a href="/sombrilla/fall2016/story/feature-campaign.html">Lesson Learned</a></li>
              <li><a href="/sombrilla/fall2016/story/birds-eye-view.html">Bird's-eye View</a></li>

            </ul>
          </div>
          <div class="col-md-3">
            <h4>'RUNNER REUNION</h4>
            <ul>
              <li><a href="/sombrilla/fall2016/story/alumni-foodies.html">Foodie Fervor</a></li>
              <li><a href="/sombrilla/fall2016/story/alumni-elizarraras.html">The Food Authority</a></li>
              <li><a href="/sombrilla/fall2016/story/alumni-trevino.html">Making a Difference</a></li>
              <li><a href="/sombrilla/fall2016/story/alumni-coates.html">Alana’s Wonderland</a></li>
              <li><a href="/sombrilla/fall2016/story/classNotes.html">Class Notes</a></li>
              <li><a href="/sombrilla/fall2016/story/InMemoriam.html">In Memoriam</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>WEB EXCLUSIVES</h4>
            <ul class="custBulletList">
              <li><a href="/sombrilla/fall2016/story/exclusive01-partnership.html">A Productive Partnership</a></li>
              <li><a href="/sombrilla/fall2016/story/exclusive02-nutrition.html">Knowing How to Eat Right</a></li>

            </ul>
          </div>
        </div>
      </div>
    </section>
