<h3 class="toc-head" style="color: #f47321; font-size: 165%; font-weight: bold; padding-top: 20px;">Exclusively Online</h3>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/spring2016/web-exclusive/web-bluehess.html" title="Stories to Be Told"><img src="/sombrilla/summer2015/img//sombrilla/spring2016/web-exclusive/img/exclusives01_hess.png" alt="Stories to Be Told" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/spring2016/web-exclusive/web-bluehess.html" style="border-bottom: none;">Foster Care Firsthand</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">UTSA experts are working to fix the failing foster care system. One Roadrunner discusses his personal experience of growing up in the system.</p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="https://www.utsa.edu/sombrilla/summer2015/web-exclusive/mexican-heritage.html" title="Mexican Divide"><img src="/sombrilla/summer2015/web-exclusive/img/Fig.4.5-sm.jpg" alt="Mexican Heritage" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="https://www.utsa.edu/sombrilla/summer2015/web-exclusive/mexican-heritage.html" style="border-bottom: none;">Heritage Divide </a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">A UTSA professor's new book explores a religious icon that's revered in Mexico but worshipped only secretly north of the border </p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="https://www.utsa.edu/sombrilla/summer2015/web-exclusive/wowslider.html" title="Camping In"><img src="/sombrilla/summer2015/web-exclusive/img/SCS Japan Camp Diego.jpg" alt="Camping In" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="https://www.utsa.edu/sombrilla/summer2015/web-exclusive/wowslider.html" style="border-bottom: none;">Camping In</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">Forensics, archaeology, engineering and music are some of the areas that secondary and primary school students travel to UTSA to study each summer. </p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/summer2015/web-exclusive/build-it-better.html" title="Tales of the Undead"><img src="/sombrilla/summer2015/web-exclusive/img/robotics.jpg" alt="Build it Better" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/summer2015/web-exclusive/build-it-better.html" style="border-bottom: none;">Build It Better</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">A group of UTSA students has substantially cut the cost and time required to produce a functional robot by 3D-printing the parts for a class project.</p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/summer2015/web-exclusive/roadrunner-iq.html" title="Tales of the Undead"><img src="/sombrilla/summer2015/img/web-exclusive-iq.png" alt="Research in Action" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/summer2015/web-exclusive/roadrunner-iq.html" style="border-bottom: none;">What's Your Roadrunner IQ?</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">Just how good is your knowledge of your alma mater? Take our quiz to find out and see how you rank against fellow 'Runners.</p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="/sombrilla/summer2015/story/paseo-launch-utsa.html" title="Launch UTSA"> <img src="/sombrilla/summer2015/img/web-exclusive-dollars.png" alt="Launch UTSA" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/summer2015/story/paseo-launch-utsa.html" title="LaunchUTSA" style="border-bottom: none;">Click for Dollars</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">Crowdfunding website Launch UTSA has been exceeding targets through small donations that add up.</p>
</div>
<div class="toc_story toc_hover" style="height: 255px; padding: 10px; margin-bottom: 20px;"> <a class="articleLink" href="http://www.utsa.edu/sombrilla/summer2015/web-exclusive/roadrunners-give-back.html" title="Roadrunners Give Back"><img src="/sombrilla/summer2015/img/web-exclusives-give-back.png" alt="Top Gun" /></a>
  <h5 style="color: #002a5c; font: normal 150%/1.2 Arial, Helvetica, sans-serif; padding: 10px 0px 4px 0px;"><a href="/sombrilla/summer2015/web-exclusive/roadrunners-give-back.html" title="Top Gun" style="border-bottom: none;">Roadrunners Give Back</a></h5>
  <p style="color: #555; font-size: 12px; line-height: 17px; font-family: 'Georgia', Times New Roman, Times, serif;">Each spring, UTSA faculty, staff and students fan out across San Antonio to donate time at local organizations. </p>
</div>
