<div class="toc">
  <div class="toc_storyWrapper">
    <h3 class="toc-head">Top Stories</h3>
    <div class="toc_story toc_hover" style="width:360px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/feature-monarch.html" title="Of Monarchs & Milkweed"></a> <img src="/sombrilla/spring2016/img/topstory01_monarch.png" alt="Of Monarchs & Milkweed" />
      <h5><a href="/sombrilla/spring2016/story/feature-monarch.html" title="Uniquely UTSA">More Than Just a Butterfly</a></h5>
      <p>Without pollinators like the monarch, our food supply would be in jeopardy. UTSA experts are on the case of this troubled species and its breeding and feeding habitat: milkweed.</p>
    </div>
    
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/feature-pics.html" title="Feature 2"></a> <img src="/sombrilla/spring2016/img/topstory02_pics.png" alt="Pics" />
      <h5><a href="/sombrilla/spring2016/story/feature-pics.html" title="Feature 2">Bird’s-eye View</a></h5>
      <p>Documenting standout moments with nanotechnology, world-heritage icons, and more.</p>
    </div>
    
    <div class="floatC" style="height:20px;"></div>
    <div class="toc_story toc_hover" style="width:360px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/feature-foster.html" title="Fixing a Broken System"></a> <img src="/sombrilla/spring2016/img/topstory03_foster.png" alt="Fixing a Broken System" />
    
      <h5><a href="/sombrilla/spring2016/story/feature-foster.html" title="Fixing a Broken System">Helping the Most Vulnerable</a></h5>
      <p>Foster care was designed to nurture susceptible children. But the state doesn’t know how to ensure their safety. UTSA researchers are determined to repair the failing system.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/feature-lesson.html" title="Building Tomorrow"></a> <img src="/sombrilla/spring2016/img/topstory04_galaxy.png" alt="Blackhole" />
      <h5><a href="/sombrilla/spring2016/story/feature-lesson.html" title="Blackhole">Lesson Learned</a></h5>
      <p>Working through the fact and fiction of popular theory surrounding black holes.</p>
    </div>
    <div class="floatC" style="height:40px;"></div>
    <h3 class="toc-head">Plazas &amp; Paseos: <span style="color:#999; font-size: 60%;">Campus Acclaim & Activity</span></h3>
    <div class="toc_story toc_hover" style="width:360px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-airwaves.html" title="Getting Rowdy on the Airwaves"></a> <img src="/sombrilla/spring2016/img/plazas01_airwaves.png" alt="Getting Rowdy on the Airwaves" />
      <h5><a href="/sombrilla/spring2016/story/paseo-airwaves.html" title="Getting Rowdy on the Airwaves">Getting Rowdy on the Airwaves</a></h5>
      <p>Students try their hand at producing and creating radio and TV broadcasts to gain real-world experience and provide entertainment to fellow ’Runners.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-peer.html" title="Honored Peer"></a> <img src="/sombrilla/spring2016/img/plazas02_bizios.png" alt="Honored Peer" />
      <h5><a href="/sombrilla/spring2016/story/paseo-peer.html" title="Honored Peer">Esteemed Peer</a></h5>
      <p>The National Academies honors a UTSA professor, boosting Tier One efforts.</p>
    </div>
    <div class="floatC" style="height:20px;"></div>
    <div class="toc_story toc_hover" style="width:360px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-social-studies.html" title="Social Studies"></a> <img src="/sombrilla/spring2016/img/plazas03_livinglab.png" alt="Social Studies"  />
      <h5><a href="/sombrilla/spring2016/story/paseo-social-studies.html" title="Social Studies">Insights in Human Behavior</a></h5>
      <p><strong>Research:</strong> Creating a “living” lab at the children’s museum.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-borders.html" title="Research Without Borders"><img src="/sombrilla/spring2016/img/plazas04_conacyt.png" alt="Research Without Borders" /></a>
      <h5><a href="/sombrilla/spring2016/story/paseo-borders.html" title="Research Without Borders">Foreign Exchange</a></h5>
      <p><strong>Research:</strong> Partnerships with Mexico help to build prestige.</p>
    </div>
    <div class="floatC" style="height: 20px;"></div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-standard.html" title="Setting the Standard"><img src="/sombrilla/spring2016/img/plazas05_cyber.png" alt="Setting the Standard" /></a>
      <h5><a href="/sombrilla/spring2016/story/paseo-standard.html" title="Setting the Standard">National Authority</a></h5>
      <p><strong>Cybersecurity:</strong> Feds tap UTSA to help develop standards.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-tafolla.html" title="Giving Kids a Voice"><img src="/sombrilla/spring2016/img/plazas06_tafolla.png" alt="Giving Kids a Voice" /></a>
      <h5><a href="/sombrilla/spring2016/story/paseo-tafolla.html" title="Giving Kids a Voice">Powerful Poetry</a></h5>
      <p><strong>Literacy:</strong> A professor helps kids find a voice through writing.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/paseo-brigades.html" title="Feel-good Clinical Experience"><img src="/sombrilla/spring2016/img/plazas07_dentists.png" alt="Feel-good Clinical Experience" /></a>
      <h5><a href="/sombrilla/spring2016/story/paseo-brigades.html" title="Feel-good Clinical Experience">Aiding Underserved</a></h5>
      <p><strong>Community Service:</strong> Students gain dental experience abroad.</p>
    </div>
    <div class="floatC" style="height:40px;"></div>
    <h3 class="toc-head">'Runner Reunion:<span style="color:#999; font-size: 60%;"> Alumni in Action</span> </h3>
    <div  class="toc_story toc_hover" style="width:360px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/alumni-sponhaltz.html" title="Creating a Supportive Space"> <img src="/sombrilla/spring2016/img/reunion01_sponhaltz.png" alt="Creating a Supportive Space" /></a>
      <h5><a href="/sombrilla/spring2016/story/alumni-sponhaltz.html" title="Creating a Supportive Space">Students’ Safe Haven</a></h5>
      <p>Clayton Sponhaltz ’08 knew firsthand what havoc addiction can wreak, so his role with UTSA’s Collegiate Recovery Center was a perfect career fit.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:0; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/alumni-showers.html" title="Opening Kids’ Eyes"></a> <img src="/sombrilla/spring2016/img/reunion02_wardshowers.png" alt="Opening Kids’ Eyes" />
      <h5><a href="/sombrilla/spring2016/story/alumni-showers.html" title="Opening Kids’ Eyes">Cultural Guardian</a></h5>
      <p>LaTanya Ward-Showers ’03 writes kids books about diversity.</p>
    </div>
    <div class="floatC" style="height:20px;"></div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/alumni-garrett.html" title="Building Cyber Business"></a> <img src="/sombrilla/spring2016/img/alumni03_garrett.jpg" alt="Building Cyber Business" />
      <h5><a href="/sombrilla/spring2016/story/alumni-garrett.html" title="Building Cyber Business">Cyber Sentry</a></h5>
      <p>Will Garrett M.B.A. ’12 teaches San Antonio businesses about cybersecurity.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;"> <a class="articleLink" href="/sombrilla/spring2016/story/alumni-garcia.html" title="Road Warrior"></a> <img src="/sombrilla/spring2016/img/alumni04_garcia.jpg" alt="Road Warrior" />
      <h5><a href="/sombrilla/spring2016/story/alumni-garcia.html" title="Road Warrior">Asphalt Wrangler</a></h5>
      <p>Ramiro Garcia ’91, M.S. ’97 is the man we hope can fix our Texas roadways.</p>
    </div>
    <div class="toc_story toc_hover" style="width:160px; padding:10px; margin-right:20px; height:255px;">
      <h5><a href="/sombrilla/spring2016/story/alumni-classNotes.html">Class Notes</a></h5>
      <p>News about the changing careers and lives of UTSA alumni.</p>
      <a class="articleLink" href="/sombrilla/spring2016/story/in-memoriam.html" title="In memoriam" style="text-decoration:none;"></a>
      <h5><a href="/sombrilla/spring2016/story/in-memoriam.html" title="Overheard">In Memoriam</a></h5>
      <p>Remembering our Roadrunner family. </p>
    </div>
    <div class="floatC" style="height:40px;"></div>
  </div>
  <!--end toc_storyWrapper-->
  <div class="floatC toc-spacer"></div>
</div>
<!--end toc-->
<div class="floatC"></div>
