<div class="inner">
  <div class="posts">
    <div>
      <article>
        <a href="#" class="image">
          <img src="images/pic05.jpg" alt="">
        </a>
        <div class="content">
          <h3>Blandit aliquam</h3>
          <p>Feugiat ultrices sed nibh. Quisque a lectus. Donec consectetuer
            ligula vulputate sem tristique cursus. Lorem nulla sed gravida non magna.</p>
          <ul class="actions">
            <li>
              <a href="#" class="button">More</a>
            </li>
          </ul>
        </div>
      </article>
      <article>
        <div class="content">
          <h3>Amet euismod</h3>
          <p>Sed ligula vulputate et amet tristique cursus. Lorem nulla sed
            gravida non magna sed feugiat consequat.</p>
          <ul class="actions">
            <li>
              <a href="#" class="button">More</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article>
        <div class="content">
          <h3>Sed amet feugiat</h3>
          <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec
            consectetuer ligula vulputate sem tristique cursus. Lorem nulla
            sed gravida non.</p>
          <ul class="actions">
            <li>
              <a href="#" class="button">More</a>
            </li>
          </ul>
        </div>
      </article>
      <article>
        <a href="#" class="image">
          <img src="images/pic06.jpg" alt="">
          </a>
          <div class="content">
            <h3>Gravida veroeros</h3>
            <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer
              ligula vulputate sem tristique cursus. Lorem nulla sed gravida non.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button">More</a>
              </li>
            </ul>
          </div>
        </article>
    </div>
    <div>
      <article>
        <a href="#" class="image">
          <img src="images/pic07.jpg" alt="">
        </a>
        <div class="content">
          <h3>Ipsum volutpat</h3>
          <p>Donec consectetuer ligula vulputate sem tristique cursus. Lorem nulla sed gravida non.
            Phasellus et ultricesnulla quis nibh. Quisque amet lorem lectus. Magna consectetuer
            ligula vulputate sem tristique cursus magna.</p>
          <ul class="actions">
            <li>
              <a href="#" class="button">More</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
