.chevron-buttons{
  overflow: hidden;
   cursor:pointer; 
}

div.chevron-buttons .row {
  color: $white;
  background-color: $utsa-blue;
  transition: all .25s ease-in-out;
}

div.chevron-buttons:hover .row {
  color: $utsa-blue;
  background-color: #bbc1ca;
  transition: all .25s ease-in-out;
}

div.chevron-buttons:hover i.button-i,
div.chevron-buttons:hover i.button-i,
div.chevron-buttons:hover i.button-i {
  color: $utsa-blue;
  transition: all .25s ease-in-out;
}

@media screen and (max-width:991px){
div.chevron-buttons:hover .button-i {
  margin-left: -25px;
  transition: all 0.25s ease-in-out;
}

.fa-orange, .stroke-transparent{
  letter-spacing: -10px;
  transition: all 0.25s ease-in-out;
}
}

@media screen and (min-width:992px){
div.chevron-buttons:hover .button-i {
  margin-left: -28px;
  transition: all 0.25s ease-in-out;
}

.fa-orange, .stroke-transparent{
  letter-spacing: -15px;
  transition: all 0.25s ease-in-out;
}
}

.fa-5x{
  line-height: .75;
}

div.chevron-buttons a {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 text-decoration: none; /* No underlines on the link */
 z-index: 10; /* Places the link above everything else in the div */
 background-color: #FFF; /* Fix to make div clickable in IE */
 opacity: 0; /* Fix to make div clickable in IE */
 filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
