$alt: #19656f;
$alt-light: #a2b1c6;
$light-gray: #e5e9ec;
$light-grey: #f2f2f2;
$lite-grey: #eceef0;
$light-blue-grey: #a4b2c8;
$light-blue-gray: #707cab;
$dark-gray: #333;
$yellow: #ebc045;
$darker-orange: #d3430d;
$gray-bg: rgba(164, 179, 201, 0.75);
$blue-bg-opaque: rgba(5, 40, 69, 0.9);
$orange-bg-opaque: rgba(211, 67, 13, 0.95);
$opaque: rgba(255, 255, 255, 0);

#global-footer,
#global-footer ul,
#global-header,
#global-header ul {
  font-family: "ff-meta-web-pro", sans-serif !important;
}

body,
html {
  height: 100%;
  -webkit-font-smoothing: anialiased;
  text-rendering: optimizeLegibility;
  font-family: "ff-meta-web-pro", sans-serif;
}

.smaller,
.smaller > p {
  font-size: 1rem;
}

@media screen and (max-width:767px){
  .today-containers .smaller{
    font-size: 1.25rem;
  }
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
a.profile {
  color: $utsa-blue;
}

a:hover h1,
a:hover h2,
a:hover h3 {
  color: $white;
}


h1,
h2,
h3,
h5 {
  margin: 0.3em 0;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

p,
ul {
  font-size: 1.25rem;
  color: $utsa-blue;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.slide-left {
  color: $utsa-blue;
}

.h3,
h3, span.slide-right, span.slide-left {
  font-size: 1.5rem;
}

.secondary {
  color: $orange;
}

.alt {
  color: $alt;
}

.alt-light {
  color: $alt-light;
}

.alt-overlay {
  color: $white;
}

p.decor-text {
  font-size: 2rem;
  line-height: 1.25;
}

p.first-text {
  font-size: 1.35rem;
  line-height: 1.35;
}

.blue-bg {
  background-color: $utsa-blue;
}

.light-gray-bg {
  background-color: $light-gray;
}
.light-gray-bg-opaque {
  background-color: rgba(164, 179, 201, 0.25);
}


.blue-bg-overlay {
  background-color: $blue-bg-opaque;
}

a:-webkit-any-link {
  text-decoration: none;
}
@-webkit-keyframes animat_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: $white;
  opacity: 0.75;
}

/**
 ** List Style with Orange Arrow
 **/
.arrowlist li:before {
  position: absolute;
  left: 0;
  font-family: FontAwesome;
  content: "\f0da";
  color: $orange;
}

ul.arrowlist {
  list-style-type: none;
  padding-left: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 1.15rem;
}

ul.arrowlist ul {
  list-style-type: none;
  padding-left: 15px;
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 1.15rem;
}

.arrowlist li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.orange-bg {
  background-color: $orange;
  min-height: 187px;
}

h2.long {
  font-size: 2rem !important;
}


@media screen and (max-width:1500px) {
  .orange-text-container > h2 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width:1250px) {
  .orange-text-container > h2 {
    font-size: 2rem;
  }

  h2.long {
    font-size: 1.75rem !important;
  }
}
@media screen and (max-width: 1099px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width:950px) {
  h1 {
    font-size: 2.75rem;
  }

  .orange-text-container > h2 {
    font-size: 1.75rem;
  }

  h2.long {
    font-size: 1.5rem !important;
  }
}
/**
 ** Padding Styles
 **/

.padding-lr-none {
  padding-left: 0;
  padding-right: 0;
}

.firstcharacter {
  float: left;
  font-size: 4rem;
  line-height: 45px;
  padding-top: 5px;
  padding-right: 5px;
}

.btn-primary {
  border: none;
  padding-left: 20px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 0.8rem;
}

a.btn:hover > i.fa-lg,
a.btn:link > i.fa-lg,
a.btn:visited > i.fa-lg {
  color: $orange;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg-light {
  background-color: $light-grey !important;
}

.texttoappear {
  visibility: hidden;
}

.delayedAnimation {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 12.8s;
  animation: animat_show 12.8s;
  visibility: visible !important;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-text {
   -webkit-animation: fadein 5s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s forwards; /* Firefox < 16 */
     -ms-animation: fadein 5s forwards; /* Internet Explorer */
      -o-animation: fadein 5s forwards; /* Opera < 12.1 */
         animation: fadein 5s forwards;
         animation-delay: 5s;
         visibility: visible !important;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.letter-spacing-closer {
  letter-spacing: -2px;
}

.prof-box {
  min-height: 380px;
}

a.profile:hover {
  color: $white;
}

.profile-img {
  max-height: 275px;
}

p.image-link {
  font-size: 1rem;
}

p.image-link > a:link {
  color: $utsa-blue;
}

p.image-link > a:hover {
  color: $orange;
}

.gray-bg,
.grey-bg {
  background-color: $gray-bg;
}

.white-bg {
  background-color: $white;
}
@media screen and (min-width: 1099px) and (max-width: 1199px) {
  .prof-box {
    min-height: 480px;
  }
}
@media screen and (min-width: 1099px) {

}
@media screen and (min-width: 768px) and (max-width: 1099px) {

  .prof-box {
    min-height: 420px;
  }
}
@media screen and (max-width: 767px) {

}
/*  new admissions css styles  */
h2.text-shadow,
h3.text-shadow,
h4.text-shadow,
p.text-shadow,
span.text-shadow {
  text-shadow: 1px 3px 2px rgba(0,0,0,.6) !important;
}

.branding-row{
  min-height:187px;
}

.box-text{
  font-size: 1.5rem;
  line-height: 1;
}

div.choose-text {
  left: 15px;
  width: 95%;
  height: 37.5%;
}

div.choose-text-bot {
  left: 15px;
  width: 92.25%;
  height: 82.5%;
}

.hero-text h1 {
  font-size: 7.5rem;
}

.bg-orange {
  background-color: $orange;
}

.bg-orange a {
  font-size: 1.5rem;
}

.bg-gray {
  background-color: $lite-grey;
}

hr.orange-hr {
  border-bottom: 1px solid $orange;
  border-top: none;
}

.right-orange-border {
  border-right: 1px solid $orange;
}
@media screen and (max-width:776px) {
  .right-orange-border {
    border-right: 0 !important;
  }
}
@media screen and (min-width:555px) and (max-width:776px) {
  img.w-md-75 {
    max-width: 75%;
  }

  .hero-text h1 {
    font-size: 5rem;
  }

  .bg-orange a {
    font-size: 1rem;
  }
}
@media screen and (max-width:555px) {
  h1 {
    font-size: 2rem;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .bg-orange a {
    font-size: 1.25rem;
  }
}

.text-yellow {
  color: $yellow;
}

.text-lblue {
  color: $light-blue-gray;
}

.choose-small {
  font-size: 1rem;
  line-height: 1.2;
}

.btn.blue:hover {
  background: black;
}

/*  end of new admissions css styles  */
/*  unstoppable css styles  */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-family: "FontAwesome" !important;
  font-size: 2.5rem !important;
  line-height: 1;
  color: $orange;
  opacity: 1.0;
  background-image: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-control-prev-icon:before {
  content: "\f053";
}
.carousel-control-next-icon:before {
  content: "\f054";
}

/*  end of unstoppable css styles  */
.btn.btn-primary.btn-lg.btn-block {
  font-size: 1.25rem;
}


.mt-6 {
  margin-top: 5rem;
}

.static-bg{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.orange-chevron-bg {
  background-image: url("/_files/images/home/chevron-orange-backg.png");
  background-color: $orange;
  background-position: center;
}

.blue-chevron-bg {
  background-image: url("/_files/images/home/chevron-blue-backg.png");
  background-color: $utsa-blue;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center bottom;
  background-size: auto;
}

.gray-lines-bg {
  background-image: url("/welcome-runners/img/gray-lines-background.png");
  background-size: 10px;
}

.white-lines-bg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAIAAAAmdTLBAAAAZElEQVR4AaXMgQbAMAwA0fz/325mLZN0neIA5hqJgHtx3G3t2Vpmjn9TVVfvs6J3RCxGE1Fj7BAxzxH0mqDXBL0j6B1B7wh6R9A7gt4R9I6gdwS9I+gdEU/mDhHz7RBfrwl6Tbwfhhbg5QRf0gAAAABJRU5ErkJggg==);
    background-size: 10px;
    background-color: $white;
    background-attachment: fixed;
}

.valign-center {
  top: 50%;
  transform: translateY(-50%);
}

#section-icons img {
  max-height: 600px !important;
}
@media screen and (min-width:992px) and (max-width:1200px) {
  #section-critical h4 {
    font-size: 1.25rem !important;
  }
}

.profile-text {
  background-color: $light-blue-grey;
}


.list-group-item {
  border: 0 solid $utsa-blue !important;
  padding: 0.25rem 1rem;
}

.rounded {
  border-radius: 8px !important;
}

.underlay-orange {
  background: linear-gradient(180deg, $utsa-blue 40%, $orange 40%);
}

.text {
  color: $white;
  font-size: 17px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa-orange{
  color: $orange;
}

.stroke-transparent {
  -webkit-text-stroke: 0.5px $white;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width:768px) and (max-width:1100px) {
  .text {
    font-size: 13px !important;
    bottom: 0 !important;
    -webkit-transform: translate(-50%, -0%) !important;
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
  }

}

.slide-button {
  bottom: 10%;
  right: 15%;
}


span.slide-left {
  width: 100%;
  visibility: visible !important;
  animation: slide-left 2s;
  display:block;
  font-weight: 700;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0;
    width: 100%;
    opacity: 1;
  }
}

span.slide-right {
  width: 100%;
  visibility: visible !important;
  font-size: 2rem;
  animation: 2s slide-right;
  display:block;
  font-weight: 700;
}

a.cta-link span{
  transition: 0.5s ease-out;
}
a.cta-link:hover>span {
  color:$utsa-blue !important;
  transition: 0.5s ease-in;
}
@media screen and (max-width:1000px){
  span.slide-right {
    font-size: 1.5rem;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0;
    width: 100%;
    opacity: 1;
  }
}

#biomedicine-lightbox .embed-responsive-16by9::before,
#national-security-lightbox .embed-responsive-16by9::before {
  padding: 0;
}
/*
  Classes for lazy-loading youtube embeds
*/
.yt-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.youtube {
  background-color: $utsa-blue;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}

.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: $dark-gray;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent $white;
}

.youtube .play-button,
.youtube img {
  cursor: pointer;
}

.youtube .play-button,
.youtube .play-button:before,
.youtube iframe,
.youtube img {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#brandingSlideCarousel a.carousel-control-prev,
#brandingSlideCarousel a.carousel-control-next {
  opacity: 0.7;
}

#brandingSlideCarousel a.carousel-control-prev:hover,
#brandingSlideCarousel a.carousel-control-next:hover {
  opacity: 1;
}

#brandingSlideCarousel span.carousel-control-prev-icon,
#brandingSlideCarousel span.carousel-control-next-icon {
  font-size: 4rem !important;
  width: 50px;
  height: 50px;
}

@media screen and (min-width:768px){
.today-news-containers>h3{
  font-size: 1.35rem;
}
}

.video-pre-image{
   cursor:pointer;
}
.dark-secondary{
 color: $darker-orange;
}
.darker-orange-bg {
 background-color: $darker-orange;
}
.darker-orange {
 background: $darker-orange;
}
.darker-orange:hover{
 color: $darker-orange;
 border: 1px solid $darker-orange;
}
