
.tint {
  position: relative;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(12,35,64, 0.5);
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.container-tint {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(12,35,64, 0.65);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.containers:hover .overlay {
  opacity: 1;
}

div.containers a, div.today-containers a, div.today-news-containers a {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 text-decoration: none; /* No underlines on the link */
 z-index: 10; /* Places the link above everything else in the div */
 background-color: #FFF; /* Fix to make div clickable in IE */
 opacity: 0; /* Fix to make div clickable in IE */
 filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
div.today-containers h3,
div.today-containers p, div.today-news-containers h3 {
  transition: 0.5s ease; }

div.today-containers:hover h3,
div.today-containers:hover p {
  color: #0275d3 !important;
  transition: 0.5s ease-in-out; }

div.today-news-containers:hover h3 {
  color: $orange !important;
  transition: 0.5s ease-in-out; }

div.today-containers:hover img {
  transition: 0.5s ease-in-out; }

div.today-news-containers:hover img {
  transition: 0.5s ease-in-out; }

div.today-containers:link h4, div.today-containers:link p, div.today-containers:link img, div.today-news-containers:link h3, div.today-news-containers:link img {
  transition: .5s ease-in-out; }

div.today-containers:hover h4, div.today-containers:hover p {
  color: #0275d3 !important;
  transition: .5s ease-in-out; }

  div.today-news-containers:hover h3, div.today-news-containers:hover img {
    color: $orange !important;
    transition: .5s ease-in-out; }

div.today-containers:hover img {
  transition: .5s ease-in-out; }

  .zoom {
    position: relative;
    overflow: hidden; }

  div.today-containers img, div.today-news-containers img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

  div.today-containers:hover img, div.today-news-containers:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }


    @media screen and (min-width:768px) and (max-width:1100px) {

      .container-tint > h3 {
        font-size: 1.5rem;
      }
    }
