$slick-font-family: "FontAwesome";
$slick-opacity-default: 0.65;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25 !default;

/* slick customizations/slide customizations */
/* Arrows */
.sslick-prev,
.sslick-next {
    position: absolute;
    display: block;
    height: auto;
    width: auto;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
		z-index: 9999;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
					opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
			font-family: $slick-font-family;
        //font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
				opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.sslick-prev {
    left: 0;
		padding-left: 1.5%;
		width: auto;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        content: "\f053";
        [dir="rtl"] & {
            content: "\f054";
        }
    }
}

.sslick-next {
	right: 0;
	padding-right: 1.5%;
	width: auto;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: "\f054";
        [dir="rtl"] & {
            content: "\f053";
        }
    }
}
