/*.internalSlimBtn{
	padding: 0.8em 1em 0.8em 0;
	color: white;
	//text-indent: 8px;
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;
	display:inline-block; margin: 0 0 0.5em 0;
	transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
 }
*/
.internalBtn {
	max-width:350px;
	margin: 0.5em;
	padding: 0.8em;
	// 0 .8em 0;
	display: block;
	text-decoration: none;
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;font-size: 1em; font-weight:400;
	//text-indent: 8px;
	/*15px;*/ transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}

/*

.internalSlimBtn span, .internalBtn span {
	margin-right:.2em; transition: all .5s ease-in; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in;
}

.internalBtn b {
	float: right; font-weight:100; padding-right: 1em; font-size: 1.1em;
}
*/

/*Colors for the Buttons*/
.white{background: white; color: $utsa-orange;}
/*.white b{color: $utsa-orange;}*/
/*Hover Effect*/
.white:hover{background: $utsa-orange; color: white;}
.white:hover span{color: white;}

.blue{background: $utsa-blue; color: white;}
.blue b, .blue span{color: $utsa-orange;}
/*Hover Effect*/
.blue:hover{background: $utsa-orange; color: white;}
.blue:hover span{color: white;}

.orange{background: $utsa-orange; color: #ffffff;}
.orange span, .orange b {color: #ffffff;}
/*Hover Effect*/
.orange:hover{background: #ffffff; color: $utsa-orange;}
.orange:hover span{color: $utsa-orange;}

/*.darkGray {background: #888888; color: #ffffff;}
.darkGray span, .darkGray b {color:#ffffff;}
.darkGray:hover{background: $utsa-orange;}*/

h1, h2 {
	font-weight:700
}

#backToTop {
	display:none
}

.slideContentMainTitle, h1.slideContentMainTitle {
	font-weight:700;
	font-size:4.7em;
	line-height:1em;
	padding:0 0 .1em;
	margin:0
}

h2 {
	color:#fff;
	font-size:1.2em;
	line-height:1.1em;
	padding:0;
	margin:0 0 .25em
}

h3 {
	font-style:italic;
	font-size:1em;
	padding-bottom:.25em
}

.slideEventInfo p {
	font-weight:300;
	margin-top:.2em;
	line-height:1.3em;
	font-size:.95em
}

ul {
	list-style-type:none
}

p {
	margin:0
}

/*.slideContainer img {
	border:1px solid #fff
}
*/
.slideContainer img.noBorder {
	border:none
}

.orangeHead {
	color:#f15a22
}

h1, h3, p, ul {
	color:#fff
}

.slideEventInfo img {
	width:100%
}

a, a.orangeCTA {
	color:#f15a22
}

a.orangeCTA, a.whiteCTA {
	font-size:1em;
	font-weight:600;
	text-decoration:none
}

a.orangeCTA:hover, a.whiteCTA {
	color:#fff
}

a.whiteCTA:hover {
	color:#f15a22
}

.slideContainer {
	display:table;
	width:100vw;
	height:100%
}

.slide {
	margin-right: auto;
	margin-left: auto;
}

.slideContainer .slideRow {
	display:table-cell;
	vertical-align:middle;
}

.slideEventDetails {
	max-width: 90% !important;
}

.slideContentDate, .slideContentIntro, h1 {
	color:#fff;
	font-family:ff-meta-web-pro, sans-serif
}

.slideContentDate {
	font-size:1em;
	font-weight:600;
	letter-spacing:.1em;
	text-transform:uppercase;
	margin:0
}

.slideContentTitle {
	color:#fff
}

.slideContentIntro {
	font-style:italic;
	font-weight:600;
	letter-spacing:.025em;
	font-size:1.1em;
	padding-bottom:.1em;
	padding:0 17%;
	margin-bottom: 1rem;
}

.darkBG{
	background-color: rgba(0,0,0,0.4);
	padding:1rem;
}

.Info p{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 1.5em;
}

.Info{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.pipe{
	margin-left:0.5rem;
	margin-right:0.5rem;
}


.socialIcon{
  max-width: 32px !important;
  display: inline-block !important;
  margin-right: 7px;
	margin-top: 1rem;
}
@media screen and (max-width:906px){
  .socialIcon{
    max-width: 25px !important;
    display: inline-block !important;
    margin-right: 2px;
  }
}

.slideEventInfo {
	padding-top:.5em;
	max-width:1400px;
}
/*
.slideEventInfo .glyphicons {
	top:1px
}


.fa-transparent-bgcolor {
	color:#fff;
	font-size:2.25em;
	opacity: 0.85;
}
*/

.slideOrangeBtn, .slideWhiteBtn, .slideBlueBtn {
	width:100%;
	margin:0 0 .5em;
	padding:.7em 0;
	display:block;
	text-decoration:none;
	border-radius:3px;
	font-size:1em;
	font-weight:400;
	transition:all .5s ease-in;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in
}
.slideOrangeBtn:hover, .slideWhiteBtn:hover {
	transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in
}
.slideBlueBtn {
	background:$utsa-blue;
	color:#fff;
}
.slideBlueBtn:hover {
	background:#utsa-blue;
	color:#fff;
}
.slideWhiteBtn {
	background:#fff;
	color:#f15a22;
}
.slideOrangeBtn {
	background:#f15a22;
	color:#fff;
}
.slideOrangeBtn:hover {
	background:#fff;
	color:#f15a22;
}
/*
.carnegieVidIcon, .slideWhiteBtn:hover {
	background:#f15a22;
	color:#fff
}
.slideOrangeBtn .btnTxtPad, .slideWhiteBtn .btnTxtPad {
	padding-left:.8em
}*/
.slideMobileBtnContainer {
	display:none;
	margin-top:.7em
}
.slideMobileBtnContainer .slideOrangeBtn {
	text-align:center;
	width:40%;
	margin:0 auto;
	max-width: 350px;
}
/*
.adCalendar {
	float:left;
	margin:0 1em .7em 0;
	border:none!important;
	width:60px!important
}
.carnegieLargeTitle {
	font-size:1.8em;
	line-height:1.1em;
	margin:.1em 0 .5em
}
.carnegieVidIcon {
	float:left;
	padding:.5em 1.2em;
	border-radius:.4em
}
*/
.slideCalendarIcon, .slideCalendarIcon em {
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px
}
/*
.carnegieVidLink {
	float:left;
	margin-top:.5em
}
.bestInNationTitle {
	color:#f15a22;
	font-size:1.4em;
	font-weight:700
}
.bestInNationTitle span {
	font-size:2.8em;
	line-height:1em
}
.bestInNationMessage {
	color:#fff;
	font-size:2em;
	margin-top:.5em;
	text-align:center;
	line-height:1.1em
}
*/
.slideCalendarIcon {
	width:100%;
	background:#fff;
	font-weight:700;
	font-size:25px;
	padding:0 0 .25em;
	font-family:"Lucida Sans Unicode", Arial #000, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#f15a22;
	text-shadow:#fff 0 1px 0;
	margin-bottom:.15em;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.slideCalendarIcon em {
	display:block;
	font:13px/27px ff-meta-web-pro, sans-serif;
	color:#fff;
	background:#f15a22;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px
}

@media screen and (max-width:1100px) {
	h2 {
	font-size:1.1em
	}
	h3 {
	font-size:0
	}
	p, ul {
	font-size:.95em
	}
	.slideOrangeBtn, .slideWhiteBtn {
	font-size:.95em;
	padding:.6em 0
	}
	.adCalendar {
	width:52px!important
	}
	.carnegieLargeTitle {
	font-size:1.3em
	}
	.bestInNationTitle span {
	font-size:3em
	}
	.bestInNationMessage {
	font-size:1.5em
	}
	.slides-pagination {
		padding-top: 1.1em;
	}
	.fa-transparent-bgcolor {
		font-size:2.0rem;
		padding-top:0.95rem;
	}
}
@media screen and (max-width:867px) {
	#globalFooterContainer {
	border-top:3px solid #f15a22
	}
	#backToTop {
	display:none
	}
	.fa-transparent-bgcolor {
		font-size:1.75em;
		padding-top:0.95rem;
	}
}

@media screen and (max-width:767px) {
	.slideContentDate {
	font-size:1em
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
	font-size:3em
	}
	.slideContentIntro {
	font-size:1.1em
	}
	.slideEventInfo {
	display:none;
	}
	.slideMobileBtnContainer {
	display:block
	}
}

@media screen and (max-width:480px) {
	.slideContentDate {
	font-size:.9em
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
	font-size:2.1em!important
	}
	.slideContentIntro {
	font-size:1em;
	font-weight:600
	}
	}
	@media screen and (max-width:320px) {
	.slideContentDate {
	font-size:.85em
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
	font-size:2.6em!important
	}
	.slideContentIntro {
	font-size:.9em
	}
}
@media screen and (max-height:640px) {
	.slideEventInfo {
	display:none
	}
	.slideMobileBtnContainer {
	display:block
	}
}
@media screen and (max-height:750px) {
	.slideContentDate {
	font-size:.9em
	}
	.slideContentMainTitle, h1.slideContentMainTitle {
	font-size:2.7em
	}
	.slideContentIntro {
		padding: 0 5%;
	font-size:.85em
	}
	h2 {
	font-size:1.15em
	}
	p, ul {
	font-size:.92em
	}
}

$slick-font-family: "FontAwesome";
$slick-opacity-default: 0.65;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25 !default;

/* slick customizations/slide customizations */
/* Arrows */
.sslick-prev,
.sslick-next {
    position: absolute;
    display: block;
    height: auto;
    width: auto;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
		z-index: 9999;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
					opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
			font-family: $slick-font-family;
        //font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
				opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.sslick-prev {
    left: 0;
		padding-left: 1.5%;
		width: auto;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        content: "\f053";
        [dir="rtl"] & {
            content: "\f054";
        }
    }
}

.sslick-next {
	right: 0;
	padding-right: 1.5%;
	width: auto;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: "\f054";
        [dir="rtl"] & {
            content: "\f053";
        }
    }
}


.slide {
  position: relative;
  height:100vh;
	overflow:hidden;
}

.slideContainer {
	height: 90vh;
}

.slide-image {
  //background: no-repeat 100%/100% url('');
  display: relative;
  min-height: 95vh;
	z-index:-900;
}

.slide-image, .slideContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-image img {
  min-width: 105vw;
  min-height: 100vh;
}

.slidesContainer {
  position: relative;
	background-color:$dark-gray;
  .slidesContainer::after {
    content: "";
    display: table;
    clear: both;
	}
}

.slick-arrow {
  font-size:5em;
}

.slide-controls {
  left: 0%;
  position:relative;
  text-align: center;
  width: 100%;
  z-index:1999;
}

.slides-navigation {
  position: absolute;
  top: 25%;
  width: 100%;
	z-index:100;
}

#thumbnailsContainerFull {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 999
}

.slides-pagination {
	text-align: center;
	width: 100%;
	margin: 0
}
.slides-pagination .thumbnails {
	border: 1px solid #fff;
	width: 150px;
	padding: 4px 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background: $utsa-blue;
	margin: 2px;
	overflow: hidden;
	opacity: .8
}
.slides-pagination a {
	color: #fff;
	font-size: .9em;
	text-decoration: none;
	line-height: 1.2em;
	font-weight: 700
}
.slides-pagination a.current {
	border: 1px solid #eee;
	opacity: .9;
	background: $utsa-orange
}

.slide-prev, .slide-next {
  //position: absolute;
  color: #FFF;
  opacity: 0.35;
}

.slide-prev:hover, .slide-next:hover {
  opacity: 1.0;
}
.slide-prev {
  left: 0;
}

.slide-next {
	right: 0;
  //left: 100vw;
}

#pausePlayControl {
	padding: 12px 0px;
	color:#FFF;
	font-size:2.25em;
}


@media screen and (max-width:1350px) {
}

@media screen and (max-width:1100px) {
	.slick-arrow {
	  font-size:3.5em;
	}

	.slides-pagination span.next,.slides-pagination span.prev {
	display: none
	}

	.slides-pagination .thumbnails {
		border: 2px solid #fff;
		border-radius: 25px;
		width: 0;
		padding: 4px 5px;
		height: 15px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
		margin: 2px;
		overflow: hidden;
		text-indent: -100%;
	}

	.slides-pagination a {
	}

  .slides-pagination a.current {
		border: 2px solid #fff;
	  background: #E9562C;
		height: 15px;
  }

	.slides-navigation a img {
	width: 30px
	}
	.slides-navigation a.prev {
	left: 5px
	}
	.slides-navigation a.next {
	right: 5px
	}


		.slides-navigation {
		  position: absolute;
		  top: 35%;
		  width: 100%;
			z-index:100;
		}

}

@media screen and (max-width:725px) {
	.slick-arrow {
		font-size:2em;
	}

	.slides-navigation a img {
		display: none
	}

}

@media screen and (max-height:640px) {
	.slick-arrow {
	  font-size:3.5em;
	}
  .slides-pagination span.next,.slides-pagination span.prev {
  display: none
  }

	.slides-pagination .thumbnails {
		border: 2px solid #fff;
		border-radius: 25px;
		width: 0;
		padding: 4px 5px;
		height: 15px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
		margin: 2px;
		overflow: hidden;
		text-indent: -100%
	}

	.slides-pagination a {
	}

  .slides-pagination a.current {
		border: 2px solid #fff;
	  background: #E9562C;
		height: 15px;
  }
  .slides-pagination {
  margin: 0 0 5px
  }
  .slides-navigation a img {
  width: 30px
  }
  .slides-navigation a.prev {
  left: 5px
  }
  .slides-navigation a.next {
  right: 5px
  }

	.slides-navigation {
	  position: absolute;
	  top: 40%;
	  width: 100%;
		z-index:100;
	}

  a.pause span.glyphicons {
    padding: 12px 0px;
    color: #FFF;
    font-size:2.25em;
  }
}

@media screen and (max-width: 767px){
	#pausePlayControl {
		font-size:1.725em;
	}

}

@media screen and (max-width: 480px){
	#pausePlayControl {
		font-size:1.725em;
	}
}

@media screen and (max-width: 320px){
	#pausePlayControl {
		font-size:1.725em;
	}
}

#global-footer {
	z-index:9990;
	background-color: #373a3c;
}

#globalFooterContainer {
  background: #0c2340;
  border-top: 3px solid #f15a22;
  padding-top: 1%;
  padding-bottom: 1%;
	z-index:9999;
}

.text-shadow p {
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.dark-background{
	background-color:rgba(0,0,0,0.65);
	min-height:150px;
	padding:15px 20px;
	border-radius:5px;
	margin-bottom: 1rem;
}
.dark-background h2{
	color:#f15a22;
}
